{% assign size = size | default: button_settings.button_size | default: section.settings.button_size %}
{% assign width = width | default: button_settings.button_width | default: section.settings.button_width %}
{% assign text = text | default: button_settings.button_text | default: section.settings.button_text %}
{% assign link = link | default: button_settings.link | default: section.settings.link %}
{% assign style = style | default: button_settings.button_style | default: section.settings.button_style %}
{% assign class_name = class | default: '' %}
{% assign button_tag = button_tag | default: 'span' %}
{% assign reveal_on_scroll = reveal_on_scroll
  | default: button_settings.reveal_on_scroll
  | default: section.settings.reveal_on_scroll
%}

{% if button_tag == 'button' %}
  {% assign button_type = type | default: 'button' %}
{% endif %}

{% if text_key and text == blank %}
  {% assign text = text_key | t %}
{% endif %}

{% capture button %}
  {%- if text != blank or icon != blank -%}
    {%- capture attributes -%}
        {%- if is -%} is="{{ is }}"{%- endif -%}
        {%- if aria_controls -%} aria-controls="{{ aria_controls }}"{%- endif -%}
        {%- if aria_expanded -%} aria-expanded="{{ aria_expanded }}"{%- endif -%}
    {%- endcapture -%}

    {%- if style == 'link' -%}
      {% assign class_list = 'link link--button ' %}
    {%- else -%}
      {% assign class_list = 'button ' %}
      {% if size != blank %}
        {% assign class_list = class_list | append: 'button--' | append: size | append: ' ' %}
      {% endif %}
      {% if style %}
        {% assign class_list = class_list | append: 'button--' | append: style | append: ' ' %}
      {% endif %}
      {% if width %}
        {% assign class_list = class_list | append: 'button--' | append: width | append: ' ' %}
      {% endif %}
    {%- endif -%}
    {%- if icon -%}
        {% assign class_list = class_list | append: 'button--flex' | append: ' ' %}
    {%- endif -%}
    {% if class_name != blank %}
      {% assign class_list = class_list | append: class_name %}
    {% endif %}
    {% assign class_list = class_list | strip %}

    {% if is_link %}
      <a href="{{ link }}" class="{{ class_list }}" {{ attributes }}>
        {% if icon != blank %}
          {% render 'icon' with icon %}
        {% endif %}
        {{- text | escape -}}
      </a>
    {% else %}
      <{{ button_tag }} {% if button_type %}type="{{ button_type }}"{% endif %} class="{{ class_list }}" {{ attributes }}>
          {% if icon %}
            {% render 'icon' with icon %}
          {% endif %}
        {{- text | escape -}}
        </{{ button_tag }}>
    {% endif %}
  {%- endif -%}
{% endcapture %}

{%- if button != blank -%}
  {% if has_wrapper == true %}
    <div
      class="button-wrapper {{ wrapper_class | strip }}"
      {% if reveal_on_scroll %}
        reveal
      {% endif %}
    >
      {{ button }}
    </div>
  {% else %}
    {{ button }}
  {% endif %}
{%- endif -%}
