{% assign cart_gift_wrap_product = settings.cart_gift_wrap %}
{%- assign product_form_id = 'product-cart-gift-wrap-'
  | append: section.id
  | append: '-'
  | append: cart_gift_wrap_product.id
-%}

{% assign gift_wrap_product_in_cart = false %}
{% assign gift_wrap_product_line_item_id = '' %}

{% for item in cart.items %}
  {% if item.product.id == cart_gift_wrap_product.id %}
    {% assign gift_wrap_product_in_cart = true %}
    {% assign gift_wrap_product_line_item_id = item.id %}
    {% assign gift_wrap_product_line_item_position = forloop.index %}
  {% endif %}
{% endfor %}

<cart-gift-wrap-checkbox
  class="cart-gwc"
  form-id="{{ product_form_id }}"
  gift-wrap-id="{{ gift_wrap_product_line_item_id }}"
  gift-wrap-position="{{ gift_wrap_product_line_item_position }}"
>
  <div class="cart-gwc__checkbox-container checkbox-container">
    <input
      class="cart-gwc__checkbox checkbox"
      type="checkbox"
      id="gw_agree"
      {% if gift_wrap_product_in_cart == true %}
        checked="checked"
      {% endif %}
    >
    <label class="cart-gwc__label" for="gw_agree">
      {{ 'cart.general.gift_wrap' | t }}
    </label>
  </div>
</cart-gift-wrap-checkbox>

{% style %}
  line-item-quantity[item-id='{{ gift_wrap_product_line_item_id }}'] .quantity-selector {
    display: none !important;
    visibility: hidden;
    position: absolute;
  }
{% endstyle %}
