{% comment %}
  Note:
  as a part of transition from the old label types (tags, simple metafields)
  towards metaobject labels, this snippet handles metafield labels v2 only
{% endcomment %}

{% comment %}
  Params:
  placement (string) - required
  product (product object) - required
{% endcomment %}
{% assign labels_type = settings.labels_type %}
{% assign labels_list_alignment = 'label-list--alignment-' | append: settings.labels_placement_title_alignment %}

{% if product and labels_type == 'metafields_v2' %}
  {%- capture common_labels -%}
    {% comment %} Sold out label {% endcomment %}
    {%- capture sold_out_label -%}
      {%- if product.available == false and settings.sold_out_display == 'label' -%}
        {% assign sold_out_label_text = 'collection.product.sold_out' | t %}
        {% render 'label', style: 'subdued', text: sold_out_label_text %}
      {%- endif -%}
    {%- endcapture -%}
    {% comment %} Discount label {% endcomment %}
    {%- capture discount_label -%}
      {%- if settings.show_discount and settings.discount_label_text != blank -%}
        <product-discount-label>
          <template>
            {% render 'label', style: 'highlight', text: settings.discount_label_text %}
          </template>
        </product-discount-label>
      {%- endif -%}
    {%- endcapture -%}

    {% comment %} Default placement for product item {% endcomment %}
    {%- if placement == settings.labels_placement -%}
      {% comment %} hide sold_out when overlay is active {% endcomment %}
      {%- unless settings.sold_out_display == 'overlay' -%}
        {{ sold_out_label }}
      {%- endunless -%}
      {{ discount_label }}
    {%- endif -%}

  {%- endcapture -%}

  {% comment %} Product Discount Component {% endcomment %}
  {%- capture product_discount -%}
    {% if placement == settings.discount_placement or placement == section.settings.discount_placement %}
      <product-discount></product-discount>
    {% endif %}
  {%- endcapture -%}

  {% comment %} Generic metafield label {% endcomment %}
  {%- capture metafield_labels -%}
    {% assign metafields = settings['meta-product-value'] | split: ',' %}
    {% assign tag_index = 0 %}
    {% for metafield in metafields %}
      {% assign tag_index = tag_index | plus: 1 %}
      {% assign title_metafield = metafield | split: '.' %}

      {% assign metafield_key = product.metafields[title_metafield[0]][title_metafield[1]] %}

      {%- capture metafield_labels_html -%}
        {% if metafield_key.type == 'single_line_text_field' or metafield_key.type == 'multi_line_text_field' %}
          {% if placement == settings.labels_placement or placement == settings.labels_placement_fp %}
            {% assign extra_class_label = 'label--' | append: title_metafield[1] %}
            {% render 'label', text: metafield_key.value, style: 'primary', extra_class: extra_class_label %}
          {% endif %}
        {% else %}
          {% assign variable = value %}
          {% comment %} metaobject labels {% endcomment %}
          {% if settings.labels_group_by %}
            {% assign style_array = '' %}
            {% for metafield_style in metafield_key.value %}
              {% assign style_array = style_array | append: metafield_style.style %}
              {% assign style_array = style_array | append: '||' %}
            {% endfor %}
            {% assign style_array = style_array | split: '||' | uniq %}

            {% for style in style_array %}
              {% for custom-label in metafield_key.value %}
                {% unless style == custom-label.style %}
                  {% continue %}
                {% endunless %}
                {% render 'f_render_custom_label', label: custom-label, placement: placement %}
              {% endfor %}
            {% endfor %}

          {% else %}
            {% for custom-label in metafield_key.value %}
              {% render 'f_render_custom_label', label: custom-label, placement: placement %}
            {% endfor %}
          {% endif %}
        {% endif %}
      {%- endcapture -%}

      {%- if metafield_labels_html != blank -%}
        {% assign labels_orientation = settings.labels_orientation %}
        {% if placement contains '-title' %}
          {% assign labels_orientation = 'row' %}
        {% endif %}
        <div class="label-list__custom {% if labels_orientation == "row" %}label-list__custom--inline {% endif %} {{ labels_list_alignment }}">
          {{metafield_labels_html}}
        </div>
      {%- endif -%}
    {% endfor %}
  {%- endcapture -%}

  {% if common_labels != blank or metafield_labels != blank or product_discount != blank %}
    {%- case placement -%}
        {% comment %}
          Product item placements:
        {% endcomment %}
      {%- when 'top-left-image', 'top-right-image' -%}
        {% assign placement_class = 'product-item__label-list label-list label-list--'
          | append: placement
          | replace: '-image', ''
        %}
      {%- when 'top-title', 'bottom-title' -%}
        {% assign placement_class = 'product-item-meta__label-list label-list label-list--'
          | append: placement
          | append: ' '
          | append: labels_list_alignment
        %}
        {% comment %}
          Product placements:
        {% endcomment %}
      {%- when 'top-left-first-image' -%}
        {% assign placement_class = 'product-item__label-list label-list label-list--top-left' %}
      {%- when 'top-right-first-image' -%}
        {% assign placement_class = 'product-item__label-list label-list label-list--top-right' %}
      {%- when 'top-title-fp' -%}
        {% assign placement_class = 'product-item-meta__label-list label-list label-list--top-title' %}
      {%- when 'bottom-title-fp' -%}
        {% assign placement_class = 'product-item-meta__label-list label-list label-list--bottom-title' %}
    {%- endcase -%}

    <div class="{{ placement_class }}" data-placement="{{ placement }}">
      {{- metafield_labels -}}
      {{- product_discount -}}
      {{- common_labels -}}
    </div>
  {% endif %}
{% endif %}
