{% if template == 'index' %}
  <div class="nosto_page_type" style="display:none">front</div>
{% elsif template == '404' %}
  <div class="nosto_page_type" style="display:none">notfound</div>
{% elsif template == 'cart' %}
  <div class="nosto_page_type" style="display:none">cart</div>
{% endif %}

{% if shop.money_format contains "{{amount_with_comma_separator}}" %}
  {% assign thousand_separator = '.' %}
{% elsif shop.money_format contains "{{amount}}" %}
  {% assign thousand_separator = ',' %}
{% elsif shop.money_format contains "{{amount_no_decimals}}" %}
  {% assign thousand_separator = ',' %}
{% elsif shop.money_format contains "{{amount_with_apostrophe_separator}}" %}
  {% assign thousand_separator = "'" %}
{% elsif shop.money_format contains "{{amount_no_decimals_with_comma_separator}}" %}
  {% assign thousand_separator = '.' %}
{% endif %}

{% if product %}
  <div class="nosto_page_type" style="display:none">product</div>
  <div class="nosto_product" style="display:none">
    <span class="url">
      {{- shop.url -}}
      {{- product.url -}}
    </span>
    <span class="product_id">{{ product.id }}</span>
    <span class="name">{{ product.title }}</span>
    <span class="price">{{ product.variants[0].price | money_without_currency | remove: thousand_separator }}</span>
    <span class="image_url">{{ product.featured_image | img_url: 'master' }}</span>
    <span class="thumb_url">{{ product.featured_image | img_url: 'large' }}</span>
    <span class="price_currency_code">{{ shop.currency }}</span>
    {% if product.available %}
      <span class="availability">InStock</span>
    {% else %}
      <span class="availability">OutOfStock</span>
    {% endif %}
    <span class="category">{{ product.type }}</span>
    {% for collection in product.collections %}
      <span class="category_id">{{ collection.id }}</span>
      <span class="category">{{ collection.title }}</span>
    {% endfor %}
    <span class="description">{{ product.description }}</span>
    {% if product.variants[0].compare_at_price > product.variants[0].price %}
      <span class="list_price">
        {{- product.variants[0].compare_at_price | money_without_currency | remove: thousand_separator -}}
      </span>
    {% endif %}
    <span class="brand">{{ product.vendor }}</span>
    {% for tag in product.tags %}
      <span class="tag1">{{ tag }}</span>
    {% endfor %}
    {% if product.variants.size == 1 %}
      <span class="tag2">add-to-cart</span>
    {% endif %}
    <span class="tag3"></span>
    {% for image in product.images %}
      {% if image != product.featured_image %}
        <span class="alternate_image_url">{{ image.src | img_url: 'master' }}</span>
      {% endif %}
    {% endfor %}
    {% for variant in product.variants %}
      <span class="nosto_sku">
        <span class="id">{{ variant.id }}</span>
        <span class="name">{{ variant.title }}</span>
        <span class="price">{{ variant.price | money_without_currency | remove: thousand_separator }}</span>
        <span class="list_price">
          {{- variant.compare_at_price | money_without_currency | remove: thousand_separator -}}
        </span>
        <span class="image_url">{{ variant.image.src | img_url: 'master' }}</span>
        <span class="url">
          {{- shop.url -}}
          {{- variant.url -}}
        </span>
        {% if variant.available %}
          <span class="availability">InStock</span>
        {% else %}
          <span class="availability">OutOfStock</span>
        {% endif %}
        <span class="custom_fields">
          {% for option in variant.options %}
            <span class="{{ option.name }}">{{ option }}</span>
          {% endfor %}
        </span>
      </span>
    {% endfor %}
  </div>
{% endif %}

{% if collection %}
  {% unless product %}
    <div class="nosto_page_type" style="display:none">category</div>
    <div class="nosto_category" style="display:none">
      <span class="category_string">{{ collection.title }}</span>
      <span class="id">{{ collection.id }}</span>
    </div>
    {% for tag in current_tags %}
      <span class="nosto_tag" style="display:none">{{ tag }}</span>
    {% endfor %}
  {% endunless %}
{% endif %}

{% if search.performed %}
  <div class="nosto_page_type" style="display:none">search</div>
  <div class="nosto_search_term" style="display:none">{{ search.terms }}</div>
{% endif %}
{% unless checkout %}
  {% render 'vite-tag' with '@modules/snippets/nosto-tagging' %}
  <nosto-cart-updater
    price-currency-code="{{ cart.currency.iso_code }}"
    shop-secure-url="{{shop.secure_url}}"
    class="nosto_cart"
    style="display:none"
  >
  </nosto-cart-updater>
{% endunless %}

{% if customer %}
  <div class="nosto_customer" style="display:none">
    {% comment %}
      <span class="email">{{ customer.email }}</span>
      <span class="first_name">{{ customer.first_name }}</span>
      <span class="last_name">{{ customer.last_name }}</span>
    {% endcomment %}
    <span class="customer_reference">{{ customer.id | append: shop.permanent_domain | sha256 }}</span>
    {% if customer.accepts_marketing %}
      {% comment %}
        <span class="marketing_permission">true</span>
      {% endcomment %}
    {% else %}
      {% comment %}
        <span class="marketing_permission">false</span>
      {% endcomment %}
    {% endif %}
  </div>
{% endif %}

{% if checkout %}
  {%- liquid
    assign is_thank_you_page = false
    if request.path contains '/orders/' or request.path contains 'thank_you'
      assign is_thank_you_page = true
    endif
  -%}
  <div class="nosto_external_visit_ref" style="display:none"></div>
  <script type="text/javascript">
    var ctoken = (document.cookie.match('(^|; )cart=([^;]*)') || 0)[2];
    if (ctoken) {
      document.getElementsByClassName('nosto_external_visit_ref')[0].textContent = ctoken;
    }
  </script>
  {% if is_thank_you_page %}
    <div class="nosto_page_type" style="display:none">order</div>
    <div class="nosto_purchase_order" style="display:none">
      <span class="order_number">{{ checkout.order_number }}</span>
      <div class="buyer">
        <span class="email">{{ checkout.customer.email }}</span>
        <span class="first_name">{{ checkout.customer.first_name }}</span>
        <span class="last_name">{{ checkout.customer.last_name }}</span>
      </div>
      <div class="purchased_items">
        {% for line_item in checkout.line_items %}
          {% if line_item.product.id %}
            <div class="line_item">
              <span class="product_id">{{ line_item.product.id }}</span>
              <span class="sku_id">{{ line_item.variant_id }}</span>
              <span class="quantity">{{ line_item.quantity }}</span>
              <span class="name">{{ line_item.title }}</span>
              <span class="unit_price">{{ line_item.price | money_without_currency }}</span>
              <span class="price_currency_code">{{ shop.currency }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="nosto_page_type" style="display:none">cart</div>
    <div class="nosto_cart" style="display:none">
      {% for line_item in checkout.line_items %}
        {% if line_item.product.id %}
          <div class="line_item">
            <span class="product_id">{{ line_item.product.id }}</span>
            <span class="quantity">{{ line_item.quantity }}</span>
            <span class="name">{{ line_item.title }}</span>
            <span class="unit_price">{{ line_item.price | money_without_currency | remove: thousand_separator }}</span>
            <span class="price_currency_code">{{ shop.currency }}</span>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endif %}

{% if shop.enabled_currencies.size > 1 %}
  {% for currency in shop.enabled_currencies %}
    {% if currency == cart.currency %}
      <div class="nosto_variation" style="display: none;">{{ currency.iso_code }}</div>
    {% endif %}
  {% endfor %}
{% endif %}
