{%- liquid
  assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id

  assign available_variants = product.variants | where: 'available', true | sort: 'price'

  if use_variant
    assign target = product.selected_or_first_available_variant
  elsif default_variant
    assign target = default_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price

  if show_price_varies
    assign price_varies = product.price_varies
    assign price_min = target.price
    assign price_max = target.price
    if available_variants.size > 0
      assign cheapest_variant = available_variants | first
      assign most_expensive_variant = available_variants | last
      assign price_min = cheapest_variant.price
      assign price_max = most_expensive_variant.price
      if price_max > price_min
        assign price_varies = true
      else
        assign price_varies = false
      endif
    endif
  else
    assign price_varies = false
  endif

  unless cheapest_variant
    assign cheapest_variant = target.variants | sort: 'price' | first
  endunless

  if price_varies and cheapest_variant
    assign price = cheapest_variant.price
    if cheapest_variant.compare_at_price
      assign compare_at_price = cheapest_variant.compare_at_price
    endif
  endif

  assign money_price = price | money
  if settings.money_without_trailing_zeros
    assign money_price = price | money_without_trailing_zeros
  endif
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
  endif

  assign money_compare_at_price = compare_at_price | money
  if settings.money_without_trailing_zeros
    assign money_compare_at_price = compare_at_price | money_without_trailing_zeros
  endif
  if settings.currency_code_enabled
    assign money_compare_at_price = compare_at_price | money_with_currency
  endif

  assign show_absolute_discount = false
  assign absolute_discount_tag = settings.absolute_discount_tag | strip
  if absolute_discount_tag and product.tags contains absolute_discount_tag
    assign show_absolute_discount = true
  endif

  assign discount_mode_percentage = false
  if settings.discount_mode == 'percentage' or settings.discount_mode == 'percentage_no_label'
    assign discount_mode_percentage = true
  endif
  if show_absolute_discount == true
    assign discount_mode_percentage = false
  endif

  if discount_mode_percentage
    assign savings = compare_at_price | minus: price | times: 100.0 | divided_by: compare_at_price | divided_by: settings.discount_step
    case settings.discount_method
      when 'ceil'
        assign savings = savings | ceil
      when 'floor'
        assign savings = savings | floor
      else
        assign savings = savings | round
    endcase
    assign savings = savings | times: settings.discount_step | append: '%'
  else
    assign savings = compare_at_price | minus: price | money
    if settings.money_without_trailing_zeros or show_absolute_discount == true
      assign savings = compare_at_price | minus: price | money_without_trailing_zeros
    endif
  endif

  assign size = size | default: 'large'
  assign show_discount_label = show_discount_label | default: true, allow_false: true
  assign wrapper_class = wrapper_class | default: 'product-meta__price-list-container'
-%}

{%- capture price_list -%}
  <product-price-list
    handle="{{ product.handle }}"
    class="price-list{% if price_varies %} price-list--from{% endif %} price-list--{{ size }}{% if price_list_class %} {{ price_list_class }}{% endif %}"
    data-product-price-list
    {% if use_variant %}
      watch-variant="true"
    {% endif %}
    {% if show_absolute_discount %}
      discount-mode="minus_saving"
    {% endif %}
    load-product-data="true"
    {% if price_varies %}
      price-varies="true"
    {% endif %}
    {% if show_discount_label %}
      show-discount
    {% endif %}
  >
     {% if settings.activate_price_placeholder %}
    <place-holder width="100" height="30"/>
    {% else %}

    {% if price_varies %}
      <div class="price-list__from">{{ 'collection.product.from_price' | t }}</div>
    {% endif %}
    <span class="price price--large {% if compare_at_price > price %}price--highlight{% endif %}">
      {{ money_price }}
    </span>
    {%- if compare_at_price > price -%}
      <div class="price-list__compare-container">
        <span class="price price--compare">{{ money_compare_at_price }}</span>
        {% if show_discount_label %}
          {% assign text_discount = 'collection.product.discount_html' | t: savings: savings  %}
          {% if settings.discount_mode == 'percentage_no_label' or show_absolute_discount == true %}
            {% assign text_discount = savings | prepend: '- ' %}
          {% endif %}
          <span class="label label--highlight">{{ text_discount }}</span>
        {% endif %}
      </div>
    {%- endif -%}

    {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
      <div class="price text--subdued">
        <div class="unit-price-measurement">
          <span class="unit-price-measurement__price">
            {% render 'f_format_money' with product.selected_or_first_available_variant.unit_price %}
          </span>
          <span class="unit-price-measurement__separator">/</span>

          {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
            <span class="unit-price-measurement__reference-value">
              {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
            </span>
          {%- endif -%}

          <span class="unit-price-measurement__reference-unit">
            {{- product.selected_or_first_available_variant.unit_price_measurement.reference_unit -}}
          </span>
        </div>
      </div>
    {%- endif -%}
    {%- endif -%}

  </product-price-list>
{%- endcapture -%}

{%- capture label_list -%}
  <product-soldout-label class="product-meta__label-list label-list" data-product-label-list>
    {%- unless product.selected_or_first_available_variant.available -%}
      <span class="label label--subdued">{{ 'collection.product.sold_out' | t }}</span>
    {%- endunless -%}
  </product-soldout-label>
{%- endcapture -%}

{%- capture eco_part -%}
  {% if product.metafields.details.ecopart %}
    {% if show_ecopart_label %}
      <div class="product-meta__ecopart">
        {% assign ecopart_money = product.metafields.details.ecopart | times: 100.0 | money %}
        {{ 'product.general.ecopart' | t: ecopart: ecopart_money }}
      </div>
    {% endif %}
    <input
      type="hidden"
      name="properties[eco-participation]"
      value="{{ ecopart_money }}"
      form="{{ product_form_id }}"
    >
  {% endif %}
{%- endcapture -%}

<div
  class="{{ wrapper_class }}"
  data-product-price-list-container
  role="region"
  aria-live="polite"
>
  {{ price_list }}
  {% if show_label %}
    {{ label_list }}
  {% endif %}
  {% if show_ecopart %}
    {{ eco_part }}
  {% endif %}
</div>
