<div class="account account--newsletter account--info-block">
  <div class="container container--small">
    <div class="page-header page-header--small">
      <div class="page-header__text-wrapper text-container">
        <h1 class="heading h4">
          {{ 'customer.newsletter.title' | t }}
        </h1>
      </div>
    </div>

    <div class="page-content">
      <p>{{ 'customer.newsletter.description' | t }}</p>

      {%- assign newsletter_id = 'newsletter-' | append: section.id -%}
      {%- form 'customer', class: 'form newsletter__account-form', id: newsletter_id -%}
        {%- if form.posted_successfully? -%}
          <script>
            window.addEventListener('DOMContentLoaded', () => {
              if (history.scrollRestoration) {
                history.scrollRestoration = 'manual'; // Prevent the browser to scroll on captcha page
              }

              document.getElementById('shopify-section-{{ section.id }}').scrollIntoView();
            });
          </script>

          <div class="form__banner banner banner--success">
            <span class="banner__ribbon">{% render 'icon' with 'form-success' %}</span>
            <p class="banner__content">{{ 'general.newsletter.success' | t }}</p>
          </div>
        {%- else -%}
          {%- if form.errors -%}
            <div class="form__banner banner banner--error">
              <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>
              <p class="banner__content">{{ form.errors.messages.email }}</p>
            </div>
          {%- endif -%}
        {% endif %}

        <input
          type="hidden"
          name="contact[email]"
          value="{{ customer.email }}"
          class="input__field"
        >

        <div class="Form__Item">
          <div class="Form__CheckboxWrapper">
            <input
              id="customer[accepts_marketing]"
              class="Form__Checkbox"
              type="checkbox"
              name="customer[accepts_marketing]"
              autocomplete="off"
              onclick="document.getElementById('{{ newsletter_id }}').submit()"
              {% if customer.accepts_marketing %}
                checked disabled
              {% endif %}
            >
            {% render 'icon' with 'checkmark' %}
            <label for="customer[accepts_marketing]">
              {{ 'customer.newsletter.to_email' | t }}
            </label>
            {% if customer.accepts_marketing %}
              <div class="form__banner banner banner--warning">{{ 'customer.newsletter.subscribed' | t }}</div>
            {% endif %}
          </div>
        </div>

        {% assign sms_newsletter = false %}
        {% assign partners_newsletter = false %}

        {% for tag in customer.tags %}
          {% if tag contains 'sms_newsletter' %}
            {% assign sms_newsletter = true %}
          {% endif %}
          {% if tag contains 'partners_newsletter' %}
            {% assign partners_newsletter = true %}
          {% endif %}
        {% endfor %}

        <div class="Form__Item">
          <div class="Form__CheckboxWrapper">
            <input
              id="sms_newsletter"
              class="Form__Checkbox"
              type="checkbox"
              name="sms_newsletter"
              {% if sms_newsletter %}
                checked
              {% endif %}
              disabled
            >
            {% render 'icon' with 'checkmark' %}
            <label for="sms_newsletter">{{ 'customer.newsletter.to_sms' | t }}</label>
            {% if accepts_marketing %}
              <div class="form__banner banner banner--success">{{ 'customer.newsletter.subscribed_sms' | t }}</div>
            {% endif %}
          </div>
        </div>

        <input type="hidden" name="contact[tags]" value="newsletter" disabled>
        <input type="hidden" name="contact[email]" value="{{ customer.email }}" disabled required>
      {% endform %}
      <div class="rgpd-information">
        {{ settings.rgpd_text }}
      </div>
    </div>
  </div>
</div>
