{% liquid
  assign current_template = template
  if special_page != blank
    assign current_template = special_page
  endif

  assign links = ''

  comment
    link format  url,template-name,label, classname|
  endcomment

  assign text = 'customer.information.title' | t
  assign links = links | append: routes.account_url | append: ',' | append: 'customers/account' | append: ',' | append: text | append: ',' | append: '' | append: '|'

  assign text = 'customer.address.title' | t
  assign links = links | append: routes.account_addresses_url | append: ',' | append: 'customers/addresses' | append: ',' | append: text | append: ',' | append: '' | append: '|'

  assign text = 'customer.orders.title' | t
  assign links = links | append: routes.account_url | append: '?orders' | append: ',' | append: 'orders' | append: ',' | append: text | append: ',' | append: '' | append: '|'

  if settings.enable_returns and settings.hide_menu_return_link != true
    capture return_app_link
      render 'account-order-return-app-menu-link', links: links
    endcapture
    if return_app_link != blank
      assign links = return_app_link
    endif
  endif

  assign text = 'customer.newsletter.title' | t
  assign links = links | append: routes.account_url | append: '?subscriptions' | append: ',' | append: 'subscriptions' | append: ',' | append: text | append: ',' | append: '' | append: '|'

  if settings.enable_wishlist
    assign text = 'wishlist.title' | t
    assign links = links | append: routes.account_url | append: '?wishlist' | append: ',' | append: 'wishlist' | append: ',' | append: text | append: ',' | append: '' | append: '|'
  endif

  assign text = 'customer.logout.title' | t
  assign links = links | append: routes.account_logout_url | append: ',' | append: '' | append: ',' | append: text | append: ',' | append: 'logout'

  assign links = links | split: '|'
%}
<div class="account-sidebar__container link-bar hidden-phone">
  <div class="account-sidebar__title-container">
    {% render 'icon' with 'header-customer' %}
    <h3 class="account-sidebar__title heading h5">{{ 'customer.general.title' | t }}</h3>
  </div>
  <span class="account-sidebar__customer-name">
    {{- 'customer.general.welcome' | t: first_name: customer.first_name, last_name: customer.last_name -}}
  </span>

  <ul class="list--unstyled account-sidebar__navigation" role="list">
    {% for link in links %}
      {% assign link_infos = link | split: ',' %}
      {% assign url = link_infos[0] %}
      {% assign is_selected = false %}
      {% assign label = link_infos[2] %}
      {% assign classname = link_infos[3] %}
      {% if link_infos[1] != blank and link_infos[1] == current_template %}
        {% assign is_selected = true %}
      {% endif %}

      <li class="link-bar__link-item {% if is_selected  %}link-bar__link-item--selected{% endif %}">
        <a
          href="{{ url }}"
          class="link-bar__link link--animated {% if is_selected %}text--underlined{% endif %} {{- classname -}}"
        >
          {{- label -}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="mobile-toolbar hidden-tablet-and-up">
  <button class="mobile-toolbar__item" is="toggle-button" aria-expanded="false" aria-controls="account-links-popover">
    {% for link in links %}
      {% assign link_infos = link | split: ',' %}
      {% assign label = link_infos[2] %}
      {% assign classname = link_infos[3] %}
      {% if link_infos[1] != blank and link_infos[1] == current_template %}
        {{ label }}
      {% endif %}
    {% endfor %}

    {%- render 'icon' with 'chevron' -%}
  </button>
</div>

<popover-content id="account-links-popover" class="popover">
  <span class="popover__overlay"></span>

  <header class="popover__header">
    <span class="popover__title heading h6">{{- 'customer.general.title' | t -}}</span>

    <button
      type="button"
      class="popover__close-button tap-area tap-area--large"
      data-action="close"
      title="{{ 'general.accessibility.close' | t | escape }}"
    >
      {%- render 'icon' with 'close' -%}
    </button>
  </header>

  <div class="popover__content">
    <div class="popover__choice-list">
      {% for link in links %}
        {% assign link_infos = link | split: ',' %}
        {% assign url = link_infos[0] %}
        {% assign is_selected = false %}
        {% assign label = link_infos[2] %}
        {% assign classname = link_infos[3] %}
        {% if link_infos[1] != blank and link_infos[1] == current_template %}
          {% assign is_selected = true %}
        {% endif %}

        <a href="{{ url }}" class="popover__choice-item">
          <span
            class="popover__choice-label"
            {% if is_selected %}
              aria-current="true"
            {% endif %}
          >
            {{- label -}}
          </span>
        </a>
      {% endfor %}
    </div>
  </div>
</popover-content>
