<div class="account account--order-list account--info-block">
  <div class="container">
    {%- if customer.orders.size == 0 -%}
      <div class="page-header page-header--small {% if section.blocks.size == 1 %}page-header--alone{% endif %}">
        <div class="page-header__text-wrapper text-container">
          <h1 class="heading h4">
            {{ 'customer.orders.title' | t }}
            <span class="bubble-count bubble-count--top">{{ customer.orders.size }}</span>
          </h1>
          <p class="text--subdued">{{ 'customer.orders.no_orders' | t }}</p>

          <div class="button-wrapper">
            <a href="{{ section.settings.empty_orderlist_button_link }}" class="button button--primary">
              {{- 'customer.orders.start_shopping' | t -}}
            </a>
          </div>
        </div>
      </div>

      <div class="page-content page-content--fluid">
        <div class="account__block-list">
          {%- for block in section.blocks -%}
            <div class="account__block-item" {{ block.shopify_attributes }}>
              {%- case block.type -%}
                {%- when '@app' -%}
                  {%- render block -%}

                {%- when 'liquid' -%}
                  {{- block.settings.liquid -}}
              {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- else -%}
      <div class="page-header page-header--small">
        <div class="page-header__text-wrapper text-container">
          <h1 class="heading h4">
            {{ 'customer.orders.title' | t }}
            <span class="bubble-count bubble-count--top">{{ customer.orders.size }}</span>
          </h1>
        </div>
      </div>
      <div class="page-content page-content--fluid">
        <div class="account__block-list">
          {%- for block in section.blocks -%}
            <div class="account__block-item" {{ block.shopify_attributes }}>
              {%- case block.type -%}
                {%- when '@app' -%}
                  {%- render block -%}

                {%- when 'liquid' -%}
                  {{- block.settings.liquid -}}

                {%- when 'orders' -%}
                  {%- paginate customer.orders by 50 -%}
                    <table class="account__orders-table table table--bordered hidden-phone">
                      <thead>
                        <tr>
                          {% if section.settings.visible_img_order %}
                            <th class="account__order-list-image-tab"></th>
                          {% endif %}
                          <th>
                            <span class="heading heading--xsmall text--subdued">
                              {{- 'customer.orders.number' | t -}}
                            </span>
                          </th>
                          <th>
                            <span class="heading heading--xsmall text--subdued">
                              {{- 'customer.orders.date' | t -}}
                            </span>
                          </th>
                          <th>
                            <span class="heading heading--xsmall text--subdued">
                              {{- 'customer.orders.payment_status' | t -}}
                            </span>
                          </th>
                          <th>
                            <span class="heading heading--xsmall text--subdued">
                              {{- 'customer.orders.fulfillment_status' | t -}}
                            </span>
                          </th>

                          {% if settings.enable_sufio %}
                            <th>
                              <span class="heading heading--xsmall text--subdued">
                                {{- 'customer.orders.sufio_tab_name' | t -}}
                              </span>
                            </th>
                          {% endif %}

                          <th class="text--right">
                            <span class="heading heading--xsmall text--subdued">
                              {{- 'customer.orders.total' | t -}}
                            </span>
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        {%- for order in customer.orders -%}
                          <tr
                            class="account__order-table-item"
                            is="account-order-table-item"
                            data-href="{{ order.customer_url }}"
                          >
                            {% if section.settings.visible_img_order %}
                              <td class="line-item__image-wrapper">
                                {%- for line_item in order.line_items -%}
                                  {% if line_item.image != blank %}
                                    {{-
                                      line_item.image
                                      | image_url: width: line_item.image.width
                                      | image_tag:
                                        loading: 'lazy',
                                        sizes: '(max-width: 740px) 80px, 92px',
                                        widths: '80,92,160,184,240,276',
                                        class: 'line-item__image'
                                    -}}
                                    {% break %}
                                  {% endif %}
                                {%- endfor -%}
                              </td>
                            {% endif %}
                            <td>
                              <span class="link--animated">{{ order.name }}</span>
                            </td>
                            <td>{{ order.created_at | date: format: 'date' }}</td>
                            <td>
                              <div>{{ order.financial_status_label }}</div>

                              {%- if settings.enable_returns -%}
                                {% render 'account-order-return-app', order: order %}
                              {%- endif -%}
                            </td>

                            {% assign order_status_metafield = section.settings.custom_status_metafield | split: '.' %}
                            {% assign order_status_metafield_key = order.metafields[order_status_metafield[0]][order_status_metafield[1]].value %}

                            {% if section.settings.custom_status_metafield != blank
                              and order_status_metafield_key != blank
                            %}
                              <td>{{ order_status_metafield_key }}</td>
                            {% else %}
                              <td>{{ order.fulfillment_status_label }}</td>
                            {% endif %}

                            {% if settings.enable_sufio %}
                              <td>
                                <div class="invoice">
                                  <a
                                    target="_blank"
                                    href="{{ shop.url }}/apps/sufio/invoice/?id={{ order.id }}&number={{ order.order_number }}"
                                    is="stop-link-propagation"
                                  >
                                    {{- 'customer.orders.sufio_invoice' | t -}}
                                  </a>
                                </div>

                                {% if settings.enable_sufio_pdf_download %}
                                  <div class="invoice">
                                    <a
                                      target="_blank"
                                      href="{{ shop.url }}/apps/sufio/invoice/download/?id={{ order.id }}&number={{ order.order_number }}"
                                      is="stop-link-propagation"
                                    >
                                      {{- 'customer.orders.sufio_pdf_download' | t -}}
                                    </a>
                                  </div>
                                {% endif %}
                              </td>
                            {% endif %}

                            <td class="text--right">{% render 'f_format_money' with order.total_net_amount %}</td>
                          </tr>
                        {%- endfor -%}
                      </tbody>
                    </table>

                    {%- comment -%}On mobile we render them a bit differently{%- endcomment -%}
                    <div class="account__orders-list hidden-tablet-and-up">
                      {%- for order in customer.orders -%}
                        <div class="account__order-list-item">
                          <h2 class="account__order-item-name heading h6">
                            {{ 'customer.orders.order_name' | t: name: order.name }}
                          </h2>

                          <div class="account__order-item-info">
                            {% if section.settings.visible_img_order %}
                              {%- for line_item in order.line_items -%}
                                {% if line_item.image != blank %}
                                  <div class="account__order-item-block account__order-item-block--image">
                                    {{-
                                      line_item.image
                                      | image_url: width: line_item.image.width
                                      | image_tag:
                                        loading: 'lazy',
                                        sizes: '(max-width: 740px) 80px, 92px',
                                        widths: '80,92,160,184,240,276',
                                        class: 'line-item__image'
                                    -}}
                                  </div>
                                  {% break %}
                                {% endif %}
                              {%- endfor -%}
                            {% endif %}
                            <div class="account__order-item-block">
                              <h3 class="heading heading--xsmall text--subdued">
                                {{ 'customer.orders.date' | t }}
                              </h3>
                              <span>{{ order.created_at | date: format: 'date' }}</span>
                            </div>

                            <div class="account__order-item-block">
                              {% assign order_status_metafield = section.settings.custom_status_metafield
                                | split: '.'
                              %}
                              {% assign order_status_metafield_key = order.metafields[order_status_metafield[0]][order_status_metafield[1]].value %}

                              <h3 class="heading heading--xsmall text--subdued">
                                {{ 'customer.orders.fulfillment_status' | t }}
                              </h3>
                              {% if section.settings.custom_status_metafield != blank
                                and order_status_metafield_key != blank
                              %}
                                <span>{{ order_status_metafield_key }}</span>
                              {% else %}
                                <span>{{ order.fulfillment_status_label }}</span>
                              {% endif %}
                            </div>

                            <div class="account__order-item-block">
                              <h3 class="heading heading--xsmall text--subdued">
                                {{ 'customer.orders.payment_status' | t }}
                              </h3>
                              <span>{{ order.financial_status_label }}</span>
                              {%- if settings.enable_returns -%}
                                {% render 'account-order-return-app', order: order %}
                              {%- endif -%}
                            </div>

                            {% if settings.enable_sufio %}
                              <div class="account__order-item-block">
                                <h3 class="heading heading--xsmall text--subdued">
                                  {{ 'customer.orders.sufio_tab_name' | t }}
                                </h3>
                                <div>
                                  <a
                                    target="_blank"
                                    href="{{ shop.url }}/apps/sufio/invoice/?id={{ order.id }}&number={{ order.order_number }}"
                                  >
                                    {{- 'customer.orders.sufio_invoice' | t -}}
                                  </a>
                                </div>
                                {% if settings.enable_sufio_pdf_download %}
                                  <div>
                                    <a
                                      target="_blank"
                                      href="{{ shop.url }}/apps/sufio/invoice/download/?id={{ order.id }}&number={{ order.order_number }}"
                                    >
                                      {{- 'customer.orders.sufio_pdf_download' | t -}}
                                    </a>
                                  </div>
                                {% endif %}
                              </div>
                            {% endif %}

                            <div class="account__order-item-block {% if settings.enable_sufio %}account__order-item-block--alt{% endif %}">
                              <h3 class="heading heading--xsmall text--subdued">
                                {{ 'customer.orders.total' | t }}
                              </h3>
                              <span>{% render 'f_format_money' with order.total_net_amount %}</span>
                            </div>
                          </div>

                          <a
                            class="button button--small button--text button--outline button--full"
                            href="{{ order.customer_url }}"
                          >
                            {{- 'customer.orders.view_details' | t -}}
                          </a>
                        </div>
                      {%- endfor -%}
                    </div>

                    {%- render 'pagination', paginate: paginate, custom_path_url: '/account?orders' -%}
                  {%- endpaginate -%}
              {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>
