{% assign custom_class = block_settings.custom_class %}
{% assign block_id = block_id | default: 'tab' %}
{% assign content_metafield = block_settings.metafield_namespace | split: '.' %}
{% case block_settings.source_type %}
  {% when 'metafield' %}
    {% assign items = product.metafields[content_metafield[0]][content_metafield[1]].value %}
  {% when 'metaobject' %}
    {% assign items = shop.metaobjects[content_metafield[0]][content_metafield[1]][content_metafield[2]].value %}
{% endcase %}

{%- capture item_list -%}
  {%- for item in items -%}
    {% assign popover_id = 'popover-icon-label-' | append: section.id | append: '-' | append: block_id | append: '-' | append: forloop.index %}
    {% assign show_description_popover = false %}
    {% assign show_description_text = false %}

    {% if block_settings.description_display == 'popover' and item.description != blank %}
      {% assign show_description_popover = true %}
    {% endif %}

    {% if block_settings.description_display == 'text' and item.description != blank %}
      {% assign show_description_text = true %}
    {% endif %}

    {% assign icon = '' %}
    {% if item.icon != blank %}
      {% capture icon %}
        {{ item.icon | image_url: width: block_settings.icon_width | image_tag }}
      {% endcapture %}
    {% endif %}

    <div class="adv-icon-list__list-item adv-icon-list__list-item--text-position-{{ block_settings.text_position }}{% if show_description_text %} adv-icon-list__list-item--display-text{% endif %}{% unless item.label %} adv-icon-list__list-item--no-label{% endunless %}">
      {% if block_settings.text_position == 'popover' %}
        <button
          class="adv-icon-list__list-item-icon"
          is="toggle-button"
          trigger="hover"
          aria-expanded="false"
          aria-controls="{{ popover_id }}"
        >
          {{ icon }}
        </button>
      {% else %}
          <div class="adv-icon-list__list-item-icon">
            {{ icon }}
          </div>
        {% if item.label %}
          <div class="adv-icon-list__list-item-title">
            {{ item.label }}
            {% if show_description_popover %}
              <button
                class="adv-icon-list__list-item-info-trigger bubble-count"
                is="toggle-button"
                trigger="hover"
                aria-expanded="false"
                aria-controls="{{ popover_id }}"
              >
                ?
              </button>
            {% endif %}
          </div>
        {% endif %}
        {% if show_description_text %}
          <div class="adv-icon-list__list-item-text text--small">
            {{ item.description | metafield_tag }}
          </div>
        {% endif %}
      {% endif %}

      {% if show_description_popover or block_settings.text_position == 'popover' %}
        <popover-content id="{{ popover_id }}" class="adv-icon-list__list-item-popover popover popover--left">
          <span class="popover__overlay"></span>
          <header class="popover__header hidden-desk">
            <span class="popover__title heading h6">{{ item.label }}</span>
            <span
              type="button"
              class="popover__close-button tap-area tap-area--large"
              data-action="close"
              title="{{ 'general.accessibility.close' | t | escape }}"
            >
            {%- render 'icon', icon: 'close' -%}
          </span>
          </header>
          <div class="popover__content text--small">
            {% if block_settings.text_position == 'popover' %}
              <div class="popover__title hidden-phone text--strong">{{ item.label }}</div>
            {% endif %}
            {% if show_description_popover %}
              {{ item.description | metafield_tag }}
            {% endif %}
          </div>
        </popover-content>
      {% endif %}
    </div>
  {%- endfor -%}
{%- endcapture -%}

{% capture content %}
  {% if block_settings.show_product_description and product.description != blank %}
    <div class="adv-icon-list__product-description">
      {{ product.description }}
    </div>
  {% endif %}
  {% if item_list != blank %}
    {% if block_settings.content_before != blank %}
      <div class="adv-icon-list__content-before">
        {{ block_settings.content_before }}
      </div>
    {% endif %}
    <div class="adv-icon-list__list adv-icon-list__list--{{ block_settings.display }}">
      {{ item_list }}
    </div>
    {% if block_settings.content_after != blank %}
      <div class="adv-icon-list__content-after">
        {{ block_settings.content_after }}
      </div>
    {% endif %}
  {% endif %}
{% endcapture %}
{% if content != blank %}
  <div
    class="adv-icon-list rte{% if block_settings.custom_class != blank %} {{ custom_class }}{% endif %}"
    id="block-{{ section.id }}-{{ block_id }}"
  >
    <style>
      #block-{{ section.id }}-{{ block_id }}{
      	--icon-item-max-width: {{ block_settings.icon_item_max_width }};
      	--icon-width: {{ block_settings.icon_width }}px;
         {% if block_settings.icon_background != blank and block_settings.icon_background != 'rgba(0,0,0,0)' %}
      	--icon-background: {{ block_settings.icon_background.red }}, {{ block_settings.icon_background.green }}, {{ block_settings.icon_background.blue }};
         {% endif %}
      	--icon-padding: {{ block_settings.icon_padding }};
      	--icon-item-gap: {{ block_settings.icon_item_gap }};
      	--icon-list-gap: {{ block_settings.icon_list_gap }};
      	--icon-list-align: {{ block_settings.icon_list_align }};
      	--icon-text-align: {{ block_settings.icon_text_align }};
      	--icon-text-position: {{ block_settings.text_position }};
      	--elements-gap: {{ block_settings.elements_gap }}px;
      }
    </style>
    {{ content }}
  </div>
{% endif %}
