{%- liquid
  assign show_absolute_discount = false
  if line_item
    assign absolute_discount_tag = settings.absolute_discount_tag | strip
    if absolute_discount_tag and line_item.product.tags contains absolute_discount_tag
      assign show_absolute_discount = true
    endif
  endif
-%}
<cart-line-price
  item-id="{{ item_id }}"
  free-label="{{- 'cart.general.free' | t -}}"
  discount-label="{{- 'collection.product.discount_html'| t -}}"
  price-type="{{  price_type  }}"
  {% if show_absolute_discount %}
    discount-mode="minus_saving"
  {% endif %}
>
  {% if settings.activate_price_placeholder %}
    <place-holder width="80" height="25" />
  {% else %}
    {% if line_item %}
      {% liquid
        if price_type == 'unit'
          assign price = line_item.discounted_price
          assign isFree = false
          if line_item.original_price == 0
            assign isFree = true
          endif
          if line_item.variant.compare_at_price > line_item.variant.price
            assign compare_at_price = line_item.variant.compare_at_price
          endif
        else
          assign price = line_item.original_line_price
          assign isFree = false
          if line_item.original_price == 0
            assign isFree = true
          endif
          if line_item.original_line_price > line_item.final_line_price
            assign compare_at_price = line_item.original_line_price
          elsif line_item.variant.compare_at_price > line_item.variant.price
            assign compare_at_price = line_item.variant.compare_at_price | times: line_item.quantity
          endif
        endif

        if settings.discount_mode == 'percentage' and show_absolute_discount == false
          assign savings = compare_at_price | minus: price | times: 100.0 | divided_by: compare_at_price | round | append: '%'
        else
          assign savings = compare_at_price | minus: price | money
          if settings.money_without_trailing_zeros
            assign savings = compare_at_price | minus: price | money_without_trailing_zeros
          endif
        endif
      %}

      {%- if compare_at_price != blank -%}
        <div class="price__compare-container">
          <span class="price price--compare">
            <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
            {% render 'f_format_money' with compare_at_price %}
          </span>
          <span class="label label--highlight">{{ 'collection.product.discount_html' | t: savings: savings }}</span>
        </div>
      {%- endif -%}

      <span class="price {% if compare_at_price != blank or isFree %}price--highlight{% endif %}">
        <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

        {%- if isFree -%}
          {{- 'cart.general.free' | t -}}
        {%- else -%}
          {% render 'f_format_money' with price %}
        {%- endif -%}
      </span>
    {%- endif -%}
  {%- endif -%}
</cart-line-price>
