<countdown-timer
  class="countdown-timer {% if main_class %}{{ main_class }}{% endif  %}"
  deadline="{{ deadline }}"
  hide-zero-values
>
  {% if countdown_display == 'two_lines' %}
    <div
      timer
      class="countdown-timer__timer {% if main_class != blank %}{{ main_class }}__timer{% endif %} {% if one_line == true %}countdown-timer__timer--one-line{% endif %}"
    >
      {% if top_title != blank %}
        <div class="countdown-timer__title countdown-timer__title-top {{  text_class }}">{{ top_title }}</div>
      {% endif %}
      <div class="countdown-timer__count">
        <div class="countdown-timer__number-wrapper" data-days-wrapper>
          <span class="countdown-timer__number" data-days>00</span>
          <span class="countdown-timer__label hidden-phone">{{ 'sections.countdown.days' | t }}</span>
          <span class="countdown-timer__label hidden-tablet-and-up">
            {{- 'sections.countdown.days_abbreviate' | t -}}
          </span>
        </div>
        <div class="countdown-timer__number-wrapper" data-hours-wrapper>
          <span class="countdown-timer__number" data-hours>00</span>
          <span class="countdown-timer__label hidden-phone">{{ 'sections.countdown.hours' | t }}</span>
          <span class="countdown-timer__label hidden-tablet-and-up">
            {{- 'sections.countdown.hours_abbreviate' | t -}}
          </span>
        </div>
        <div class="countdown-timer__number-wrapper" data-minutes-wrapper>
          <span class="countdown-timer__number" data-minutes>00</span>
          <span class="countdown-timer__label hidden-phone">{{ 'sections.countdown.minutes' | t }}</span>
          <span class="countdown-timer__label hidden-tablet-and-up">
            {{- 'sections.countdown.minutes_abbreviate' | t -}}
          </span>
        </div>
        <div class="countdown-timer__number-wrapper" data-seconds-wrapper>
          <span class="countdown-timer__number" data-seconds>00</span>
          <span class="countdown-timer__label hidden-phone">{{ 'sections.countdown.seconds' | t }}</span>
          <span class="countdown-timer__label hidden-tablet-and-up">
            {{- 'sections.countdown.seconds_abbreviate' | t -}}
          </span>
        </div>
      </div>
      {% if bottom_title != blank %}
        <div class="countdown-timer__title countdown-timer__title-bottom {{ text_class }}">{{ bottom_title }}</div>
      {% endif %}
    </div>
  {% elsif countdown_display == 'single_line' %}
    <div
      timer
      class="countdown-timer__timer {% if main_class != blank %}{{ main_class }}__timer{% endif %} {% if one_line == true %}countdown-timer__timer--one-line {% endif %} {% if countdown_item_border == false %}countdown-timer__timer--no-gap{% endif %}"
    >
      {% if top_title != blank %}
        <div class="countdown-timer__title countdown-timer__title-top {{  text_class }}">{{ top_title }}</div>
      {% endif %}

      <div class="countdown-timer__count countdown-timer__count--single-line {% if countdown_item_border != true %}countdown-timer__count--no-border{% endif %}">
        <div class="countdown-timer__number-wrapper" data-days-wrapper>
          <span class="countdown-timer__number" data-days>00</span>
          <span class="countdown-timer__label hidden-phone">{{ 'sections.countdown.days' | t }}</span>
          <span class="countdown-timer__label hidden-tablet-and-up">
            {{- 'sections.countdown.days_abbreviate' | t -}}
          </span>
        </div>
        <div class="countdown-timer__number-wrapper" data-hours-wrapper>
          <span class="countdown-timer__number" data-hours>00</span>
          <span class="countdown-timer__label hidden-phone">{{ 'sections.countdown.hours' | t }}</span>
          <span class="countdown-timer__label hidden-tablet-and-up">
            {{- 'sections.countdown.hours_abbreviate' | t -}}
          </span>
        </div>
        <div class="countdown-timer__number-wrapper" data-minutes-wrapper>
          <span class="countdown-timer__number" data-minutes>00</span>
          <span class="countdown-timer__label hidden-phone">{{ 'sections.countdown.minutes' | t }}</span>
          <span class="countdown-timer__label hidden-tablet-and-up">
            {{- 'sections.countdown.minutes_abbreviate' | t -}}
          </span>
        </div>
        <div class="countdown-timer__number-wrapper" data-seconds-wrapper>
          <span class="countdown-timer__number" data-seconds>00</span>
          <span class="countdown-timer__label hidden-phone">{{ 'sections.countdown.seconds' | t }}</span>
          <span class="countdown-timer__label hidden-tablet-and-up">
            {{- 'sections.countdown.seconds_abbreviate' | t -}}
          </span>
        </div>
      </div>

      {% if bottom_title != blank %}
        <div class="countdown-timer__title countdown-timer__title-bottom {{ text_class }}">{{ bottom_title }}</div>
      {% endif %}
    </div>
  {% endif %}
  <div
    end
    hidden
    class="countdown-timer__end-message {% if main_class %}{{ main_class }}__end-message{% endif %}"
  >
    {% if end_message != blank %}
      {{ end_message }}
    {% endif %}
  </div>
</countdown-timer>
