{%- if image != blank -%}
  {%- capture image_push -%}
    <img class="mobile-nav__image" loading="lazy"
         sizes="270px" {% render 'image-attributes', image: image, sizes: '270,540,810' %}>

    {%- if block.settings.image_heading!= '' -%}
      <p class="mobile-nav__image-heading heading heading--xsmall">{{ heading }}</p>
    {%- endif -%}

    {%- if block.settings.image_text != '' -%}
      <span class="mobile-nav__image-text text--xsmall">{{ text }}</span>
    {%- endif -%}
  {%- endcapture -%}

  {%- if link != blank -%}
    <a
      href="{{ link}}"
      class="mobile-nav__image-push"
    >
      {{- image_push -}}
    </a>
  {%- else -%}
    <div class="mobile-nav__image-push">
      {{- image_push -}}
    </div>
  {%- endif -%}
{%- endif -%}
