{% assign form_class = form_class | default: 'newsletter__form' | append: ' form' %}
{% assign newsletter_id = 'newsletter-' | append: section.id %}
{% assign terms_text = terms_text | default: settings.rgpd_nl_text %}
{% assign source = source | default: 'newsletter' %}
{% assign button_style = button_style | default: 'primary' %}
{% assign button_size = button_size | default: 'full' %}
{% assign button_content_value = 'general.newsletter.subscribe' | t %}
{% assign button_content = button_content | default: button_content_value %}

{%- capture focus_form -%}
  {% if popup_container != blank %}
    <script>
	    window.nlFormFocusOnPopup = false;
	    window.addEventListener('DOMContentLoaded', () => {
		    document.getElementById('{{ popup_container }}').open = true;
		    window.nlFormFocusOnPopup = true;
	    });
    </script>
  {% else %}
    <script>
			window.addEventListener('DOMContentLoaded', () => {
				if (history.scrollRestoration) {
					history.scrollRestoration = 'manual'; // Prevent the browser to scroll on captcha page
				}

				if (!window.nlFormFocusOnPopup) {
					document.getElementById('shopify-section-{{ section.id }}').scrollIntoView();
				}
			});
    </script>
  {% endif %}
{%- endcapture -%}

{%- form 'customer', id: newsletter_id, class: form_class -%}
  {%- if form.posted_successfully? -%}
    {{ focus_form }}
    {% if settings.nl_promocode_show %}
      {% render 'newsletter-promocode', popup_container: popup_container %}
    {% else %}
      <div class="form__banner banner banner--success">
        <span class="banner__ribbon">{% render 'icon' with 'form-success' %}</span>
        <p class="banner__content">{{ 'footer.newsletter.success' | t }}</p>
      </div>
    {% endif %}
  {%- else -%}
    {%- if form.errors -%}
      {{ focus_form }}
      {%- liquid
        assign email_registered = false
        if form.errors.messages.size == 1
          comment
            If there is only one error, check if it is type "note"
          endcomment
          for message in form.errors.messages
            if message contains 'note'
              assign email_registered = true
            endif
          endfor
        endif
      -%}
      {% if email_registered %}
        <div class="form__banner banner banner--warning">
          <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>
          <p class="banner__content">
            {{ 'general.newsletter.error.already_registered' | t }}
          </p>
        </div>
      {% else %}
        <div class="form__banner banner banner--error">
          <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>
          <p class="banner__content">
            {{ form.errors.translated_fields.email }}
            {{ form.errors.messages.email }}
          </p>
        </div>
      {%- endif -%}
    {%- endif -%}

    <input type="hidden" name="contact[tags]" value="newsletter">
    <input type="hidden" name="contact[context]" value="{{ newsletter_id }}">
    {% comment %}Needed to detect if email is already registered or not{% endcomment %}
    <input type="hidden" name="contact[note][source]" value="{{ source }}">

    {% if form_content != blank %}
      {{ form_content }}
    {% else %}
      <div class="input-row">
        <div class="input">
          <input
            type="email"
            id="newsletter[{{ section.id }}][contact][email]"
            name="contact[email]"
            class="input__field"
            required
          >
          <label for="newsletter[{{ section.id }}][contact][email]" class="input__label">
            {{- 'general.newsletter.email' | t -}}
          </label>
        </div>

        <div class="input">
          <button type="submit" is="loader-button" class="button button--{{ button_style }} button--{{ button_size }}">
            {{ button_content }}
          </button>
        </div>
      </div>
    {% endif %}

    {% if terms_text != blank %}
      <div class="form__rgpd-information text--xsmall text--subdued">
        {{ terms_text }}
      </div>
    {% endif %}
  {%- endif -%}
{%- endform -%}
