{% if settings.enable_returns %}
  {%- assign returns_url = 'https://cdn.jsdelivr.net/npm/@the-oz/app-order-returns@'
    | append: settings.returns_app_oz_cdn_returns_app_front_version
    | append: '/dist/app-order-return/app-order-return.esm.js'
  -%}
  <script
    type="module"
    src="{% if settings.returns_app_oz_cdn_returns_test_in_local and theme.role != 'main' %}{{ settings.returns_app_oz_cdn_returns_local_url }}{% else %}{{ returns_url }}{% endif %}"
  ></script>

  {%- if settings.step_1_text_above != blank -%}
    <div class="content-box text-container">
      {{ settings.step_1_text_above }}
    </div>
  {%- endif -%}

  <app-order-return
    class="app-order-return"
    is-oz-theme="true"
    enable-product-index="false"
    {% if customer.email != blank %}
      customer-email="{{ customer.email }}"
    {% endif %}
    theme-language="{{request.locale.iso_code | splice: 0,1 }}"
    store-name="{{ shop.permanent_domain | remove: '.myshopify.com' }}"
    orders-page-suffix="{{ settings.returns_app_oz_cdn_orders_page_suffix }}"
    storefront-token="{{ settings.returns_app_oz_cdn_storefront_token }}"
    enable-select-products-wording="{% if settings.returns_app_oz_cdn_enable_select_products_wording %}true{% else %}false{% endif %}"
    api-url="{{ settings.returns_app_oz_cdn_api_url }}"
    return-reasons-codes="{{ settings.returns_app_oz_cdn_returns_codes }}"
    gift-return-threshold="{{ settings.returns_app_oz_cdn_gift_return_threshold }}"
    spinner-color="{{ settings.returns_app_oz_cdn_spinner_color }}"
    theme-translations="{{ 'returns_app_oz_cdn' | t }}"
    primary-button-style="{{ settings.returns_app_oz_cdn_primary_button_style }}"
    return-button-style="{{ settings.returns_app_oz_cdn_return_button_style }}"
  ></app-order-return>
{% endif %}

{%- if settings.step_1_text_below != blank -%}
  <div class="content-box text-container">
    {{ settings.step_1_text_below }}
  </div>
{%- endif -%}
