<script type="module" src="{{ 'oz-app-order-return.js' | asset_url }}"></script>
{%- assign primaryLocale = shop.published_locales | where: 'primary', true | last -%}
{%- if routes.root_url == '/' -%}
  {%- assign currentLanguage = primaryLocale.iso_code -%}
{%- else -%}
  {%- assign currentLanguage = routes.root_url | slice: 1, 2 -%}
{%- endif -%}

{% capture webcomp %}

{%- if settings.step_1_text_above != blank -%}
  <div class="content-box text-container">
    {{ settings.step_1_text_above }}
  </div>
{%- endif -%}

<oz-app-order-return
  data-config='
    {
        "RETURNS_LANGUAGE": "{{ currentLanguage }}",
        "RETURNS_STORE_NAME": "{{ settings.returns_store_name }}",
        "RETURNS_TOKEN": "{{ settings.returns_token }}",
        "URL_USER_ACCOUNT": "{{ routes.account_url }}",
        "URL_ACCOUNT_SUFFIX": "{{ settings.returns_account_suffix }}",
        "IMAGE_LOADER": "{{ 'loader.gif' | asset_url }}",
        "ERR_EMPTY_FIELDS": "{{ 'request_returns.errorEmptyFields' | t }}",
        "CNF_MESSAGE": "{{'request_returns.confirmationMessage' | t | escape }}",
        "CNF_MESSAGE_EMAIL": "{{ 'request_returns.confirmationEmailMessage' | t }}",
        "ERR_INVALID_INFOS": "{{ 'request_returns.errorInvalidInformations' | t }}",
        "ERR_INVALID_DELAY": "{{ 'request_returns.errorInvalidDelay' | t }}",
        "STEP1": {
            "TITLE": "{{ 'request_returns.step1.title' | t }}",
            "ORDERNR_PLACEHOLDER": "{{ 'request_returns.step1.orderNr_placeholder' | t }}",
            "EMAIL_PLACEHOLDER": "{{ 'request_returns.step1.email_placeholder'| t }}",
            "BTN_START": "{{ 'request_returns.step1.btn_start' | t }}"
        },
        "STEP2": {
            "TITLE": "{{ 'request_returns.step2.title' | t }}",
            "INVITE": "{{ 'request_returns.step2.invite' | t }}",
            "BTN_CONFIRM": "{{'request_returns.step2.btn_confirm' | t }}",
            "NO_ITEMS_AVAILABLES": "{{'request_returns.step2.noReturnableItemsAvailable' | t }}"
        },
        "STEP3": {
            "TITLE": "{{ 'request_returns.step3.title' | t }}"
        },
        "ITEM_LB_NR": "{{ 'request_returns.itemNr' | t }}",
        "ITEM_LB_LABEL": "{{ 'request_returns.itemlabel' | t }}",
        "ITEM_LB_QUANTIY": "{{ 'request_returns.itemQuantity' | t }}",
        "ITEM_LB_REASON": "{{ 'request_returns.itemReason' | t }}",
        "RETURNS_BTN_BACK": "{{ 'request_returns.btn_back' | t }}"
    }
  '
  data-reasons='
    {
        {%- assign arrReasons = settings.returns_codes | strip_newlines | strip_html | split: ';' -%}
        {%- for item in arrReasons -%}
            {%- assign values = item | split: '#' -%}
            "{{values[0]}}": "{{ 'request_returns.reasonsList.' | append: values[0] | t}}"{%- if forloop.last == false -%},{%- endif -%}
        {%- endfor -%}
    }
  '
></oz-app-order-return>

{% endcapture %}
{{ webcomp }}

{%- if settings.step_1_text_below != blank -%}
  <div class="content-box text-container">
    {{ settings.step_1_text_below }}
  </div>
{%- endif -%}
