{% if settings.password_visibility_toggle %}
  {% assign tag_name = 'password-control' %}
{% else %}
  {% assign tag_name = 'div' %}
{% endif %}

{% assign name = name | default: 'customer[password]' %}
{% assign id = id | default: name %}

{% if label_text_key %}
  {% assign label_text = label_text_key | t %}
{% endif %}

<{{ tag_name }} class="input {% if settings.password_visibility_toggle %}password-visibility{% endif %}">
  <input
    type="password"
    id="{{ id }}"
    class="input__field"
    name="{{ name }}"
    required="required"
    {% if autocomplete %}
      autocomplete="{{ autocomplete }}"
    {% endif %}
    {% if form.errors contains 'password' %}
      aria-invalid="true" aria-describedby="login-form-error"
    {% endif %}
  >
  {% if label_text != blank %}
    <label for="{{ id }}" class="input__label">{{ label_text }}</label>
  {% endif %}
  {% if settings.password_visibility_toggle %}
    <div class="password-control__button">
      <div class="icon--password-show hidden">
        {%- render 'icon' with 'password-show' -%}
      </div>
      <div class="icon--password-hide">
        {%- render 'icon' with 'password-hide' -%}
      </div>
    </div>
  {% endif %}

  {% if forgot_password_link %}
    <button
      type="button"
      class="input__field-link link text--xsmall text--subdued"
      data-action="switch-login-form"
    >
      {{ 'customer.login.forgot_password' | t }}
    </button>
  {% endif %}
</{{ tag_name }}>
