{%- liquid
  assign url_variant_id = null
  assign previous_options = null
  assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first
  assign page_url = page_url | replace: '\/', '/' | replace: '%20', ' ' | replace: '%7C', '|' | replace: '%2C', ','
  assign page_url = page_url | split: '?' | last
  assign page_url = page_url | split: '\u0026'

  for param in page_url
    assign pair = param | split: '='
    if pair[0] == 'options' and keep_opt_vals_btwn_swatches
      assign previous_options = pair[1] | replace: '%3A', ':' | split: ','
      assign current_options = null
      for option in product.options_with_values
        assign opt_name = option.name | downcase
        assign need_default = true
        for prev_option in previous_options
          assign prev_opt_name = prev_option | split: ':' | first
          assign prev_opt_val = prev_option | split: ':' | last
          if opt_name == prev_opt_name and option.values contains prev_opt_val
            assign current_options = current_options | append: prev_opt_val
            assign need_default = false
          endif
        endfor
        if need_default
          assign selected_value = selected_value | default: option.values.first
          assign current_options = current_options | append: selected_value
        endif
        unless forloop.last
          assign current_options = current_options | append: ','
        endunless
      endfor
      assign current_options = current_options | split: ','
      for pv in product.variants
        if pv.options == current_options
          assign url_variant_id = pv.id
        endif
      endfor
    endif
    if pair[0] == 'variant'
      for pv in product.variants
        assign pv_id = pv.id | append: ''
        if pv_id == pair[1]
          assign url_variant_id = pv.id
          assign current_options = pv.options
        endif
      endfor
    endif
  endfor
  if url_variant_id
    assign no_default_value_selected = false
  endif
-%}

{%- unless product.has_only_default_variant or hide_sold_out_variants and product.available == false -%}
  {%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%}
  {%- assign color_white_label = 'general.label.white' | t | downcase -%}
  {%- assign size_label_list = 'general.label.size' | t | replace: ', ', ',' | downcase | split: ',' -%}
  {%- assign found_size_option = false -%}
  {% assign default_selector_type = selector_type %}
  {% assign no_default_value_selected_only_names = no_default_value_selected_only
    | replace: ', ', ','
    | replace: ' ,', ','
    | downcase
    | split: ','
  %}
  {% assign hide_single_variant_exclude_arr = hide_single_variant_exclude
    | replace: ', ', ','
    | replace: ' ,', ','
    | downcase
    | split: ','
  %}

  <product-variants
    handle="{{ product.handle }}"
    form-id="{{ product_form_id }}"
    {% if url_variant_id %}
      url-variant-id="{{ url_variant_id }}"
    {% endif %}
    {% if update_url %}
      update-url
    {% endif %}
    {% if hide_sold_out_variants %}
      hide-sold-out-variants
    {% endif %}
    {% if hide_single_variant %}
      hide-single-variant
    {% endif %}
    {% if quick_add %}
      quick-add
    {% endif %}
    {% if option_id_prefix != blank %}
      option-id-prefix="{{ option_id_prefix }}-"
    {% endif %}
    {% if no_default_value_selected %}
      no-default-value-selected
    {% endif %}
    {% if section.settings.limit_variants %}
      variants-to-display="{{ section.settings.variants_to_display }}"
      variants-number="{{ product.variants.size }}"
    {% endif %}
    class="product-form__variants {% if quick_add %}product-form__variants--quick-add{% endif %}{% if extra_class != blank %} {{ extra_class }}{% endif %}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- assign selected_value = current_options[forloop.index0] | default: option.selected_value -%}
      {%- assign option_downcase = option.name | downcase -%}
      {%- capture option_id -%}{% if option_id_prefix != blank %}{{ option_id_prefix }}-{% endif %}option-{{ section.id }}-{{ template.suffix }}-{{ product.id }}-{{ forloop.index }}{%- endcapture -%}
      {%- capture option_input_name -%}{% if option_id_prefix != blank %}{{ option_id_prefix }}-{% endif %}option{{ option.position }}{%- endcapture -%}

      {%- assign selector_type = default_selector_type | default: 'block' -%}
      {%- assign is_color_option = false -%}

      {% if color_label_list contains option_downcase %}
        {%- assign is_color_option = true -%}
        {%- assign selector_type = color_mode | default: default_selector_type -%}

        {%- if selector_type == 'variant_image' -%}
          {%- comment -%}To use this mode every variant must have an attached media{%- endcomment -%}
          {%- for variant in product.variants -%}
            {%- unless variant.featured_media -%}
              {%- assign selector_type = 'color' -%}
              {%- break -%}
            {%- endunless -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endif -%}

      {% if force_selector_type != blank %}
        {% assign selector_type = force_selector_type %}
      {% endif %}
      <div
        class="product-form__option-selector{% if selector_type == 'dropdown' %} select-wrapper{% endif %}"
        {% if option.values.size == 1 and hide_single_variant %}
          {% unless hide_single_variant_exclude_arr contains option_downcase %}
            hidden
          {% endunless %}
        {% endif %}
        data-selector-type="{{ selector_type | replace: '_', '-' | escape }}"
      >
        {% capture option_info %}

          {% assign hide_selected_value = hide_selected_variants_value_block %}
          {% assign hide_label_block = hide_variants_label_block %}
          {% if selector_type != 'block' %}
            {% assign hide_selected_value = false %}
            {% assign hide_label_block = false %}
          {% endif %}

          {% unless selector_type == 'dropdown' and show_label_inside_dropdown or hide_label_dropdown%}
           {% unless hide_label_block %}
              <span class="product-form__option-name">{{ option.name }}{% if shop.locale == 'fr' %}&nbsp;{% endif %}:</span>
            {% endunless %}
          {% endunless %}

          {%- if selector_type != 'dropdown' and quick_add != true and hide_selected_value != true -%}
            <span id="{{ option_id }}-value" class="product-form__option-value">
              {% if no_default_value_selected != true or option.values.size == 1 %}
                  {{- selected_value -}}
              {% elsif no_default_value_selected %}
                {% unless no_default_value_selected_only_names == blank or no_default_value_selected_only_names contains option_downcase %}
                  {{- selected_value -}}
                {% endunless %}
              {% endif %}
            </span>
          {%- endif -%}
          {%- if size_label_list contains option_downcase -%}
            {%- assign found_size_option = true -%}

            {%- if size_chart_page != blank -%}
              <button
                type="button"
                is="toggle-button"
                class="product-form__option-link link text--subdued hidden-phone"
                aria-controls="product-{{ section.id }}-{{ block_id }}-{{ product.id }}-size-chart-drawer"
                aria-expanded="false"
              >
                {{ 'product.general.size_chart' | t }}
              </button>
              <button
                type="button"
                is="toggle-button"
                class="product-form__option-link link text--subdued hidden-tablet-and-up"
                aria-controls="product-{{ section.id }}-{{ block_id }}-{{ product.id }}-size-chart-popover"
                aria-expanded="false"
              >
                {{ 'product.general.size_chart' | t }}
              </button>

            {%- endif -%}


            {% assign product_display = false %}
            {% if settings.fringuant_metafield != blank %}
              {% assign title_metafield = settings.fringuant_metafield | split: '.' %}
              {% assign temp_id = product.metafields[title_metafield[0]][title_metafield[1]] %}
              {% if temp_id != blank %}
                {% assign product_display = temp_id.value %}
              {% endif %}
            {% endif %}

            {% if quick_add != true and hide_fringuant != true and settings.enable_fringuant == true %}
              {% render 'fringuant-button', product_display: product_display, product: product %}
            {% endif %}

          {%- endif -%}
        {% endcapture %}

        {% if option_info != blank %}
          <div class="product-form__option-info">
            {{ option_info }}
          </div>
        {% endif %}
        {%- case selector_type -%}
          {%- when 'variant_image' -%}
            <div class="variant-swatch-list">
              {%- assign option_position0 = option.position | minus: 1 -%}

              {%- for value in option.values -%}
                {%- comment -%}We search for the first variant that has an image for this color{%- endcomment -%}
                {%- for variant in product.variants -%}
                  {%- if variant.options[option_position0] == value -%}
                    <div class="variant-swatch">
                      <input
                        class="variant-swatch__radio visually-hidden"
                        type="radio"
                        name="{{ option_input_name }}"
                        form="{{ product_form_id }}"
                        id="{{ option_id }}-{{ forloop.index }}"
                        value="{{ value | escape }}"
                        data-bind-value="{{ option_id }}-value"
                        {% if value == selected_value %}
                          {% if no_default_value_selected != true or option.values.size == 1 %}
                            checked="checked"
                          {% elsif no_default_value_selected %}
                            {% unless no_default_value_selected_only_names == blank
                              or no_default_value_selected_only_names contains option_downcase
                            %}
                              checked="checked"
                            {% endunless %}
                          {% endif %}
                        {% endif %}
                        aria-label="{{ value | escape }}"
                      >
                      <label class="variant-swatch__item" for="{{ option_id }}-{{ forloop.index }}">
                        <span class="visually-hidden">{{ value }}</span>
                        {{-
                          variant.featured_media
                          | image_url: width: variant.featured_media.width
                          | image_tag:
                            loading: 'lazy',
                            sizes: '(max-width: 740px) 64px, 72px',
                            sizes: '64,72,128,144,192,216',
                            class: 'variant-swatch__image'
                        -}}
                      </label>
                    </div>
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endfor -%}
            </div>
          {%- when 'color' -%}
            <div class="color-swatch-list">
              {%- for value in option.values -%}
                {%- assign color_value_downcase = value | downcase -%}

                <div
                  class="color-swatch {% if color_white_label == color_value_downcase %}color-swatch--white{% else %}{% render 'color-swatch-white', value: value %}{% endif %}"
                >
                  <input
                    class="color-swatch__radio visually-hidden"
                    type="radio"
                    name="{{ option_input_name }}"
                    form="{{ product_form_id }}"
                    id="{{ option_id }}-{{ forloop.index }}"
                    value="{{ value | escape }}"
                    {% if value == selected_value %}
                      {% if no_default_value_selected != true or option.values.size == 1 %}
                        checked="checked"
                      {% elsif no_default_value_selected %}
                        {% unless no_default_value_selected_only_names == blank
                          or no_default_value_selected_only_names contains option_downcase
                        %}
                          checked="checked"
                        {% endunless %}
                      {% endif %}
                    {% endif %}
                    data-bind-value="{{ option_id }}-value"
                  >
                  <label
                    class="color-swatch__item"
                    for="{{ option_id }}-{{ forloop.index }}"
                    style="{% render 'color-swatch-style', value: value %}"
                  >
                    <span class="visually-hidden">{{ value }}</span>
                  </label>
                </div>
              {%- endfor -%}
            </div>
          {%- when 'block' -%}
            {% if settings.limit_variants %}
              {% assign variants_limit = settings.variants_to_display %}
            {% endif %}
            <div class="block-swatch-list {% if display_size %}block-swatch-list--{{ display_size }}{% endif %}">
              {% assign loop_index = 0 %}
              {%- for value in option.values -%}
                {% assign loop_index = loop_index | plus: 1 %}
                {% if value.available == false and settings.quick_add_hide_outofstock %}
                  {% assign loop_index = loop_index | minus: 1 %}
                {% endif %}
                <div class="block-swatch {% if variants_limit != blank and loop_index > variants_limit and quick_add %}loop-hidden{% endif %}">
                  {% assign current_option_name = option.name | downcase %}

                  <input
                    class="block-swatch__radio visually-hidden"
                    type="radio"
                    name="{{ option_input_name }}"
                    form="{{ product_form_id }}"
                    id="{{ option_id }}-{{ forloop.index }}"
                    value="{{ value | escape }}"
                    {% if value == selected_value and quick_add != true or option_name != current_option_name %}
                      {% if no_default_value_selected != true or option.values.size == 1 %}
                        checked="checked"
                      {% elsif no_default_value_selected %}
                        {% unless no_default_value_selected_only_names == blank
                          or no_default_value_selected_only_names contains option_downcase
                        %}
                          checked="checked"
                        {% endunless %}
                      {% endif %}
                    {% endif %}
                    data-bind-value="{{ option_id }}-value"
                  >
                  <label
                    class="block-swatch__item"
                    for="{{ option_id }}-{{ forloop.index }}"
                    {% if quick_add == true %}
                      track-click
                      is="loader-button-label"
                    {% endif %}
                  >
                    {{- value -}}
                  </label>
                </div>
              {%- endfor -%}
              {% if variants_limit != blank
                and settings.see_more_variants != blank
                and loop_index > variants_limit
                and quick_add
              %}
                <button class="block-swatch__variant-btn hidden-pocket">
                  {{ settings.see_more_variants }} ({{ loop_index | minus: variants_limit }})
                </button>
              {% endif %}
            </div>
          {%- when 'dropdown' -%}
            {% render 'product-variants-dropdown',
              option: option,
              option_id: option_id,
              selected_value: selected_value,
              product_form_id: product_form_id,
              show_label_inside_dropdown: show_label_inside_dropdown,
              option_id_prefix: option_id_prefix,
              hide_label_dropdown: hide_label_dropdown,
              keep_opt_vals_btwn_swatches: keep_opt_vals_btwn_swatches,
              no_default_value_selected: no_default_value_selected,
              no_default_value_selected_only_names: no_default_value_selected_only_names
            %}
        {%- endcase -%}
      </div>
    {%- endfor -%}

    {% unless hide_noscript %}
      <noscript>
        <label class="input__block-label" for="product-select-{{ section.id }}-{{ product.id }}">
          {{- 'product.form.variant' | t -}}
        </label>

        <div class="select-wrapper">
          <select
            class="select"
            autocomplete="off"
            id="product-select-{{ section.id }}-{{ product.id }}"
            name="id"
            form="{{ product_form_id }}"
          >
            {%- for variant in product.variants -%}
              <option
                {% if variant == product.selected_or_first_available_variant %}
                  selected="selected"
                {% endif %}
                {% unless variant.available %}
                  disabled="disabled"
                {% endunless %}
                value="{{ variant.id }}"
                data-sku="{{ variant.sku }}"
              >
                {{ variant.title }} - {% render 'f_format_money' with variant.price %}
              </option>
            {%- endfor -%}
          </select>

          {%- render 'icon' with 'chevron' -%}
        </div>
      </noscript>
    {% endunless %}
  </product-variants>
{%- endunless -%}

{%- comment -%}
  IMPLEMENTATION NOTE: if during the iteration of the options we have found an option matching a size chart, we add it here
{%- endcomment -%}

{%- if size_chart_page != blank and found_size_option -%}
  {%- comment -%}Drawer is for tablet and desktop{%- endcomment -%}
  <drawer-content
    id="product-{{ section.id }}-{{ block_id }}-{{ product.id }}-size-chart-drawer"
    class="drawer drawer--large hidden-phone"
    location="product-info"
  >
    <span class="drawer__overlay"></span>

    <header class="drawer__header">
      <p class="drawer__title heading h6">{{ size_chart_page.title }}</p>

      <button
        type="button"
        class="drawer__close-button tap-area"
        data-action="close"
        title="{{ 'general.accessibility.close' | t | escape }}"
      >
        {%- render 'icon' with 'close' -%}
      </button>
    </header>

    <div class="drawer__content drawer__content--padded-start">
      <div class="rte">
        {{- size_chart_page.content -}}
      </div>
    </div>
  </drawer-content>

  {%- comment -%}Popover is for mobile{%- endcomment -%}
  <popover-content
    id="product-{{ section.id }}-{{ block_id }}-{{ product.id }}-size-chart-popover"
    class="popover hidden-lap-and-up"
  >
    <span class="popover__overlay"></span>

    <header class="popover__header">
      <p class="popover__title heading h6">{{ size_chart_page.title }}</p>

      <button
        type="button"
        class="popover__close-button tap-area tap-area--large"
        data-action="close"
        title="{{ 'general.accessibility.close' | t | escape }}"
      >
        {%- render 'icon' with 'close' -%}
      </button>
    </header>

    <div class="popover__content">
      <div class="rte">
        {{- size_chart_page.content -}}
      </div>
    </div>
  </popover-content>
{%- endif -%}
