{% liquid
  assign custom_related_product_swatches_enabled = settings.enable_custom_related_products_swatches
  assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ','
  assign color_white_label = 'general.label.white' | t | downcase
  assign quick_buy_icon_name = 'quick-buy-' | append: settings.cart_icon | replace: '_', '-'
  assign product_url = product.url
  assign image_lazy = image_lazy | default: true, allow_false: true

  assign media_in_slider_max_count = settings.media_in_slider_max_count
  assign media_in_slider_force_first_image = settings.media_in_slider_force_first_image
  assign media_in_slider_only_images = settings.media_in_slider_only_images
  assign media_in_slider_loop = settings.media_in_slider_loop

  if product.url contains '?'
    assign product_url_contains_query = true
  else
    assign product_url_contains_query = false
  endif

  if url_params
    if product_url_contains_query
      assign product_url = product_url | append: '&' | append: url_params
    else
      assign product_url = product_url | append: '?' | append: url_params
    endif
    assign product_url_contains_query = true
  endif

  assign list_type = list | split: '|' | first

  if highlight.size
    if highlight.size == 'fullwidth'
      assign column_size = 'var(--section-products-per-row)'
      assign row_size = 1
    else
      assign sizes = highlight.size | split: 'x'
      assign column_size = sizes | first | times: 1
      assign row_size = sizes | last | times: 1
    endif
  endif
%}

{% comment %}
  featured_media - first image/video/media object that will be visible on product-item load
  next_medias_index - array of indexes of product media objects(images/videos/3d models) which are rendered after the featured_media
{% endcomment %}
{%- capture product_medias -%}
  {% if highlight.type != blank and highlight.type != 'default' %}
    {% case highlight.type %}
      {% when 'show second image first' %}
        {% if product.media.size > 1 %}
          {% assign featured_media = product.media[1] %}
          {% assign next_medias_index = 0 | split: ',' %}
        {% endif %}
      {% when 'override media' %}
        {% assign featured_media = highlight.media.value %}
      {% when '2 images side by side' %}
        {% assign media_side_by_side = 2 %}
        {% assign featured_media = product.featured_media %}
        {% assign next_medias_index = 1 | split: ',' %}
      {% when '4 images side by side' %}
        {% assign media_side_by_side = 4 %}
        {% assign featured_media = product.featured_media %}
        {% assign next_medias_index = '1,2,3' | split: ',' %}
    {% endcase %}
  {% else %}
    {% if settings.show_video_in_collection and list_type == 'collection' %}
      {% if settings.restrict_tag_video_in_collection == blank
      or settings.restrict_tag_video_in_collection != blank
      and product.tags contains settings.restrict_tag_video_in_collection
      %}
        {% assign featured_video = product.media | where: 'media_type', 'video' | first %}
        {% if featured_video %}
          {% assign featured_media = featured_video %}
          {% assign push_video = true  %}
        {% endif %}
      {% endif %}
    {% endif %}

    {%- if settings.show_secondary_image and product.media.size > 1 and hide_secondary_image != true and push_video == blank -%}
      {%- assign next_medias_index = 1 | split: ',' -%}
    {%- endif -%}
  {% endif %}

  {% if push_video == blank and featured_media == blank %}
    {% assign product_images =  product.media | where: 'media_type', 'image' %}
    {% assign featured_media = product_images |  first %}

    {% if product_images[1] %}
      {% assign next_medias_index = product_images[1].position | minus: 1 | split: ',' %}
    {% else %}
      {% assign next_medias_index = null %}
    {% endif %}
  {% endif %}

  {% if packshot_first_image == true %}
    {% for image in product_images %}
      {% if image.alt contains settings.packshot_image_text and forloop.index > 1 %}
        {% assign featured_media = image %}
      {% endif %}
      {% assign next_medias_index = product_images[0].position | minus: 1 | split: ',' %}
    {% endfor %}
  {% endif %}


  {%- if enable_media_in_slider and product.media.size > 1 -%}

    {% unless featured_media %}
      {% if media_in_slider_force_first_image %}
        {% assign featured_media =  product.media | where: 'media_type', 'image' | first %}
      {% else %}
        {% assign featured_media =  product.media | first %}
      {% endif %}
    {% endunless %}

    {% assign total_medias_count = 1 %}
    {% assign next_medias_index = '' %}

    {% for product_media in product.media %}
      {% if total_medias_count == media_in_slider_max_count %}
        {% break %}
      {% endif %}
      {% if product_media.position == featured_media.position %}
        {% continue %}
      {% endif %}
      {% if media_in_slider_only_images and product_media.media_type == 'video' %}
        {% continue %}
      {% endif %}
      {% assign next_media_index = product_media.position | minus: 1 %}
      {% assign next_medias_index = next_medias_index | append: next_media_index | append: ',' %}
      {% assign total_medias_count = total_medias_count | plus: 1 %}
    {% endfor %}
    {% assign next_medias_index = next_medias_index | split: ',' %}
  {% endif %}

  {% comment %}Override media{% endcomment %}
  {% if override_media %}
    {% assign featured_media = override_media | first %}
    {% assign push_video = false  %}

    {%- if settings.show_secondary_image and override_media.count > 1 -%}
      {%- assign next_medias_index = 1 | split: ',' -%}
    {%- endif -%}
  {% endif %}

  {% comment %} For slider mode only {% endcomment %}
  {% assign media_slide_index = 1 %}

  {% if featured_media %}
    {% assign device_media_class = 'product-item__primary-image' %}

    {% render 'device-media',
      media: featured_media,
      class: device_media_class,
      sizes: sizes_attribute,
      lazy : image_lazy,
      in_slider: true,
      slide_index: media_slide_index
    %}
  {% endif %}

  {% for i in next_medias_index %}
    {% assign media_index = i |  times: 1 %}
    {% if override_media %}
      {% comment %}It's not possible to access direct index to media array (when its comes from metafield){% endcomment %}
      {% for media in override_media %}
        {% if forloop.index0 == media_index %}
          {% assign next_media = media %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% assign next_media = product.media[media_index] %}
    {% endif %}

    {% if next_media %}
      {% assign media_slide_index = media_slide_index | plus: 1 %}
      {% assign device_media_class = 'product-item__secondary-image' %}
      {% if enable_media_in_slider %}
        {% assign device_media_class = '' %}
      {% endif %}

      {% render 'device-media',
        media: next_media,
        class: device_media_class,
        sizes: sizes_attribute,
        lazy : image_lazy,
        in_slider: true,
        slide_index: media_slide_index
      %}
    {% endif %}
  {% endfor %}
{%- endcapture -%}

{% assign has_multiple_media = false %}
{% if override_media and override_media.count > 1 and settings.show_secondary_image %}
  {% assign has_multiple_media = true %}
{% elsif override_media == blank
  and settings.show_secondary_image
  and product.media.size > 1
  and hide_secondary_image != true
  and push_video == blank
  and next_medias_index != blank
%}
  {% assign has_multiple_media = true %}
{% endif %}

{% assign media_aspect_ratio = featured_media.preview_image.aspect_ratio %}
{% case settings.product_image_size %}
  {% when 'short' %}
    {% assign media_aspect_ratio = 4 | divided_by: 3.0 %}
  {% when 'square' %}
    {% assign media_aspect_ratio = 1 %}
  {% when 'tall' %}
    {% assign media_aspect_ratio = 2 | divided_by: 3.0 %}
{% endcase %}
{% if media_side_by_side == 2 %}
  {% assign media_aspect_ratio = media_aspect_ratio | times: 2 %}
{% endif %}

{% assign first_available_variant_id = product.selected_or_first_available_variant.id %}
{% if prefered_variant != blank %}
  {% assign first_available_variant_id = prefered_variant %}
  {% assign is_prefered_variant = true %}
{% elsif settings.preferred_variant_mode == 'use_cheapest_available_variant' %}
  {% assign available_variants = product.variants | where: 'available', true | sort: 'price' %}
  {% if available_variants.size > 0 %}
    {% assign first_available_variant = available_variants | first %}
    {% assign first_available_variant_id = first_available_variant.id %}
    {% assign is_prefered_variant = true %}
  {% endif %}
{% endif %}

{% assign compare_at_price = product.compare_at_price %}
{% if product.variants %}
  {% assign default_variant = product.variants | where: 'id', first_available_variant_id | first %}
  {% assign compare_at_price = default_variant.compare_at_price %}
{% endif %}
<product-item
  class="product-item {% unless product.available %}product-item--sold-out{% endunless %} {{ highlight.extra_css_class }} {{ class }}"
  {% if reveal %}
    reveal
  {% endif %}
  data-product-handle="{{ product.handle }}"
  data-product-id="{{ product.id }}"
  data-first-available-variant-id="{{ first_available_variant_id }}"
  {% if is_prefered_variant %}
    is-prefered-variant
  {% endif %}
  {% if product.variants %}
    data-first-available-variant-sku="{{ default_variant.sku }}"
    data-first-available-variant-barcode="{{ default_variant.barcode }}"
    data-instock="{{ default_variant.available }}"
  {% endif %}
  data-custom-demo="any data"
  data-collections="{{ product.collections | map: 'title'  | join: ',' }}"
  position="{{ position }}"
  list="{{ list }}"
  price="{{ product.price }}"
  compare-at-price="{{ compare_at_price }}"
  price-varies="{{ product.price_varies }}"
  {%- if page -%}
    page="{{ page }}"
  {%- endif -%}
  {% unless advanced_collection_layout %}
    {% if column_size or row_size %}
      style="{% if column_size %}--item-column:{{ column_size }};{% endif %}{% if row_size %}--item-row:{{ row_size }};{% endif %}"
    {% endif %}
  {% endunless %}
>
  {%- if advanced_collection_layout != true and column_size >= 2 -%}
    <style>
      @media screen and (max-width: 740px) {
        .product-item.product-list__item[data-product-handle='{{ product.handle }}'] {
          --item-column: var(--section-products-per-row) !important;
        }
      }
    </style>
  {% endif %}

  {%- capture product_labels -%}
    {% render 'product-labels' ,  product: product %}
    {%- if product.available == false and settings.sold_out_display == 'label' -%}
      <span class="label label--subdued">{{ 'collection.product.sold_out' | t }}</span>
    {%- endif -%}
    {%- assign cheapest_variant = product.variants | sort: 'price' | first -%}
    {%- if settings.show_discount and settings.discount_label_text != blank -%}
      <product-discount-label>
        <template>
          <span class="label label--highlight">{{ settings.discount_label_text }}</span>
        </template>
      </product-discount-label>
    {%- endif -%}
  {%- endcapture -%}

  {% assign product_item_image_wrapper_class = 'product-item__image-wrapper' %}
  {% unless enable_media_in_slider %}
    {% if has_multiple_media %}
      {% assign product_item_image_wrapper_class = product_item_image_wrapper_class
        | append: ' product-item__image-wrapper--multiple'
      %}
    {% endif %}
    {% if media_side_by_side > 1 %}
      {% assign product_item_image_wrapper_class = product_item_image_wrapper_class
        | append: ' product-item__image-wrapper--side-by-side'
      %}
      {% assign product_item_image_wrapper_class = product_item_image_wrapper_class
        | append: ' product-item__image-wrapper--side-by-side-'
        | append: media_side_by_side
      %}
    {% endif %}
  {% endunless %}

  <div class="{{product_item_image_wrapper_class}}">
    {% if reduced_content != true %}
      {% if settings.labels_type == 'metafields_v2' %}
        {% render 'f_render_product_labels', product: product, placement: 'top-left-image' %}
        {% render 'f_render_product_labels', product: product, placement: 'top-right-image' %}
      {% else %}
        {% assign label-position = '' %}
        {% assign labels_placement = settings.labels_placement %}
        {%- case labels_placement -%}
          {%- when 'top-left-image' -%}
            {% assign label-position = 'label-list--top-left' %}
          {%- when 'top-right-image' -%}
            {% assign label-position = 'label-list--top-right' %}
          {%- when 'top-title' -%}
            {% assign label-position = 'label-list--top-title' %}
        {%- endcase -%}
        {%- if product_labels != blank
          and reduced_content != true
          and labels_placement != 'none'
          and labels_placement != 'top-title'
        -%}
          <div class="product-item__label-list label-list {{ label-position }}">
            {{- product_labels -}}
          </div>
        {%- endif -%}
      {% endif %}
    {% endif %}

    {% if product.available == false and settings.sold_out_display == 'overlay' %}
      <div class="product-item__sold-out-wrapper">
        <div class="product-item__sold-out-wrapper-inner">
          {% assign sold_out_button_text = 'collection.product.sold_out_wrapper.button_text' | t %}
          {% if product.tags contains 'restock' %}
            {% assign sold_out_button_text = 'collection.product.sold_out_wrapper.restock_button_text' | t %}
          {% endif %}
          <span class="button">{{ sold_out_button_text }}</span>
          {% if settings.show_create_alert_text == true %}
            <p>{{ 'collection.product.sold_out_wrapper.text' | t }}</p>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if enable_media_in_slider and media_slide_index > 1 %}
      {%- capture flickity_config -%}
        {
        "adaptiveHeight": true,
        "dragThreshold": 10,
        "fade": false,
        "draggable": ">1",
        "contain": true,
        "percentPosition": false,
        "pageDots": false,
        "prevNextButtons": false,
        "wrapAround": {{ media_in_slider_loop }}
        }
      {%- endcapture -%}
      <a
        href="{{ product_url }}"
        data-instant
        data-product-url
      >
        <flickity-carousel
          flickity-config="{{ flickity_config | escape }}"
          id="product-{{ section.id }}-{{ product.id }}-media-carousel"
          class="product-item__aspect-ratio aspect-ratio {% if settings.product_image_size != 'natural' %}aspect-ratio--{{ settings.product_image_size }}  aspect-ratio--{{ settings.product_image_size_mode }}{% endif %}"
          style="padding-bottom: {{ 100.0 | divided_by: media_aspect_ratio }}%; width: 100%; --aspect-ratio: {{ media_aspect_ratio }}"
          {% if settings.show_secondary_image %}
            show-secondary-on-hover
            hover-container=".product-item__image-wrapper"
          {% endif %}
        >
          {{ product_medias }}
        </flickity-carousel>
      </a>
      {% if enable_media_in_slider and next_medias_index.size > 0 %}
        <flickity-controls
          controls="product-{{ section.id }}-{{ product.id }}-media-carousel"
          class="product-item__media-nav"
        >
          <button
            class="product-item__media-prev-next product-item__media-prev-next--prev tap-area tap-area--large hidden-pocket"
            aria-label="{{ 'general.accessibility.previous' | t }}"
            data-action="prev"
          >
            {%- render 'icon' with 'chevron-back', direction_aware: true, width: 20, height: 20 -%}
          </button>

          <div class="dots-nav dots-nav--centered hidden-lap-and-up">
            <button
              type="button"
              tabindex="-1"
              class="dots-nav__item tap-area"
              {% if featured_media.id == featured_media.id %}
                aria-current="true"
              {% endif %}
              aria-controls="product-item-{{ section.id }}-{{ featured_media.id }}"
              data-media-id="{{ featured_media.id }}"
              data-action="select"
            >
              <span class="visually-hidden">{{ 'general.accessibility.go_to_slide' | t: num: 1 }}</span>
            </button>
            {%- for media_index in next_medias_index -%}
              {% assign dot_media_index = media_index | times: 1 %}
              {%- assign dot_media = product.media[dot_media_index] -%}
              <button
                type="button"
                tabindex="-1"
                class="dots-nav__item tap-area"
                aria-controls="product-item-{{ section.id }}-{{ dot_media.id }}"
                data-media-id="{{ dot_media.id }}"
                data-action="select"
              >
                <span class="visually-hidden">{{ 'general.accessibility.go_to_slide' | t: num: forloop.index }}</span>
              </button>
            {%- endfor -%}
          </div>
          <button
            class="product-item__media-prev-next product-item__media-prev-next--next tap-area tap-aera--large hidden-pocket"
            aria-label="{{ 'general.accessibility.next' | t }}"
            data-action="next"
          >
            {%- render 'icon' with 'chevron-back', direction_aware: true, width: 20, height: 20 -%}
          </button>
        </flickity-controls>
      {% endif %}
    {% else %}
      <a
        href="{{ product_url }}"
        data-instant
        data-product-url
        class="product-item__aspect-ratio aspect-ratio {% if settings.product_image_size != 'natural' %}aspect-ratio--{{ settings.product_image_size }} aspect-ratio--{{ settings.product_image_size_mode }}{% endif %}"
        style="padding-bottom: {{ 100.0 | divided_by: media_aspect_ratio }}%; --aspect-ratio: {{ media_aspect_ratio }}"
      >
        {{ product_medias }}

        {%- if settings.product_color_display == 'swatch' -%}
          {%- for color_label in color_label_list -%}
            {%- if product.options_by_name[color_label] != blank -%}
              {%- for color_option in product.options_by_name[color_label].values -%}
                {%- for variant in product.variants -%}
                  {%- if variant.options contains color_option and variant.featured_media != blank -%}
                    {%- unless variant.featured_media == product.featured_media -%}
                      {{
                        variant.featured_media
                        | image_url: width: variant.featured_media.width
                        | image_tag:
                          loading: 'lazy',
                          sizes: sizes_attribute,
                          widths: '200,300,400,500,600,700,800,900,1000,1100,1200',
                          class: 'product-item__primary-image',
                          data-media-id: variant.featured_media.id,
                          hidden: true
                      }}
                      {% break %}
                    {%- endunless -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </a>
    {% endif %}
    {%- if request.page_type != 'password' and product.available and reduced_content != true and show_cta != true -%}
      {%- capture form_id -%}product_form_{{ section.id }}_{{ block.id }}_{{ product.id }}_{% increment product_form_index %}{%- endcapture -%}
      {% if settings.product_add_to_cart %}
        {% assign aria_controls_id = 'product-'
          | append: section.id
          | append: '-'
          | append: block.id
          | append: '-'
          | append: product.id
        %}
        {% render 'product-quick-add',
          product: product,
          form_id: form_id,
          option_name: option_name,
          aria_controls_id: aria_controls_id,
          first_available_variant_id: first_available_variant_id,
          product_url: product_url,
          product_url_contains_query: product_url_contains_query
        %}
      {% endif %}
    {% endif %}
    {% if settings.enable_wishlist == true and reduced_content != true %}
      {% if product.available or settings.wishlist_show_add_product_unavailable %}
        {% assign wishlist-position = '' %}
        {% if settings.labels_placement == 'top-right-image' %}
          {% assign wishlist-position = 'add-to-wishlist--left' %}
        {% endif %}
        <add-to-wishlist
          class="add-to-wishlist add-to-wishlist--product-item {{ wishlist-position }}"
        ></add-to-wishlist>
      {% endif %}
    {% endif %}
  </div>
  <div class="product-item__info {% if show_cta %}product-item__info--with-button{% endif %} {% if reduced_font_size %}text--small{% endif %}">
    {% assign list_modifier = list | replace: ':', '-' %}
    <div
      class="product-item-meta product-item-meta--{{ list_modifier }}"
      {% if settings.product_item_meta_link_wrapper %}
        is="link-wrapper"
        data-href="{{ product_url }}"
      {% endif %}
    >
      {%- if settings.show_vendor -%}
        {%- assign vendor_handle = product.vendor | handle -%}
        {%- assign collection_for_vendor = collections[vendor_handle] -%}

        {%- unless collection_for_vendor.empty? -%}
          <a
            class="product-item-meta__vendor heading heading--xsmall"
            href="{{ collection_for_vendor.url }}"
            data-instant
          >
            {{- product.vendor -}}
          </a>
        {%- else -%}
          <a
            class="product-item-meta__vendor heading heading--xsmall"
            href="{{ product.vendor | url_for_vendor }}"
            data-instant
          >
            {{- product.vendor -}}
          </a>
        {%- endunless -%}
      {%- endif -%}

      {%- capture labels_top_title -%}
        {%- if reduced_content != true -%}
          {% if settings.labels_type == 'metafields_v2' %}
            {% render 'f_render_product_labels', product: product, placement: 'top-title' %}
          {% else %}
            {%- if product_labels != blank and reduced_content != true and settings.labels_placement == 'top-title' -%}
              <div class="product-item-meta__label-list">
                {{- product_labels -}}
              </div>
            {%- endif -%}
          {% endif %}
        {%- endif -%}
      {%- endcapture -%}

      {%- capture labels_bottom_title -%}
        {%- if reduced_content != true -%}
          {% if settings.labels_type == 'metafields_v2' %}
            {% render 'f_render_product_labels', product: product, placement: 'bottom-title' %}
          {% else %}
            {%- if product_labels != blank and reduced_content != true and settings.labels_placement == 'bottom-title' -%}
              <div class="product-item-meta__label-list">
                {{- product_labels -}}
              </div>
            {%- endif -%}
          {% endif %}
        {%- endif -%}
      {%- endcapture -%}

      {% if labels_top_title != blank %}
        {% assign labels_title_class = ' has-labels--top-title' %}
      {% endif %}
      {% if labels_bottom_title != blank %}
        {% assign labels_title_class = labels_title_class | append: ' has-labels--bottom-title' %}
      {% endif %}

      {% if labels_top_title != blank %}
        {{ labels_top_title }}
      {% endif %}

      <a
        href="{{ product_url }}"
        data-product-url
        data-instant
        data-url
        data-title
        class="product-item-meta__title{{ labels_title_class }}"
      >
        {{- product.title -}}
      </a>

      {% if settings.product_item_show_subtitle %}
        {% render 'f_render-product-subtitle',
          product: product,
          subtitle_class: 'product-item-meta__subtitle',
          subtitle_metafield: settings.product_item_subtitle_metafield
        %}
      {% endif %}

      {% if labels_bottom_title != blank %}
        {{ labels_bottom_title }}
      {% endif %}

      {% assign show_discount_label = false %}
      {% if settings.show_discount and settings.discount_placement == 'inside-price-list' or reduced_content %}
        {% assign show_discount_label = true %}
      {% endif %}
      {%- render 'product-price',
        product: product,
        use_variant: false,
        show_ecopart: true,
        show_label: false,
        show_discount_label: show_discount_label,
        price_list_class: 'price-list--centered',
        wrapper_class: 'product-item-meta__price-list-container',
        default_variant: default_variant,
        show_price_varies: settings.show_price_varies
      -%}

      {%- if settings.show_product_rating and reduced_content != true -%}
        <a class="product-item-meta__reviews-badge text--small" href="{{ product_url }}" data-product-url data-instant>
          {%- render 'product-rating', product: product -%}
        </a>
      {%- endif -%}

      {% if custom_related_product_swatches_enabled -%}
        {%- capture html_attributes -%}
          {% if reduced_content %}
            data-reduced-content="{{ reduced_content }}"[]
          {% endif %}
          {% if reduced_font_size %}
            data-reduced-font-size="{{ reduced_font_size }}"[]
          {% endif %}
          {% if hide_secondary_image %}
            data-hide-secondary-image="{{ hide_secondary_image }}"[]
          {% endif %}
          {% if sizes_attribute != blank %}
            data-sizes-attribute="{{ sizes_attribute }}"[]
          {% endif %}
          {% if position != blank %}
            data-position="{{ position }}"[]
          {% endif %}
          {% if list != blank %}
            data-list="{{ list }}"
          {% endif %}
          {% if class != blank %}
            data-class="{{ class }}"
          {% endif %}
        {%- endcapture -%}
        {%- render 'oz-related-products-swatches',
          current_product: product,
          location: 'list',
          html_attributes: html_attributes
        -%}
      {%- endif %}

      {%- if settings.product_color_display != 'hide' and reduced_content != true -%}
        {%- for color_label in color_label_list -%}
          {%- if product.options_by_name[color_label] != blank -%}
            {%- assign product_option = product.options_by_name[color_label] -%}

            {%- case settings.product_color_display -%}
              {%- when 'count' -%}
                <p class="product-item-meta__color-count text--small text--subdued">
                  {{- 'collection.product.available_colors_count' | t: count: product_option.values.size -}}
                </p>
              {%- when 'swatch' -%}
                {% if product_option.values.size > 1 %}
                  <div class="product-item-meta__swatch-list color-swatch-list color-swatch-list--mini">
                    {%- assign variant_option = 'option' | append: product_option.position -%}

                    {%- capture color_name -%}{{ section.id }}-{{ block.id }}-{{ product.id }}{%- endcapture -%}

                    {%- for value in product_option.values -%}
                      {%- capture color_id -%}{{ color_name }}-{{ forloop.index }}{%- endcapture -%}
                      {%- assign color_value_downcase = value | downcase -%}
                      {%- assign variant_for_value = product.variants | where: variant_option, value | first -%}

                      <div class="color-swatch {% if color_white_label == color_value_downcase %}color-swatch--white{% else %}{% render 'color-swatch-white', value: value %}{% endif %}">
                        <input
                          class="color-swatch__radio visually-hidden"
                          type="radio"
                          name="{{ color_name }}"
                          id="{{ color_id }}"
                          value="{{ value | escape }}"
                          {% if product_option.selected_value == value %}
                            checked="checked"
                          {% endif %}
                          data-variant-id="{{ variant_for_value.id }}"
                          {% if variant_for_value.featured_media %}
                            data-variant-featured-media="{{ variant_for_value.featured_media.id }}"
                          {% endif %}
                        >
                        <label
                          class="color-swatch__item"
                          for="{{ color_id }}"
                          style="{% render 'color-swatch-style', value: value %}"
                        >
                          <span class="visually-hidden">{{ value }}</span>
                        </label>
                      </div>
                    {%- endfor -%}
                  </div>
                {% endif %}
            {%- endcase -%}

            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    </div>

    {%- if product.available and reduced_content or show_cta -%}
      <div class="product-item__cta-wrapper">
        {%- if product.variants.size == 1 -%}
          {%- capture form_id -%}product_form_{{ section.id }}_{{ block.id }}_{{ product.id }}_{% increment product_form_index %}{%- endcapture -%}
          {%- form 'product', product, is: 'product-form', id: form_id -%}
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" name="id" value="{{ first_available_variant_id }}">
            <button
              type="submit"
              {% if show_cta %}
                is="loader-button"
              {% endif %}
              class="{% if reduced_content %}product-item__link link text--subdued{% else %}product-item__cta button button--primary{% endif %}"
            >
              {{ 'collection.product.add_to_cart_short' | t }}
            </button>
          {%- endform -%}
        {%- else -%}
          <button
            type="button"
            {% if show_cta %}
              loader
            {% endif %}
            is="toggle-button"
            data-href="{{ product_url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-drawer"
            aria-controls="product-item-quick-buy-drawer"
            aria-expanded="false"
            class="{% if reduced_content %}product-item__link link text--subdued{% else %}product-item__cta button button--primary{% endif %} hidden-phone"
          >
            {{ 'collection.product.quick_view' | t }}
          </button>
          <button
            type="button"
            {% if show_cta %}
              loader
            {% endif %}
            is="toggle-button"
            data-href="{{ product_url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-popover"
            aria-controls="product-item-quick-buy-popover"
            aria-expanded="false"
            class="{% if reduced_content %}product-item__link link text--subdued{% else %}product-item__cta button button--primary{% endif %} hidden-tablet-and-up"
          >
            {{ 'collection.product.quick_view' | t }}
          </button>
          {% comment %}
            <quick-buy-popover
              id="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-popover"
              href="{{ product_url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-popover"
              class="popover popover--quick-buy hidden-tablet-and-up"
            ></quick-buy-popover>
            <quick-buy-drawer
              id="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-drawer"
              href="{{ product_url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-drawer"
              class="drawer drawer--large drawer--quick-buy hidden-phone"
            ></quick-buy-drawer>
          {% endcomment %}
        {%- endif -%}
      </div>
    {%- elsif reduced_content -%}
      <div class="product-item__cta-wrapper">
        <span class="product-item__link text--subdued">{{ 'collection.product.sold_out' | t }}</span>
      </div>
    {%- endif -%}
  </div>

  {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
    <script type="application/ld+json" data-unit-price>
      {
        "unit_price": {{- product.selected_or_first_available_variant.unit_price -}},
        "unit_price_measurement": {
          "measured_type": "{{- product.selected_or_first_available_variant.unit_price_measurement.measured_type -}}",
          "quantity_value": {{- product.selected_or_first_available_variant.unit_price_measurement.quantity_value -}},
          "quantity_unit": "{{- product.selected_or_first_available_variant.unit_price_measurement.quantity_unit -}}",
          "reference_value": {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}},
          "reference_unit": "{{- product.selected_or_first_available_variant.unit_price_measurement.reference_unit -}}"
        }
      }
    </script>
  {%- endif -%}
</product-item>
