{% assign block_settings = block_settings | default: product-inventory.settings %}
{% assign block_shopify_attributes = block_shopify_attributes | default: block_settings.shopify_attributes %}
{% assign text = text | default: block_settings.text %}
{% assign popover_text = popover_text | default: block_settings.popover_text %}
{% assign visibility_mode = visibility_mode | default: block_settings.visibility_mode %}
{% assign metafield = metafield | default: block_settings.metafield %}
{% assign metafield_values = metafield_values | default: block_settings.metafield_values %}
{% assign block_id = block_id | default: 'no-id' %}
{% assign custom_classes = custom_classes | default: '' %}
{% assign custom_classes = custom_classes | append: ' ' | append: block_settings.css_classes %}

{% assign show_block = true %}

{% if visibility_mode != 'always_visible' %}
  {% assign show_block = false %}
  {% if metafield != blank and metafield_values != blank %}
    {% if product %}
      {% assign product_metafield = block_settings.metafield | strip | split: '.' %}
      {% assign metafield_namespace = product_metafield[0] %}
      {% assign metafield_key = product_metafield[1] %}
      {% assign product_metafield_value = product.metafields[metafield_namespace][metafield_key].value | default: '' %}
    {% endif %}
    {% comment %} default mode is visible when matched {% endcomment %}
    {% assign product_metafield_values = product_metafield_value | strip | downcase | split: ',' %}
    {% assign block_metafield_values = metafield_values | strip | downcase | split: ',' %}

    {% for block_metafield_matching_value in block_metafield_values %}
      {% if product_metafield_values contains block_metafield_matching_value %}
        {% assign show_block = true %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if visibility_mode == 'visible_not_matched' %}
      {% comment %} reverse visibility value {% endcomment %}
      {% if show_block %}
        {% assign show_block = false %}
      {% else %}
        {% assign show_block = true %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}

{% if show_block %}
  {%- capture block_content -%}
    {% if text != blank and popover_text != blank %}
      {% assign popover_id = 'popover-product-text-' | append: section.id | append: '-' | append: block_id %}
      <div class="text-block-popover">
        {% if block_settings.popover_question %}
          {% render 'richtext-content',
            default_classes: '',
            richtext_settings: block_settings,
            field_prefix: 'text' %}
          <button
            class="text-block-popover__info-trigger bubble-count"
            is="toggle-button"
            trigger="hover"
            aria-expanded="false"
            aria-controls="{{ popover_id }}"
          >
            ?
          </button>
        {% else %}  
          <button
            class="text-block-popover__info-trigger button--text"
            is="toggle-button"
            trigger="hover"
            aria-expanded="false"
            aria-controls="{{ popover_id }}"
          >
            {% render 'richtext-content',
              default_classes: '',
              richtext_settings: block_settings,
              field_prefix: 'text' %}
          </button>
        {% endif %}
        <popover-content id="{{ popover_id }}" class="text-block-popover__hover-content popover popover--left">
          <span class="popover__overlay"></span>
          <header class="popover__header hidden-desk">
            {% render 'richtext-content',
            default_classes: 'popover__title heading h6',
            richtext_settings: block_settings,
            field_prefix: 'text' %}
            <span
              type="button"
              class="popover__close-button tap-area tap-area--large"
              data-action="close"
              title="{{ 'general.accessibility.close' | t | escape }}"
            >
              {%- render 'icon', icon: 'close' -%}
            </span>
          </header>
          <div class="popover__content text--small">
            {% render 'richtext-content',
              default_classes: '',
              richtext_settings: block_settings,
              field_prefix: 'popover_text' %}
          </div>
        </popover-content>
      </div>
    {% elsif text != blank %}
      {% render 'richtext-content',
        default_classes: '',
        richtext_settings: block_settings,
        field_prefix: 'text' %}
    {%- endif -%}
  {%- endcapture -%}
{% endif %}

{% if block_content != blank %}
  <div class="{{custom_classes}}" {{ block_shopify_attributes }}>
    {{- block_content -}}
  </div>
{% endif %}
