{%- liquid
  assign quick_buy_icon_name = 'quick-buy-' | append: settings.cart_icon | replace: '_', '-'
%}
{% assign quick_add_hide_single_variant_exclude_arr = settings.quick_add_hide_single_variant_exclude
  | replace: ', ', ','
  | replace: ' ,', ','
  | downcase
  | split: ','
%}

{% assign simple_add_to_cart = false %}
{%- if product.has_only_default_variant or product.variants.size == 1 and settings.quick_add_hide_single_variant -%}
  {% for option in product.options %}
    {% assign option_downcase = option | downcase %}
    {% if quick_add_hide_single_variant_exclude_arr contains option_downcase %}
      {% assign simple_add_to_cart = false %}
      {% break %}
    {% else %}
      {% assign simple_add_to_cart = true %}
    {% endif %}
  {% endfor %}
{% endif %}

{%- if simple_add_to_cart -%}
  {%- form 'product', product, is: 'product-form', id: form_id, class: 'product-item__quick-form' -%}
    <input type="hidden" name="quantity" value="1">
    <input type="hidden" name="id" value="{{ first_available_variant_id }}">
    <button
      is="loader-button"
      type="submit"
      short-add-to-cart-btn
      class="button button--outline button--text button--full {% if section.settings.desktop_products_per_row >= 5 %}button--small{% endif %} hidden-touch"
    >
      {{ 'collection.product.add_to_cart_short' | t }}
    </button>
    <button type="submit" class="product-item__quick-buy-button hidden-no-touch" short-add-to-cart-btn>
      <span class="visually-hidden">{{ 'collection.product.add_to_cart_short' | t }}</span>
      {%- render 'icon' with quick_buy_icon_name -%}
    </button>
  {%- endform -%}
{%- else -%}
  {% assign has_quick_add = false %}

  {% liquid
    assign is_single_option = false
    if product.options_with_values.size == 1
      assign is_single_option = true
    else
      assign other_ar_singles = true
      for option in product.options_with_values
        if forloop.index == 1
          continue
        endif
        if option.values.size > 1
          assign other_ar_singles = false
          break
        endif
      endfor
      if other_ar_singles == true
        assign is_single_option = true
      endif
    endif
  %}

  {% if is_single_option == true %}
    {%- assign quick_add_option_index = 0 -%}
    {% assign trigger_option_names = settings.product_quick_add_option_trigger
      | downcase
      | replace: ' ,', ','
      | replace: ', ', ','
      | split: ','
    %}

    {%- for option in product.options_with_values -%}
      {% assign option_name = option.name | downcase %}
      {% if trigger_option_names contains option_name %}
        {% assign has_quick_add = true %}
        {%- assign quick_add_option_index = forloop.index0 -%}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if has_quick_add %}
    {%- form 'product',
      product,
      is: 'product-form',
      id: form_id,
      class: 'product-item__quick-form product-item__quick-form--quick-add hidden-pocket hidden-touch',
      quick-add: true
    -%}
      <input type="hidden" name="quantity" value="1">
      <input type="hidden" name="id" value="">
      <div class="quick-add__title heading heading--small">{{ 'collection.product.add_to_cart_short' | t }}</div>
      {%- render 'product-variants',
        product: product,
        hide_sold_out_variants: settings.quick_add_hide_outofstock,
        hide_single_variant: settings.quick_add_hide_single_variant,
        selector_type: 'block',
        product_form_id: form_id,
        quick_add: true,
        display_size: 'mini',
        option_name: option_name,
        lazy_data: true,
        hide_single_variant_exclude: settings.quick_add_hide_single_variant_exclude
      -%}
    {%- endform -%}
    <button
      is="toggle-button"
      data-href="{{ product_url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-drawer"
      aria-controls="product-item-quick-buy-drawer"
      aria-expanded="false"
      quick-view-btn
      class="product-item__quick-buy-button hidden-no-touch hidden-phone"
    >
      <span class="visually-hidden">{{ 'collection.product.quick_view' | t }}</span>
      {%- render 'icon' with quick_buy_icon_name -%}
    </button>

    <button
      is="toggle-button"
      data-href="{{ product_url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-popover"
      aria-controls="product-item-quick-buy-popover"
      aria-expanded="false"
      quick-view-btn
      class="product-item__quick-buy-button hidden-tablet-and-up"
    >
      <span class="visually-hidden">{{ 'collection.product.quick_view' | t }}</span>
      {%- render 'icon' with quick_buy_icon_name -%}
    </button>
  {% else %}
    <div class="product-item__quick-form">
      <button
        is="toggle-button"
        loader
        data-href="{{ product_url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-drawer"
        aria-controls="product-item-quick-buy-drawer"
        aria-expanded="false"
        quick-view-btn
        class="button button--outline button--text button--full {% if section.settings.desktop_products_per_row >= 5 %}button--small{% endif %} hidden-touch hidden-phone"
      >
        {{ 'collection.product.quick_view' | t }}
      </button>
      <button
        is="toggle-button"
        data-href="{{ product_url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-drawer"
        aria-controls="product-item-quick-buy-drawer"
        aria-expanded="false"
        quick-view-btn
        class="product-item__quick-buy-button hidden-no-touch hidden-phone"
      >
        <span class="visually-hidden">{{ 'collection.product.quick_view' | t }}</span>
        {%- render 'icon' with quick_buy_icon_name -%}
      </button>

      <button
        is="toggle-button"
        data-href="{{ product_url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-popover"
        aria-controls="product-item-quick-buy-popover"
        aria-expanded="false"
        quick-view-btn
        class="product-item__quick-buy-button hidden-tablet-and-up"
      >
        <span class="visually-hidden">{{ 'collection.product.quick_view' | t }}</span>
        {%- render 'icon' with quick_buy_icon_name -%}
      </button>
    </div>
  {% endif %}

  {%- comment -%}
    IMPLEMENTATION NOTE: Depending on the device we show a different icon or open a different mode (either popover or drawer)
  {%- endcomment -%}
  {% comment %}
    <quick-buy-popover
      id="{{ aria_controls_id }}-popover"
      href="{{ product_url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-popover"
      class="popover popover--quick-buy hidden-tablet-and-up"
    ></quick-buy-popover>
    <quick-buy-drawer
      id="{{ aria_controls_id }}-drawer"
      href="{{ product_url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-drawer"
      class="drawer drawer--large drawer--quick-buy hidden-phone"
    ></quick-buy-drawer>
  {% endcomment %}
{%- endif -%}
