{% if block_settings.tag == 'carousel' %}
  {% assign tag = 'native-carousel' %}
  {% assign item_tag = 'native-carousel-item' %}
{% else %}
  {% assign tag = 'div' %}
  {% assign item_tag = 'div' %}
{% endif %}

<{{ tag }} class="product-form-reinsurance__wrapper text-with-icons">
  <div class="text-with-icons__list {% if block_settings.tag == 'carousel' %}hide-scrollbar {% endif %}">
    {% for i in (1..3) %}
      {% assign icon_key = 'icon_' | append: i %}
      {% assign title_key = 'title_' | append: i %}
      {% assign link_key = 'link_' | append: i %}
      {% assign drawer_content_toggle_key = 'drawer_content_toggle_' | append: i %}
      {% assign block_id_key = 'block_id_' | append: i %}
      {% assign drawer_content_key = 'drawer_content_' | append: i %}
      {% assign drawer_picto_key = 'drawer_picto_' | append: i %}

      {% assign icon = block_settings[icon_key] %}
      {% assign title = block_settings[title_key] %}
      {% assign link = block_settings[link_key] %}
      {% assign drawer_content_toggle = block_settings[drawer_content_toggle_key] %}
      {% assign block_id = block_id_key %}
      {% assign drawer_content = block_settings[drawer_content_key] %}
      {% assign drawer_picto = block_settings[drawer_picto_key] %}

      {% capture reinsurance_item %}
  <{{ item_tag }} class="text-with-icons__item">

  {% capture block_content %}
    <div class="product-form-reinsurance__icon">
      {% if icon != blank %}
        {{ icon | image_url: height: auto | image_tag }}
      {% endif %}
    </div>
    <div class="product-form-reinsurance__text">
      {% if title != blank %}
        {{ title }}
      {% endif %}
    </div>
  {% endcapture %}

  {% comment %} NO LINK {% endcomment %}

  {% if link == blank and drawer_content_toggle == false %}
    {{ block_content }}
  {% endif %}

  {% comment %} LINK {% endcomment %}

  {% if link != blank and drawer_content_toggle == false %}
    <a href="{{ link }}" class="text-with-icons__link">
      {{ block_content }}
    </a>
  {% endif %}

  {% comment %} DRAWER {% endcomment %}

  {% if drawer_content_toggle == true %}

    <button is="toggle-button"
            aria-controls="product-{{ section.id }}-{{ block_id }}-trust-{{ block_id }}-drawer"
            aria-expanded="false" class="text-with-icons__link hidden-phone">
      {{ block_content }}
    </button>

    <button is="toggle-button"
            aria-controls="product-{{ section.id }}-{{ block_id }}-trust-{{ block_id }}-popover"
            aria-expanded="false"  class="text-with-icons__link hidden-tablet-and-up"
    >
      {{ block_content }}
    </button>

    {%- comment -%}Drawer is for tablet and desktop{%- endcomment -%}

    <drawer-content
      id="product-{{ section.id }}-{{ block_id }}-trust-{{ block_id }}-drawer"
      class="drawer drawer--large hidden-phone"
      location="product-info"
    ><span class="drawer__overlay"></span>
      <header class="drawer__header">
        <p class="drawer__title heading h6">
          {% unless drawer_picto == false%}
            {{ icon | image_url: width: 30 | image_tag }}
          {% endunless %}
          {{- title | strip_html | escape  -}}
        </p>

        <button
          type="button"
          class="drawer__close-button tap-area"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="drawer__content drawer__content--padded-start">
        <div class="rte">
          {{ drawer_content }}
        </div>
      </div>
    </drawer-content>

    {%- comment -%}Popover is for mobile{%- endcomment -%}

    <popover-content
      id="product-{{ section.id }}-{{ block_id }}-trust-{{ block_id }}-popover"
      class="popover hidden-tablet-and-up"
    >
      <span class="popover__overlay"></span>

      <header class="popover__header">
        <p class="popover__title heading h6">
          {% unless drawer_picto == false%}
            {{ icon | image_url: width: 30 | image_tag }}
          {% endunless %}
          {{- title | strip_html | escape -}}
        </p>

        <button
          type="button"
          class="popover__close-button tap-area tap-area--large"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="popover__content">
        <div class="rte">
          {{- drawer_content -}}
        </div>
      </div>
    </popover-content>

  {% endif %}

</{{ item_tag }}>

  {% endcapture %}

      {% if icon != blank or content != blank %}
        {{ reinsurance_item }}
      {% endif %}
    {% endfor %}
  </div>

  {% if block_settings.tag == 'carousel' %}
    <page-dots class="text-with-icons__dots dots-nav dots-nav--centered">
      {%- for i in (1..3) -%}
        <button
          class="dots-nav__item tap-area"
          {% if forloop.first %}
            aria-current="true"
          {% endif %}
        >
          <span class="visually-hidden">{{ 'general.accessibility.go_to_slide' | t: num: forloop.index }}</span>
        </button>
      {%- endfor -%}
    </page-dots>
  {% endif %}
</{{ tag }}>
