{%- assign option_downcase = option.name | downcase -%}
<div class="select-wrapper">
  <combo-box
    initial-focus-selector="[aria-selected='true']"
    id="{{ option_id }}-combo-box"
    class="combo-box"
  >
    <span class="combo-box__overlay"></span>

    <header class="combo-box__header">
      <p class="combo-box__title heading h6">{{ option.name }}</p>

      <button
        type="button"
        class="combo-box__close-button tap-area"
        data-action="close"
        title="{{ 'general.accessibility.close' | t | escape }}"
      >
        {%- render 'icon' with 'close' -%}
      </button>
    </header>

    <div class="combo-box__option-list" role="listbox">
      {%- for value in option.values -%}
        <button
          type="button"
          role="option"
          class="combo-box__option-item"
          value="{{ value | escape }}"
          {% if value == selected_value %}
            {% if no_default_value_selected != true or option.values.size == 1 %}
              aria-selected="true"
            {% elsif no_default_value_selected %}
              {% unless no_default_value_selected_only_names == blank
                or no_default_value_selected_only_names contains option_downcase
              %}
                aria-selected="true"
              {% endunless %}
            {% else %}
              aria-selected="false"
            {% endif %}
          {% else %}
            aria-selected="false"
          {% endif %}
        >
          {{ value }}
        </button>
      {%- endfor -%}
    </div>

    <select
      class="visually-hidden"
      name="{% if option_id_prefix != blank %}{{ option_id_prefix }}-{% endif %}option{{ option.position }}"
      form="{{ product_form_id }}"
      data-bind-value="{{ option_id }}-value"
      aria-label="{{ option.name | escape }}"
    >
      {%- for value in option.values -%}
        <option
          value="{{ value | escape }}"
          {% if value == selected_value %}
            {% if no_default_value_selected != true or option.values.size == 1 %}
              selected
            {% elsif no_default_value_selected %}
              {% unless no_default_value_selected_only_names == blank
                or no_default_value_selected_only_names contains option_downcase
              %}
                selected
              {% endunless %}
            {% endif %}
          {% endif %}
        >
          {{ value }}
        </option>
      {%- endfor -%}
    </select>
  </combo-box>

  <button
    type="button"
    {% if option.values.size > 1 %}
      is="toggle-button"
    {% else %}
      disabled
    {% endif %}
    class="select"
    aria-expanded="false"
    aria-haspopup="listbox"
    aria-controls="{{ option_id }}-combo-box"
  >
    <span class="select__selected-value">
      {% if show_label_inside_dropdown and hide_label_dropdown != true %}
        <span class="select__option-name">
          {{- option.name -}}
          {%- if shop.locale == 'fr' %}&nbsp;{% endif %}:
        </span>
      {% endif %}
      <span id="{{ option_id }}-value" class="select__selected-value-value">
        {% if no_default_value_selected != true or option.values.size == 1 %}
          {{- selected_value -}}
        {% elsif no_default_value_selected %}
          {% unless no_default_value_selected_only_names == blank
            or no_default_value_selected_only_names contains option_downcase
          %}
            {{- selected_value -}}
          {% elsif hide_label_dropdown %}
            {{ option.name }}
          {% endunless %}
        {% elsif hide_label_dropdown %}
          {{ option.name }}
        {% endif %}
      </span>
    </span>
    {% if option.values.size > 1 %}
      <span class="animated-plus"></span>
    {% endif %}
  </button>
</div>
