{% liquid
  if settings.enable_wishlist
    assign wishlist_position_desktop = section.settings.wishlist_position_desktop
    assign wishlist_position_mobile = section.settings.wishlist_position_mobile | default: wishlist_position_desktop
  endif
%}

{%- capture product_form_id -%}product-form-{{ section.id }}-{{ product.id }}{%- endcapture -%}

<div class="product__info">
  {% if section.settings.breadcrumb_position_desktop == 'above_title' %}
    {{ breadcrumb }}
  {% elsif section.settings.breadcrumb_position_desktop != 'above_title'
    and section.settings.breadcrumb_position_mobile == 'above_title'
  %}
    <grab-element target=".breadcrumb" match-media="(max-width: 999px)"></grab-element>
  {% endif %}
  <!-- PRODUCT META -->
  <product-meta
    handle="{{ product.handle }}"
    form-id="{{ product_form_id }}"
    price-class="price--large"
    data-custom-demo="any data"
    class="product-meta"
  >
    {%- capture labels_top_title -%}
      {% if settings.labels_type == 'metafields_v2' %}
        {% render 'f_render_product_labels', product: product, placement: 'top-title-fp' %}
      {% else %}
        {%- if product_labels != blank and settings.labels_placement_fp == 'top-title-fp' -%}
          <div class="product-item-meta__label-list">
            {{- product_labels -}}
          </div>
        {%- endif -%}
      {% endif %}
    {%- endcapture -%}

    {%- capture labels_bottom_title -%}
      {% if settings.labels_type == 'metafields_v2' %}
        {% render 'f_render_product_labels', product: product, placement: 'bottom-title-fp' %}
      {% endif %}
    {%- endcapture -%}

    {%- if section.settings.show_vendor -%}
      <{{ section.settings.vendor_tag }} class="product-meta__vendor heading heading--small">
        {%- assign vendor_handle = product.vendor | handle -%}
        {%- assign vendor_collection = collections[vendor_handle] -%}

        {%- if vendor_collection != blank -%}
          <a href="{{ vendor_collection.url }}">{{ product.vendor }}</a>
        {%- else -%}
          <a href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
        {%- endif -%}
      </{{ section.settings.vendor_tag }}>
    {%- endif -%}

    {% if labels_top_title != blank %}
      {{ labels_top_title }}
    {% endif %}

    {% assign title_tag = 'h1' %}
    {% if section.settings.show_subtitle
      and product.metafields.descriptors.subtitle
      and section.settings.subtitle_tag == 'h1'
    %}
      {% assign title_tag = 'span' %}
    {% endif %}

    {% if labels_top_title != blank %}
      {% assign labels_title_class = ' has-labels--top-title' %}
    {% endif %}
    {% if labels_bottom_title != blank %}
      {% assign labels_title_class = labels_title_class | append: ' has-labels--bottom-title' %}
    {% endif %}

    {% if settings.show_discount and section.settings.discount_placement == 'next-to-title' %}
      {% assign show_discount_next_to_title = true %}
    {% endif %}

    {% unless featured %}
      <{{ title_tag }} class="product-meta__title heading h3{% if show_discount_next_to_title %} has-discount{% endif %}{% if wishlist_position_desktop == 'next_to_title' %} has-wishlist-desktop{% endif %}{% if wishlist_position_mobile == 'next_to_title' %} has-wishlist-mobile{% endif %}{{ labels_title_class }}">
        {{- product.title }}
        {% if show_discount_next_to_title %}
          <product-discount></product-discount>
        {% endif %}
        {% if wishlist_position_desktop == 'next_to_title' or wishlist_position_mobile == 'next_to_title' %}
          {% render 'wishlist-add',
            position: 'next_to_title',
            position_desktop: wishlist_position_desktop,
            position_mobile: wishlist_position_mobile
          %}
        {% endif %}
      </{{ title_tag }}>
    {% else %}
      <h2 class="product-meta__title heading h3{% if show_discount_next_to_title %} has-discount{% endif %}{% if wishlist_position_desktop == 'next_to_title' %} has-wishlist-desktop{% endif %}{% if wishlist_position_mobile == 'next_to_title' %} has-wishlist-mobile{% endif %}{{ labels_title_class }}">
        <a href="{{ product.url }}">{{ product.title }}</a>
        {% if show_discount_next_to_title %}
          <product-discount></product-discount>
        {% endif %}
        {% if wishlist_position_desktop == 'next_to_title' or wishlist_position_mobile == 'next_to_title' %}
          {% render 'wishlist-add',
            position: 'next_to_title',
            position_desktop: wishlist_position_desktop,
            position_mobile: wishlist_position_mobile
          %}
        {% endif %}
      </h2>
    {% endunless %}
    {% if section.settings.show_subtitle %}
      {% render 'f_render-product-subtitle',
        product: product,
        subtitle_tag: section.settings.subtitle_tag,
        subtitle_class: 'product-meta__subtitle',
        subtitle_metafield: section.settings.subtitle_metafield
      %}
    {% endif %}

    {% if labels_bottom_title != blank %}
      {{ labels_bottom_title }}
    {% endif %}

    {% assign show_discount_label = false %}
    {% if settings.show_discount and section.settings.discount_placement == 'inside-price-list' %}
      {% assign show_discount_label = true %}
    {% endif %}
    {%- render 'product-price',
      product: product,
      use_variant: true,
      show_ecopart: true,
      show_label: section.settings.show_labels,
      show_discount_label: show_discount_label
    -%}

    {%- if section.settings.show_taxes_included -%}
      {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
        <p class="product-meta__taxes-included text--small">
          {%- if cart.taxes_included -%}
            {{ 'product.general.include_taxes' | t }}
          {%- endif -%}

          {%- if shop.shipping_policy.body != blank -%}
            {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
          {%- endif -%}
        </p>
      {%- endif -%}
    {%- endif -%}

    <product-payment-terms form-id="{{ product_form_id }}">
      {%- assign product_installment_form_id = 'product-installment-form-'
        | append: section.id
        | append: '-'
        | append: product.id
      -%}

      {%- form 'product', product, id: product_installment_form_id -%}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        {{- form | payment_terms -}}
      {%- endform -%}
    </product-payment-terms>

    {%- if section.settings.show_product_rating
      or section.settings.show_sku
      or wishlist_position_desktop == 'below_price'
      or wishlist_position_mobile == 'below_price'
    -%}
      <div class="product-meta__reference">
        {% if wishlist_position_desktop == 'below_price' or wishlist_position_mobile == 'below_price' %}
          {% render 'wishlist-add',
            position: 'below_price',
            position_desktop: wishlist_position_desktop,
            position_mobile: wishlist_position_mobile
          %}
        {% endif %}

        {%- if section.settings.show_product_rating -%}
          <a
            href="{% if featured %}{{ product.url }}{% endif %}#product-{{ product.id }}-reviews-pocket"
            is="review-link"
            data-smooth-scroll
            class="product-meta__reviews-badge hidden-lap-and-up"
          >
            {%- render 'product-rating', product: product -%}
          </a>
          <a
            href="{% if featured %}{{ product.url }}{% endif %}#product-{{ product.id }}-tabs"
            is="review-link"
            data-smooth-scroll
            class="product-meta__reviews-badge hidden-pocket"
          >
            {%- render 'product-rating', product: product -%}
          </a>
        {%- endif -%}

        {%- if section.settings.show_sku -%}
          {% if section.settings.sku_metafield_value != blank %}
            <span
              class="product-meta__sku text--subdued text--xxsmall"
            >
              {{- 'product.general.sku' | t }}
              <span class="product-meta__sku-number">
                {{- section.settings.sku_metafield_value -}}
              </span>
            </span>
          {% else %}
            <span
              class="product-meta__sku text--subdued text--xxsmall"
              {% if product.selected_or_first_available_variant.sku == blank %}
                style="display: none"
              {% endif %}
              data-product-sku-container
            >
              {{- 'product.general.sku' | t }}
              <span class="product-meta__sku-number" data-product-sku-number>
                {{- product.selected_or_first_available_variant.sku -}}
              </span>
            </span>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endif -%}
  </product-meta>

  {%- render 'product-form',
    product: product,
    update_url: update_url,
    description: description,
    description_position: description_position,
    location: location
  -%}

  {% if section.settings.tabs_position == 'right' %}
    {{ tabs }}
  {% endif %}

  {%- assign help_page = section.settings.help_page -%}

  {%- if section.settings.show_share_buttons or help_page != blank -%}
    <div class="product-meta__aside">
      {%- if section.settings.show_share_buttons -%}
        <div class="product-meta__share text--subdued">
          {%- assign share_url = shop.url | append: product.url -%}
          {%- assign twitter_text = product.title | url_param_escape -%}
          {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
          {%- assign pinterest_image = product.featured_image | img_url: '800x' | prepend: 'https:' -%}

          <button
            is="share-toggle-button"
            share-url="{{ share_url | escape }}"
            share-title="{{ product.title | escape }}"
            class="product-meta__share-label link hidden-tablet-and-up"
            aria-controls="mobile-share-buttons-{{ section.id }}"
            aria-expanded="false"
          >
            {{ 'product.general.share' | t }}
          </button>
          <div class="product-meta__share-label hidden-phone">{{ 'product.general.share' | t }}</div>

          <popover-content id="mobile-share-buttons-{{ section.id }}" class="popover hidden-tablet-and-up">
            <span class="popover__overlay"></span>

            <header class="popover__header">
              <span class="popover__title heading h6">{{- 'article.general.share' | t -}}</span>

              <button
                type="button"
                class="popover__close-button tap-area tap-area--large"
                data-action="close"
                title="{{ 'general.accessibility.close' | t | escape }}"
              >
                {%- render 'icon' with 'close' -%}
              </button>
            </header>

            <div class="mobile-share-buttons">
              <a
                class="mobile-share-buttons__item mobile-share-buttons__item--facebook"
                href="https://www.facebook.com/sharer.php?u={{ share_url }}"
                target="_blank"
                rel="noopener"
                aria-label="{{ 'general.social.facebook_share' | t }}"
              >
                {%- render 'icon' with 'facebook-share-mobile' -%}
                Facebook
              </a>

              <a
                class="mobile-share-buttons__item mobile-share-buttons__item--pinterest"
                href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}"
                target="_blank"
                rel="noopener"
                aria-label="{{ 'general.social.pinterest_pin' | t }}"
              >
                {%- render 'icon' with 'pinterest-share-mobile' -%}
                Pinterest
              </a>

              <a
                class="mobile-share-buttons__item mobile-share-buttons__item--twitter"
                href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}"
                target="_blank"
                rel="noopener"
                aria-label="{{ 'general.social.twitter_tweet' | t }}"
              >
                {%- render 'icon' with 'twitter-share-mobile' -%}
                Twitter
              </a>

              <a
                class="mobile-share-buttons__item mobile-share-buttons__item--mail"
                href="mailto:?&subject={{ article.title | escape }}&body={{ share_url }}"
                aria-label="{{ 'general.social.email_share' | t }}"
              >
                {%- render 'icon' with 'email-share-mobile' -%}
                {{ 'general.social.email_label' | t }}
              </a>
            </div>
          </popover-content>

          <div class="product-meta__share-button-list hidden-phone">
            <a
              class="product-meta__share-button-item product-meta__share-button-item--facebook link tap-area"
              href="https://www.facebook.com/sharer.php?u={{ share_url }}"
              target="_blank"
              rel="noopener"
              aria-label="{{ 'general.social.facebook_share' | t }}"
            >
              {%- render 'icon' with 'facebook', width: 8, height: 14 -%}
            </a>

            <a
              class="product-meta__share-button-item product-meta__share-button-item--pinterest link tap-area"
              href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}"
              target="_blank"
              rel="noopener"
              aria-label="{{ 'general.social.pinterest_pin' | t }}"
            >
              {%- render 'icon' with 'pinterest', width: 10, height: 14 -%}
            </a>

            <a
              class="product-meta__share-button-item product-meta__share-button-item--twitter link tap-area"
              href="https://twitter.com/share?{% if twitter_text != blank %}text={{ twitter_text }}&{% endif %}url={{ share_url }}"
              target="_blank"
              rel="noopener"
              aria-label="{{ 'general.social.twitter_tweet' | t }}"
            >
              {%- render 'icon' with 'twitter', width: 17, height: 14 -%}
            </a>

            <a
              class="product-meta__share-button-item product-meta__share-button-item--mail link tap-area"
              href="mailto:?&subject={{ product.title | escape }}&body={{ share_url }}"
              aria-label="{{ 'general.social.email_share' | t }}"
            >
              {%- render 'icon' with 'share', width: 13, height: 13 -%}
            </a>
          </div>
        </div>
      {%- endif -%}

      {%- if help_page != blank -%}
        <button
          is="toggle-button"
          class="product-meta__help link text--subdued hidden-tablet-and-up"
          aria-controls="product-{{ section.id }}-help-popover"
          aria-expanded="false"
        >
          {{ 'product.general.need_help' | t }}
        </button>
        <button
          is="toggle-button"
          class="product-meta__help link text--subdued hidden-phone"
          aria-controls="product-{{ section.id }}-help-drawer"
          aria-expanded="false"
        >
          {{ 'product.general.need_help' | t }}
        </button>
      {%- endif -%}
    </div>
  {%- endif -%}

  {%- if help_page != blank -%}
    {%- comment -%}Drawer for tablet and higher{%- endcomment -%}
    <drawer-content
      id="product-{{ section.id }}-help-drawer"
      class="drawer drawer--large hidden-phone"
      location="product-info"
    >
      <span class="drawer__overlay"></span>

      <header class="drawer__header">
        <p class="drawer__title heading h6">{{ help_page.title }}</p>

        <button
          type="button"
          class="drawer__close-button tap-area"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="drawer__content drawer__content--padded-start">
        <div class="rte">
          {{- help_page.content -}}
        </div>
      </div>
    </drawer-content>

    {%- comment -%}Popover for mobile{%- endcomment -%}
    <popover-content hidden id="product-{{ section.id }}-help-popover" class="popover hidden-lap-and-up">
      <span class="popover__overlay"></span>

      <header class="popover__header">
        <p class="popover__title heading h6">{{ help_page.title }}</p>

        <button
          type="button"
          class="popover__close-button tap-area tap-area--large"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="popover__content">
        <div class="rte">
          {{- help_page.content -}}
        </div>
      </div>
    </popover-content>
  {%- endif -%}
</div>
