<tr class="line-item" style="order:{{ position}}">
    <td class="line-item__product">
        <div class="line-item__content-wrapper">
            <a href="{{ product.url }}" class="line-item__image-wrapper" tabindex="-1" aria-hidden="true">
                <img
                        class="line-item__image"
                        loading="sizes"
                        sizes="(max-width: 740px) 80px, 92px"
                        {% render 'image-attributes', image: product.featured_image.src, sizes: '80,92,160,184,240,276' %}
                >
            </a>

            {%- capture unit_price -%}
                {% render 'cart-unit-line-price',
                        item_id: item_id
                %}
            {%- endcapture -%}

            {%- capture line_price -%}
                {% render 'cart-line-price',
                        item_id: item_id,
                        price_type: 'line'
                %}
            {%- endcapture -%}

            {%- capture price -%}
            <span class="price">
                            {% render 'cart-line-price',
                                    item_id: item_id,
                                    price_type: 'unit'
                            %}
                {%- endcapture -%}

                        <div class="line-item__info">
                          <div class="product-item-meta">
                            {%- if settings.show_vendor -%}
                                {%- assign vendor_handle = product.vendor | handle -%}
                                {%- assign collection_for_vendor = collections[vendor_handle] -%}

                                {%- unless collection_for_vendor.empty? -%}
                                    <a
                                            class="product-item-meta__vendor heading heading--xxsmall"
                                            href="{{ collection_for_vendor.url }}"
                                    >
                                  {{- product.vendor -}}
                                </a>
                                {%- else -%}
                                    <a
                                            class="product-item-meta__vendor heading heading--xxsmall"
                                            href="{{ product.vendor | url_for_vendor }}"
                                    >
                                  {{- product.vendor -}}
                                </a>
                                {%- endunless -%}
                            {%- endif -%}

                            <a
                                    href="{{ product.url }}"
                                    class="product-item-meta__title text--small hidden-tablet-and-up"
                            >
                              {{- product.title -}}
                            </a>
                            <a href="{{ product.url }}" class="product-item-meta__title hidden-phone">
                              {{- product.title -}}
                            </a>

                            {%- capture line_item_properties -%}
                                {%- unless product.variants.size == 1 -%}
                                    <span class="product-item-meta__property text--subdued text--xsmall">{{ variant.title }}</span>
                                {%- endunless -%}

                              {%- if line_item.selling_plan_allocation -%}
                                <span class="product-item-meta__property text--subdued text--xsmall">{{ line_item.selling_plan_allocation.selling_plan.name }}</span>
                            {%- endif -%}


                                <cart-line-dynamic-properties item-id="{{ item_id }}"></cart-line-dynamic-properties>
                            {%- endcapture -%}


                                  <div class="product-item-meta__property-list">
                                {{- line_item_properties -}}
                              </div>

                            <div class="product-item-meta__price-list-container">
                              <div class="price-list text--small hidden-tablet-and-up">
                                {{- line_price -}}
                                  {{- unit_price -}}
                              </div>

                              <div class="price-list hidden-phone">
                                {{- price -}}
                                  {{- unit_price -}}
                              </div>
                            </div>
                          </div>

                            <cart-level-discounts
                                    component="line-item"
                                    item-id="{{ item_id }}"
                            >
        <template discount-badge>
          {% render 'icon' with 'discount-badge' %}
        </template>
      </cart-level-discounts>


         <div class="line-item__quantity hidden-tablet-and-up">
                              <div class="quantity-selector quantity-selector--fixed">
            {{ quantity }}
        </div>
                          </div>
                        </div>
        </div>
    </td>
    <td class="line-item__quantity line-item__quantity--block text--center hidden-phone">

        <div class="quantity-selector quantity-selector--fixed">
            {{ quantity }}
        </div>

    </td>

    <td class="line-item__price-list-container text--right">

        {%- if settings.show_vendor -%}
            {%- comment -%}
              IMPLEMENTATION NOTE: in the design, the price is aligned in regards of the product title (not the brand). It was a
              bit hard to do as we cannot set a fixed margin, so I am actually adding an empty vendor to simulate the same height
            {%- endcomment -%}
            <span class="product-item-meta__vendor heading heading--xxsmall" style="visibility: hidden"
            >x</span
            >
        {%- endif -%}

        <div class="price-list price-list--stack">
            {{- line_price -}}
        </div>
    </td>
</tr>