<link-bar class="link-bar link-bar--text-with-icon">
  <div class="container">
    <div class="link-bar__wrapper">
      <div class="link-bar__scroller hide-scrollbar">
        <ul
          class="link-bar__linklist list--unstyled subcollection-image__wrapper"
          role="list"
        >
          {%- for block in text_with_icon_blocks -%}
            {% if block.settings.link != blank %}
              {% assign tag = 'a' %}
            {% else %}
              {% assign tag = 'div' %}
            {% endif %}

            <li id="block-{{ section.id }}-{{ block.id }}" class="link-bar__link-item">
              <{{ tag }}
                href="{{ block.settings.link }}"
                class="link-bar__link subcollection-image"
              >
                <div class="subcollection-image__text-container">
                  {% if block.settings.title != blank %}
                    <p class="heading heading--small">
                      {{- block.settings.title -}}
                    </p>
                  {% endif %}
                  {% if block.settings.content != blank %}
                    {{- block.settings.content -}}
                  {% endif %}
                </div>

                <div class="subcollection-image__image-container">
                  {%- if block.settings.custom_icon != blank -%}
                    {% capture custom_icon_width %}{{ block.settings.custom_icon_width | times: 2 }}x{% endcapture %}
                    <img
                      class="text-with-icons__custom-icon"
                      style="max-width: {{ block.settings.custom_icon_width }}px"
                      width="{{ block.settings.custom_icon.width }}"
                      height="{{ block.settings.custom_icon.height }}"
                      src="{{ block.settings.custom_icon | img_url: custom_icon_width }}"
                      alt="{{ block.settings.custom_icon.alt | escape }}"
                    >
                  {%- else -%}
                    {%- render 'icon' with block.settings.icon -%}
                  {%- endif -%}
                </div>
              </{{ tag }}>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</link-bar>
