{%- if show_locale_selector or show_country_selector -%}
  {%- form 'localization', id: 'header-localization-form', class: 'header__cross-border hidden-pocket hidden-lap' -%}
    {%- if show_country_selector -%}
      <div class="popover-container">
        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
        <span class="visually-hidden">{{ 'header.general.country' | t }}</span>

        <button
          type="button"
          is="toggle-button"
          class="popover-button text--small"
          aria-expanded="false"
          aria-controls="header-localization-form-currency"
        >
          {{- localization.country.name }} ({{ localization.country.currency.iso_code }}
          {% if localization.country.currency.symbol %}{{ localization.country.currency.symbol }}{%- endif -%}
          )
          {%- render 'icon', icon: 'chevron', width: 9, height: 6, inline: true -%}
        </button>

        <popover-content id="header-localization-form-currency" class="popover popover--left">
          <span class="popover__overlay"></span>

          <header class="popover__header">
            <span class="popover__title heading h6">{{- 'header.general.country' | t -}}</span>

            <button
              type="button"
              class="popover__close-button tap-area tap-area--large"
              data-action="close"
              title="{{ 'general.accessibility.close' | t | escape }}"
            >
              {%- render 'icon', icon: 'close' -%}
            </button>
          </header>

          <div class="popover__content popover__content--restrict">
            <div class="popover__choice-list">
              {%- for country in localization.available_countries -%}
                <button
                  type="submit"
                  name="country_code"
                  value="{{ country.iso_code }}"
                  class="popover__choice-item"
                >
                  <span
                    class="popover__choice-label"
                    {% if country.iso_code == localization.country.iso_code %}
                      aria-current="true"
                    {% endif %}
                  >
                    {{- country.name }} ({{ country.currency.iso_code }}
                    {% if country.currency.symbol %}{{ country.currency.symbol }}{%- endif -%}
                    )
                  </span>
                </button>
              {%- endfor -%}
            </div>
          </div>
        </popover-content>
      </div>
    {%- endif -%}

    {%- if show_locale_selector -%}
      <div class="popover-container">
        <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
        <span class="visually-hidden">{{ 'header.general.language' | t }}</span>

        {% unless section.settings.show_locale_flag == 'text_only' %}
          {% assign flag_icon = 'flag-' | append: localization.language.iso_code %}
          <div class="header__flag-icon--selected">
            {%- render 'icon', icon: flag_icon -%}
          </div>
        {% endunless %}

        <button
          type="button"
          is="toggle-button"
          class="popover-button text--small"
          aria-expanded="false"
          aria-controls="header-localization-form-locale"
        >
          {% if section.settings.show_locale_flag != 'flag_only' %}
            {{- localization.language.endonym_name | capitalize -}}
          {% endif %}

          {%- render 'icon', icon: 'chevron', width: 9, height: 6, inline: true -%}
        </button>

        <popover-content id="header-localization-form-locale" class="popover popover--left">
          <span class="popover__overlay"></span>

          <header class="popover__header">
            <span class="popover__title heading h6">{{- 'header.general.language' | t -}}</span>

            <button
              type="button"
              class="popover__close-button tap-area tap-area--large"
              data-action="close"
              title="{{ 'general.accessibility.close' | t | escape }}"
            >
              {%- render 'icon', icon: 'close' -%}
            </button>
          </header>

          <div class="popover__content">
            <div class="popover__choice-list">
              {%- for language in localization.available_languages -%}
                <button
                  type="submit"
                  name="locale_code"
                  value="{{ language.iso_code }}"
                  class="popover__choice-item"
                >
                  <span
                    class="popover__choice-label"
                    {% if language.iso_code == localization.language.iso_code %}
                      aria-current="true"
                    {% endif %}
                  >
                    {% unless section.settings.show_locale_flag == 'text_only' %}
                      {% assign flag_icon = 'flag-' | append: language.iso_code %}
                      <div class="header__flag-icon">
                        {%- render 'icon', icon: flag_icon -%}
                      </div>
                    {% endunless %}

                    {% if section.settings.show_locale_flag != 'flag_only' %}
                      {{- language.endonym_name | capitalize -}}
                    {% endif %}
                  </span>
                </button>
              {%- endfor -%}
            </div>
          </div>
        </popover-content>
      </div>
    {%- endif -%}
  {%- endform -%}
{%- endif -%}
