<span class="header__logo {% if logo_sticky %} header__logo--sticky{% endif %}">
  <a class="header__logo-link" href="{{ root_url }}">
    {%- if logo != blank -%}
      {%- capture logo_size -%}{{ logo_max_width | at_least: mobile_logo_max_width | times: 2 | append: 'x' }}{%- endcapture -%}
      {%- capture logo_sticky_size -%}{{ logo_sticky_max_width | times: 2 | append: 'x' }}{%- endcapture -%}
      <span class="visually-hidden">{{ shop.name }}</span>
      <img
        class="header__logo-image"
        width="{{ logo.width }}"
        height="{{ logo.height }}"
        src="{{ logo | img_url: logo_size }}"
        alt="{{ logo.alt | escape }}"
      >
      <img
        class="header__logo-image--sticky"
        width="{{ logo_sticky.width }}"
        height="{{ logo_sticky.height }}"
        src="{{ logo_sticky | img_url: logo_sticky_size }}"
        alt="{{ logo_sticky.alt | escape }}"
      >

      {%- if enable_transparent_header and transparent_logo != blank -%}
        <img
          class="header__logo-image header__logo-image--transparent"
          width="{{ transparent_logo.width }}"
          height="{{ transparent_logo.height }}"
          src="{{ transparent_logo | img_url: logo_size }}"
          alt="{{ transparent_logo.alt | escape }}"
        >
      {%- endif -%}

    {%- else -%}
      <span class="header__logo-text heading h5">{{ shop_name }}</span>
    {%- endif -%}
  </a>
</span>
