{%- assign mega_menu_images = '' -%}
{%- if mega_menu_block != '' -%}
  {%- assign images_count = 0 -%}

  {%- capture mega_menu_images -%}
    {%- for i in (1..6) -%}

            {%- capture image_setting -%}image_{{ i }}{%- endcapture -%}

            {%- if mega_menu_block.settings[image_setting] != blank -%}
                {%- assign images_count = images_count | plus: 1 -%}

                {%- capture image_heading_setting -%}image_{{ i }}_heading{%- endcapture -%}
                {%- capture image_text_setting -%}image_{{ i }}_text{%- endcapture -%}
                {%- capture image_link_setting -%}image_{{ i }}_link{%- endcapture -%}

                {%- capture image_push -%}
                    <div class="mega-menu__image-wrapper">
                        <img class="mega-menu__image" loading="lazy"
                             sizes="240px" {% render 'image-attributes', image: mega_menu_block.settings[image_setting], sizes: '240,480,720' %}>
                    </div>

                    {%- if mega_menu_block.settings[image_heading_setting] != '' -%}
                        <p class="mega-menu__heading heading heading--small">{{ mega_menu_block.settings[image_heading_setting] }}</p>
                    {%- endif -%}

                    {%- if mega_menu_block.settings[image_text_setting] != '' -%}
                        <span class="mega-menu__text">{{ mega_menu_block.settings[image_text_setting] }}</span>
                    {%- endif -%}
                {%- endcapture -%}

                {%- if mega_menu_block.settings[image_link_setting] != blank -%}
                    <a href="{{ mega_menu_block.settings[image_link_setting] }}"
                       class="mega-menu__image-push image-zoom">
                        {{- image_push -}}
                    </a>
                {%- else -%}
                    <div class="mega-menu__image-push image-zoom">
                        {{- image_push -}}
                    </div>
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
  {%- endcapture -%}
  {%- comment -%} Dans le cas d'un lenu asynchrone, on ne peut être que dans ce cas là {%- endcomment -%}
  {%- if link.links.size > 0 or mega_menu_block != blank -%}
    {%- if link.links.size > 0 -%}
      {%- capture sub_links -%}
        {% assign sub_links_columns = 1 %}
        {% capture sub_links_content %}
          {%- for sub_link in link.links -%}
              {%- capture sub_sublink_style -%}
                  {% render 'f_subnav_color', subnav_colors_blocks: subnav_colors_blocks, link: sub_link %}
              {%- endcapture -%}
            <li class="linklist__item {% if sub_sublink_style != blank %}subnav-color {% endif %} {% if sub_link.url == '#' %}linklist__item--header{% endif %} {% if sub_link.links.size > 0 %}has-sublinks{% endif %}" {% if sub_sublink_style != blank %}
                style="{{ sub_sublink_style }}"
                    {% endif %}>
              {%- if sub_link.url == '#' -%}
                {% if forloop.index > 1 %}
                  {% assign sub_links_columns = sub_links_columns |  plus: 1 %}
                {% endif %}
                <span class="mega-menu__title heading heading--small"
                  {%- if sub_link.links.size > 0 -%}
                    nav-element="{{ forloop.index }}"
                  {%- endif -%}>
                    {{- sub_link.title -}}
                    {%- if sub_link.links.size > 0 -%}
                      {% render 'icon' with 'dropdown-arrow-right', direction_aware: true %}
                    {%- endif -%}
                  </span>
              {%- else -%}
                <a
                  href="{{ sub_link.url }}"
                  class="link--faded"
                  {%- if sub_link.links.size > 0 -%}
                    nav-element="{{ forloop.index }}"
                  {%- endif -%}
                >
                  {{- sub_link.title -}}
                  {%- if sub_link.links.size > 0 -%}
                    {% render 'icon' with 'dropdown-arrow-right', direction_aware: true %}
                  {%- endif -%}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        {% endcapture %}
          <ul
            class="linklist list--unstyled linklist--main"
            role="list"
            data-nb-col="{{ sub_links_columns }}"
          >
            {{ sub_links_content }}
          </ul>
      {%- endcapture -%}

      {%- capture sub_sub_links -%}
        {%- for sub_link in link.links -%}
          {% assign sub_sub_links_columns = 1 %}
          {%- capture sub_sub_links_content -%}
            {%- for sub_sub_link in sub_link.links -%}
                {%- capture sub_sublink_style -%}
                    {% render 'f_subnav_color', subnav_colors_blocks: subnav_colors_blocks, link: sub_sub_link %}
                {%- endcapture -%}
              <li class="linklist__item {% if sub_sublink_style != blank %}subnav-color {% endif %}{% if sub_sub_link.url == '#' %}linklist__item--header{% endif %}" {% if sub_sublink_style != blank %}
                  style="{{ sub_sublink_style }}"
                      {% endif %}>
                {%- if sub_sub_link.url == '#' -%}
                  {% if forloop.index > 1 %}
                    {% assign sub_sub_links_columns = sub_sub_links_columns |  plus: 1 %}
                  {% endif %}
                  <span class="mega-menu__title heading heading--small">
                      {{- sub_sub_link.title -}}
                    </span>
                {%- else -%}
                  <a
                    href="{{ sub_sub_link.url }}"
                    class="link--faded"
                  >
                    {{- sub_sub_link.title -}}
                      {% render 'menu-label', link: sub_sub_link %}
                  </a>
                {% endif %}
              </li>
            {%- endfor -%}
          {%- endcapture -%}

          {%- if sub_sub_links_content != blank -%}
            <ul
              nav-content="{{ forloop.index }}"
              class="linklist list--unstyled"
              role="list"
              data-nb-col="{{ sub_sub_links_columns }}"
            >
              {{ sub_sub_links_content }}
            </ul>
          {%- endif -%}
        {%- endfor -%}
      {%- endcapture -%}
    {%- endif -%}

    <div
      hidden
      id="desktop-menu-{{ menu_id }}"
      class="mega-menu"
      {{ mega_menu_block.shopify_attributes }}
    >
      <div desktop-loader-target class="container mega-menu--fullsize">
        <div
          class="mega-menu__inner"
          {% if sub_sub_links != blank %}
            is="menu-nav"
          {% endif %}
        >
          {%- if sub_links != blank and sub_sub_links != blank -%}
            <div
              class="mega-menu__column mega-menu__column--links"
            >
              {{ sub_links }}
            </div>
          {%- endif -%}
          <div class="mega-menu__column mega-menu__column--panel-wrapper">
            {%- if sub_links != blank or sub_sub_links != blank -%}
              <div
                class="mega-menu__column mega-menu__column--panel"
              >
                {% if sub_sub_links != blank %}
                  {{ sub_sub_links }}
                {% else %}
                  {{ sub_links }}
                {% endif %}
              </div>
            {%- endif -%}
            {%- if mega_menu_images != blank -%}
              <div class="mega-menu__images-wrapper {% if images_count >= 3 %}mega-menu__images-wrapper--tight{% endif %} mega-menu__images-wrapper--{{ mega_menu_block.settings.images_position }}">
                {{- mega_menu_images -}}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{%- elsif link.links.size > 0 -%}
  <ul
    hidden
    id="desktop-menu-{{ menu_id }}"
    class="nav-dropdown {% if link.levels == 1 %}nav-dropdown--restrict{% endif %} list--unstyled"
    role="list"
  >
    {%- for sub_link in link.links -%}
      {%- capture sub_sublink_style -%}
            {% render 'f_subnav_color', subnav_colors_blocks: subnav_colors_blocks, link: sub_link %}
        {%- endcapture -%}
      <li
        class="nav-dropdown__item {% if sub_sublink_style != blank %}subnav-color {% endif %}{% if sub_link.links.size > 0 %}has-dropdown{% endif %}"
        {% if sub_sublink_style != blank %}
          style="{{ sub_sublink_style }}"
        {% endif %}
      >
        <a
          class="nav-dropdown__link link--faded"
          href="{{ sub_link.url }}"
          {% if sub_link.links.size > 0 %}
            aria-controls="desktop-menu-{{ menu_id }}-{{ forloop.index }}" aria-expanded="false"
          {% endif %}
        >
          {{- sub_link.title -}}

          {%- if sub_link.links.size > 0 -%}
            {% render 'icon' with 'dropdown-arrow-right', direction_aware: true %}
          {%- endif -%}
        </a>

        {%- if sub_link.links.size > 0 -%}
          <ul
            hidden
            id="desktop-menu-{{ menu_id }}-{{ forloop.index }}"
            class="nav-dropdown list--unstyled"
            role="list"
          >
            {%- for sub_sub_link in sub_link.links -%}
              {%- capture sub_sublink_style -%}
                    {% render 'f_subnav_color', subnav_colors_blocks: subnav_colors_blocks, link: sub_sub_link %}
                {%- endcapture -%}
              <li
                class="nav-dropdown__item {% if sub_sublink_style != blank %}subnav-color {% endif %}"
                {% if sub_sublink_style != blank %}
                  style="{{ sub_sublink_style }}"
                {% endif %}
              >
                <a
                  class="nav-dropdown__link link--faded"
                  href="{{ sub_sub_link.url }}"
                >
                  {{- sub_sub_link.title -}}
                  {% render 'menu-label', link: sub_sub_link %}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
