{% comment %} Gestion du type de navigation {% endcomment %}

{%- assign navigation_component = 'translatable-content' -%}
{%- assign navigation_class = 'translatable' -%}
{%- assign display_back_button = true -%}
{%- capture navigation_icon -%}
    {% if direction == 'ltr' %}
        {%- render 'icon', icon: 'nav-arrow-right-small', inline: true -%}
    {% else %}
        {%- render 'icon', icon: 'nav-arrow-left-small', inline: true -%}
    {% endif %}
{% endcapture -%}

{%- if mobile_navigation == 'drawers' -%}
  {%- assign navigation_component = 'collapsible-content' -%}
  {%- assign navigation_class = 'collapsible' -%}
  {%- capture navigation_icon -%}
        <span class="animated-plus"></span>
    {% endcapture -%}
  {%- assign display_back_button = false -%}
{%- endif -%}

{% assign mega_menus = section.blocks | where: 'type', 'mega_menu' %}
{% assign nav_colors = section.blocks | where: 'type', 'nav_colors' %}
{% assign subnav_colors = section.blocks | where: 'type', 'subnav_colors' %}

<div class="drawer__content drawer__content--relative">
  {% comment %}
    MOBILE ROOT MENU ***** TOP*******
  {% endcomment %}

  {% assign mobile_root_menus = section.blocks | where: 'type', 'mobile_root_menu' %}
  {% assign images_root_menu_top_count = 0 %}
  {%- capture images_root_menu_top -%}
    {%- for block in mobile_root_menus -%}
      {%- if block.settings.send_to_top -%}
        {% assign images_root_menu_top_count = images_root_menu_top_count | plus: 1 %}
        {% render 'menu-side-image-push',
          image: block.settings.image,
          heading: block.settings.heading,
          text: block.settings.text,
          link: block.settings.link
        %}
      {%- endif -%}
    {%- endfor -%}
  {%- endcapture -%}

  {% if images_root_menu_top_count > 0 %}
    <div class="mobile-nav__images-wrapper mobile-nav__images-wrapper--root  mobile-nav__images-wrapper--root-top {% if images_root_menu_top_count >= 3 %}mobile-nav__images-wrapper--tight{% endif %} hide-scrollbar">
      <div class="mobile-nav__images-scroller">
        {{ images_root_menu_top }}
      </div>
    </div>
  {% endif %}

  <ul class="mobile-nav list--unstyled" role="list">
    {% comment %}
      MENU ELEMS
    {% endcomment %}

    {%- for link in menu.links -%}
      {%- assign link_title_downcase = link.title | strip | downcase -%}
      {%- assign mega_menu_block = '' -%}
      {%- assign mega_menu_images = '' -%}
      {%- assign nav_colors_block = '' -%}
      {%- assign nav_colors_block_id = '' -%}

      {%- for block in mega_menus -%}
        {%- assign menu_item_downcase = block.settings.menu_item | strip | downcase -%}

        {%- if menu_item_downcase == link_title_downcase -%}
          {%- assign mega_menu_block = block -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}

      {%- for block in nav_colors -%}
        {%- assign menu_item_downcase = block.settings.menu_item | strip | downcase -%}

        {%- if menu_item_downcase == link_title_downcase -%}
          {%- assign nav_colors_block_id = forloop.index -%}
          {%- assign nav_colors_block = block -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if mega_menu_block != '' -%}
        {%- assign images_count = 0 -%}

        {%- capture mega_menu_images -%}
          {%- for i in (1..6) -%}
            {%- capture image_setting -%}image_{{ i }}{%- endcapture -%}

            {%- if mega_menu_block.settings[image_setting] != blank -%}
              {%- assign images_count = images_count | plus: 1 -%}

              {%- capture image_heading_setting -%}image_{{ i }}_heading{%- endcapture -%}
              {%- capture image_text_setting -%}image_{{ i }}_text{%- endcapture -%}
              {%- capture image_link_setting -%}image_{{ i }}_link{%- endcapture -%}

              {% render 'menu-side-image-push',
                image: mega_menu_block.settings[image_setting],
                heading:  mega_menu_block.settings[image_heading_setting],
                text:  mega_menu_block.settings[image_text_setting],
                link:  mega_menu_block.settings[image_link_setting]
              %}
            {%- endif -%}
          {%- endfor -%}
        {%- endcapture -%}
      {%- endif -%}

      <li
        class="mobile-nav__item"
        data-level="1"
        {% if nav_colors_block_id != blank %}
          data-nav-colors-block-id="{{ nav_colors_block_id }}"
        {% endif %}
      >
        {%- if link.links.size > 0 or mega_menu_images != blank -%}
          <button
            is="toggle-button"
            class="mobile-nav__link heading {% if settings.heading_text_transform == 'uppercase' %}h6{% else %}h5{% endif %}"
            aria-controls="mobile-menu-{{ forloop.index }}"
            aria-expanded="false"
          >
            {{- link.title -}}
            {{ navigation_icon }}
          </button>

          <{{ navigation_component }}
            id="mobile-menu-{{ forloop.index }}"
            direction="{{ direction }}"
            class="{{- navigation_class -}}"
          >
            {% if display_back_button %}
              <div class="back-button">
                <button
                  is="toggle-button"
                  class="mobile-back__link"
                  aria-controls="mobile-menu-{{ forloop.index }}"
                  aria-expanded="false"
                >
                  {% if direction == 'ltr' %}
                    {%- render 'icon', icon: 'nav-arrow-left-small', inline: true -%}
                  {% else %}
                    {%- render 'icon', icon: 'nav-arrow-right-small', inline: true -%}
                  {% endif %}
                  {{ 'header.general.navigation_back' | t }}
                </button>
              </div>
            {% endif %}
            {%- capture no_children_column -%}
							{% if mega_menu_block.settings.no_children_column %}
								{%- for sub_link in link.links -%}
									{% if sub_link.levels == 0 %}
										<li class="mobile-nav__item mobile-nav__item--no-children" data-level="2">
											<a
												href="{{ sub_link.url }}"
												class="mobile-nav__link"
											>
												{{- sub_link.title -}}
											</a>
										</li>
									{% endif %}
								{%- endfor -%}
							{% endif %}
						{%- endcapture -%}
            {%- if no_children_column != blank -%}
              <ul class="mobile-nav mobile-nav--no-children list--unstyled" role="list">
                {{ no_children_column }}
              </ul>
            {%- endif -%}
            {%- if link.links.size > 0 -%}
              <ul class="mobile-nav list--unstyled" role="list">
                {%- if mobile_navigation == 'panels' or mobile_navigation == 'drawers' and mobile_drawer_parent_link -%}
                  <li class="mobile-nav__item mobile-nav__item--main-link" data-level="2">
                    <a
                      href="{{ link.url }}"
                      class="mobile-nav__link"
                    >
                      {{- link.title -}}
                      {% if direction == 'ltr' %}
                        {%- render 'icon', icon: 'dropdown-arrow-right', inline: true -%}
                      {% else %}
                        {%- render 'icon', icon: 'dropdown-arrow-left', inline: true -%}
                      {% endif %}
                    </a>
                  </li>
                {% endif %}
                {%- for sub_link in link.links -%}
                  {%- capture sub_sublink_style -%}
                    {% render 'f_subnav_color', subnav_colors_blocks: subnav_colors, link: sub_link %}
                  {%- endcapture -%}
                  {% if sub_link.levels == 0 and mega_menu_block.settings.no_children_column %}
                    {% continue %}
                  {% endif %}
                  <li
                    class="mobile-nav__item"
                    data-level="2"
                  >
                    {%- if sub_link.links.size > 0 -%}
                      <button
                        is="toggle-button"
                        class="mobile-nav__link {% if sub_sublink_style != blank %}subnav-color {% endif %}"
                        aria-controls="mobile-menu-{{ forloop.parentloop.index }}-{{ forloop.index }}"
                        aria-expanded="{% if link.links.size == 1 and mobile_expanded %}true{% else %}false{% endif %}"
                        {% if sub_sublink_style != blank %}
                          style="{{ sub_sublink_style }}"
                        {% endif %}
                      >
                        {{- sub_link.title -}}
                        {% if link.links.size > 1 or mobile_expanded == false %}
                          {{ navigation_icon }}
                        {% endif %}
                      </button>

                      <{{ navigation_component }}
                        id="mobile-menu-{{ forloop.parentloop.index }}-{{ forloop.index }}"
                        direction="{{ direction }}"
                        class="{{- navigation_class -}}"
                        {% if link.links.size == 1 and mobile_expanded %}
                          open
                        {% endif %}
                      >
                        {% if display_back_button %}
                          <div class="back-button">
                            <button
                              is="toggle-button"
                              class="mobile-back__link"
                              aria-controls="mobile-menu-{{ forloop.parentloop.index }}-{{ forloop.index }}"
                              aria-expanded="false"
                            >
                              {% if direction == 'ltr' %}
                                {%- render 'icon', icon: 'nav-arrow-left-small', inline: true -%}
                              {% else %}
                                {%- render 'icon', icon: 'nav-arrow-right-small', inline: true -%}
                              {% endif %}
                              {{ 'header.general.navigation_back' | t }}
                            </button>
                          </div>
                        {% endif %}
                        <ul class="mobile-nav list--unstyled" role="list">
                          {%- if mobile_navigation == 'panels'
                            or mobile_navigation == 'drawers'
                            and mobile_drawer_parent_link
                          -%}
                            <li
                              class="mobile-nav__item mobile-nav__item--main-link"
                              data-level="2"
                            >
                              <a
                                href="{{ sub_link.url }}"
                                class="mobile-nav__link"
                              >
                                {{- sub_link.title -}}
                                {% if direction == 'ltr' %}
                                  {%- render 'icon', icon: 'dropdown-arrow-right', inline: true -%}
                                {% else %}
                                  {%- render 'icon', icon: 'dropdown-arrow-left', inline: true -%}
                                {% endif %}
                              </a>
                            </li>
                          {% endif %}
                          {%- for sub_sub_link in sub_link.links -%}
                            {%- capture sub_sublink_style -%}
                              {% render 'f_subnav_color', subnav_colors_blocks: subnav_colors_blocks, link: sub_sub_link %}
                            {%- endcapture -%}
                            <li
                              class="mobile-nav__item {% if sub_sublink_style != blank %}subnav-color {% endif %}"
                              data-level="3"
                              {% if sub_sublink_style != blank %}
                                style="{{ sub_sublink_style }}"
                              {% endif %}
                            >
                              <a
                                href="{{ sub_sub_link.url }}"
                                class="mobile-nav__link"
                              >
                                {{- sub_sub_link.title -}}
                                {% render 'menu-label', link: sub_sub_link %}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </{{ navigation_component }}>
                    {%- else -%}
                      <a
                        href="{{ sub_link.url }}"
                        class="mobile-nav__link {% if sub_sublink_style != blank %}subnav-color {% endif %}"
                        {% if sub_sublink_style != blank %}
                          style="{{ sub_sublink_style }}"
                        {% endif %}
                      >
                        {{- sub_link.title -}}
                      </a>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}

            {%- if mega_menu_images != blank -%}
              <div class="mobile-nav__images-wrapper {% if images_count >= 3 %}mobile-nav__images-wrapper--tight{% endif %} hide-scrollbar">
                <div class="mobile-nav__images-scroller">
                  {{- mega_menu_images -}}
                </div>
              </div>
            {%- endif -%}
          </{{ navigation_component }}>
        {%- else -%}
          <a
            href="{{ link.url }}"
            class="mobile-nav__link heading {% if settings.heading_text_transform == 'uppercase' %}h6{% else %}h5{% endif %}"
          >
            {{- link.title -}}
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
  {% comment %}
    MOBILE ROOT MENU ***** BOTTOM*******
  {% endcomment %}

  {% assign images_root_menu_bottom_count = 0 %}
  {%- capture images_root_menu_bottom -%}
    {%- for block in mobile_root_menus -%}
      {%- if block.settings.send_to_top -%}
        {% continue %}
      {%- endif -%}
      {% assign images_root_menu_bottom_count = images_root_menu_bottom_count | plus: 1 %}
      {% render 'menu-side-image-push',
        image: block.settings.image,
        heading: block.settings.heading,
        text: block.settings.text,
        link: block.settings.link
      %}
    {%- endfor -%}
  {%- endcapture -%}

  {% if images_root_menu_bottom_count > 0 %}
    <div class="mobile-nav__images-wrapper mobile-nav__images-wrapper--root mobile-nav__images-wrapper--root-bottom {% if images_root_menu_bottom_count >= 3 %}mobile-nav__images-wrapper--tight{% endif %} hide-scrollbar">
      <div class="mobile-nav__images-scroller">
        {{ images_root_menu_bottom }}
      </div>
    </div>
  {% endif %}
</div>
