{% assign tag_value_separator = section.settings.tag_value_separator %}
{% assign register_title_text_transform = section.settings.register_title_text_transform %}

<div class="page-header">
  <div class="page-header__text-wrapper text-container">
    <span class="heading {{ section.settings.heading_size }}{% if register_title_text_transform != blank %} text-transform--{{ register_title_text_transform }}{% endif %}">
      {{- section.settings.register_title -}}
    </span>
    <p>{{ section.settings.register_subtitle }}</p>
  </div>
</div>
{%- form 'create_customer',
  name: 'create',
  class: 'form',
  id: 'register-customer',
  is: 'cancellable-form',
  data-shopify-captcha: force_register_form_captcha
-%}
  {% unless template.name == 'login' %}
    {%- if form.errors -%}
      <banner-error
        error-list="{{ form.errors |  join: "," }}"
        class="banner banner--error form__banner"
        id="login-form-error"
      >
        <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>
        <div class="banner__content">{{ form.errors | default_errors }}</div>
      </banner-error>
    {%- endif -%}
  {% endunless %}

  {%- if request.locale.iso_code == 'ja' -%}
    <div class="input">
      <input
        type="text"
        id="customer[last_name]"
        class="input__field"
        name="customer[last_name]"
        required
        autocomplete="family-name"
        {% if form.errors contains 'last_name' %}
          aria-invalid="true" aria-describedby="register-form-error"
        {% endif %}
      >
      <label for="customer[last_name]" class="input__label">
        {{- 'customer.register.last_name' | t -}}
      </label>
    </div>

    <div class="input">
      <input
        type="text"
        id="customer[first_name]"
        class="input__field"
        name="customer[first_name]"
        required
        autocomplete="given-name"
        {% if form.errors contains 'first_name' %}
          aria-invalid="true" aria-describedby="register-form-error"
        {% endif %}
      >
      <label for="customer[first_name]" class="input__label">
        {{- 'customer.register.first_name' | t -}}
      </label>
    </div>
  {%- else -%}
    {% if section.settings.civility_toggle %}
      <div class="input">
        <div class="select-wrapper">
          <select
            id="civility"
            class="select"
            name="customer[tags][Сivility]"
            aria-label="{{- 'customer.register.civility' | t -}}"
            {% if section.settings.civility_required %}
              required
            {% endif %}
          >
            <option
              value=""
              disabled
              {% if section.settings.civility_default_value == blank %}
                selected
              {% endif %}
            ></option>
            <option
              value="civility{{ tag_value_separator }}mr"
              {% if section.settings.civility_default_value == 'man' %}
                selected
              {% endif %}
            >
              {{ 'customer.register.civility_man' | t }}
            </option>
            <option
              value="civility{{ tag_value_separator }}mrs"
              {% if section.settings.civility_default_value == 'woman' %}
                selected
              {% endif %}
            >
              {{ 'customer.register.civility_woman' | t }}
            </option>
          </select>

          {%- render 'icon' with 'chevron' -%}
          <label for="civility" class="input__label">
            {{- 'customer.register.civility' | t -}}
          </label>
        </div>
      </div>
    {% endif %}

    <div class="input">
      <input
        type="text"
        id="customer[first_name]"
        class="input__field"
        name="customer[first_name]"
        {% if section.settings.first_name_validation == true
          and section.settings.first_name_validation_pattern != blank
        %}
          pattern="{{ section.settings.first_name_validation_pattern }}"
        {% endif %}
        required
        autocomplete="given-name"
        {% if form.errors contains 'first_name' %}
          aria-invalid="true" aria-describedby="register-form-error"
        {% endif %}
      >
      <label for="customer[first_name]" class="input__label">
        {{- 'customer.register.first_name' | t -}}
      </label>
    </div>

    <div class="input">
      <input
        type="text"
        id="customer[last_name]"
        class="input__field"
        name="customer[last_name]"
        {% if section.settings.last_name_validation == true
          and section.settings.last_name_validation_pattern != blank
        %}
          pattern="{{ section.settings.last_name_validation_pattern }}"
        {% endif %}
        required
        autocomplete="family-name"
        {% if form.errors contains 'last_name' %}
          aria-invalid="true" aria-describedby="register-form-error"
        {% endif %}
      >
      <label for="customer[last_name]" class="input__label">
        {{- 'customer.register.last_name' | t -}}
      </label>
    </div>
  {%- endif -%}

  <div class="input">
    <input
      type="email"
      id="customer[email]"
      class="input__field"
      name="customer[email]"
      required
      autocomplete="email"
      is="client-side-control"
      {% if form.errors contains 'email' %}
        aria-invalid="true" aria-describedby="register-form-error"
      {% endif %}
    >
    <label for="customer[email]" class="input__label">{{ 'customer.register.email' | t }}</label>
  </div>

  {% if section.settings.email_confirmation %}
    <div class="input">
      <input
        type="email"
        id="customer[email_confirmation]"
        class="input__field"
        name="customer[email_confirmation]"
        required
        autocomplete="off"
        is="confirm-input"
        confirm-target="customer[email]"
        confirm-error="{{ 'customer.register.email_confirmation_error' | t }}"
        form="register-customer"
        {% if form.errors contains 'email' %}
          aria-invalid="true" aria-describedby="register-form-error"
        {% endif %}
      >
      <label for="customer[email_confirmation]" class="input__label">
        {{- 'customer.register.email_confirmation' | t -}}
      </label>
    </div>
  {% endif %}

  {%- render 'password-control',
    name: 'customer[password]',
    autocomplete: 'new-password',
    label_text_key: 'customer.register.password'
  -%}

  {%- for block in section.blocks -%}
    {% liquid
      assign tagTitle = block.settings.tag_name | default: block.settings.tag_value | default: block.settings.title | strip

      if block.settings.input_type == 'tags'
        assign field_name = 'customer[tags][' | append: tagTitle | append: ']'
      endif
      if block.settings.input_type == 'note'
        assign field_name = 'customer[note][' | append: tagTitle | append: ']'
      endif
    %}

    {%- case block.type -%}
      {%- when 'phone' -%}
        <form-phone
          class="form__phone"
          user-lang="{{ request.locale.iso_code}}-{{ localization.country.iso_code | downcase  }}"
        >
          {% if block.settings.phone_title != blank %}
            <div class="form__phone-title">
              <span>{{ block.settings.phone_title }}</span>
            </div>
          {% endif %}
          {% if block.settings.form_phone_display == 'form_phone_same_line' %}
            <div class="form__phone--same-line">
              <div class="input">
                <select
                  id="countryList"
                  class="input__field"
                  name="customer[tags][Country]"
                  autocomplete="country"
                  aria-label="{{- 'customer.register.country' | t -}}"
                  {% if block.settings.input_required %}
                    required
                  {% endif %}
                >
                  >
                  {{- country_option_tags -}}
                </select>
                <label class="input__label">{{ 'customer.register.country' | t }}</label>
              </div>

              <div class="form__userphone">
                <input type="hidden" value="" name="customer[tags][Phone]">
                <div class="input input__prefix is-filled">
                  <input
                    id="phone-prefix"
                    class="input__field"
                    name="phone-prefix"
                    pattern="\+[1-9]\d{0,2}"
                    title="{{- 'customer.register.prefix_error' | t -}}"
                    aria-label="{{ 'customer.register.prefix' | t }}"
                    placeholder="{{ 'customer.register.prefix' | t }}"
                    maxlength="4"
                    {% if block.settings.input_required %}
                      required
                    {% endif %}
                  >
                  <label class="input__label">{{ 'customer.register.prefix' | t }}</label>
                </div>
                <div class="input input__userphone">
                  <input
                    id="user-phone"
                    type="tel"
                    class="input__field"
                    name="user-phone"
                    pattern="^0?[1-9]\d{8,14}$"
                    autocomplete="tel"
                    title="{{- 'customer.register.phone_error' | t -}}"
                    aria-label="{{ 'customer.register.phone' | t }}"
                    placeholder="{{ 'customer.register.phone' | t }}"
                    {% if block.settings.input_required %}
                      required
                    {% endif %}
                  >
                  <label class="input__label">{{ 'customer.register.phone' | t }}</label>
                </div>
              </div>
            </div>

          {% else %}
            <div class="input">
              <select
                id="countryList"
                class="input__field"
                name="customer[tags][Country]"
                autocomplete="country"
                aria-label="{{- 'customer.register.country' | t -}}"
                {% if block.settings.input_required %}
                  required
                {% endif %}
              >
                >
                {{- country_option_tags -}}
              </select>
              <label class="input__label">{{ 'customer.register.country' | t }}</label>
            </div>

            <div class="form__userphone {% if block.settings.form_phone_display == "form_phone_display_same_input" %}form__userphone--block {% endif %}">
              <input type="hidden" value="" name="customer[tags][Phone]">
              <div class="input input__prefix is-filled">
                <input
                  id="phone-prefix"
                  class="input__field"
                  name="phone-prefix"
                  pattern="\+[1-9]\d{0,2}"
                  title="{{- 'customer.register.prefix_error' | t -}}"
                  aria-label="{{ 'customer.register.prefix' | t }}"
                  placeholder="{{ 'customer.register.prefix' | t }}"
                  maxlength="4"
                  {% if block.settings.input_required %}
                    required
                  {% endif %}
                >
                <label class="input__label">{{ 'customer.register.prefix' | t }}</label>
              </div>
              <div class="input input__userphone">
                <input
                  id="user-phone"
                  type="tel"
                  class="input__field"
                  name="user-phone"
                  pattern="^0?[1-9]\d{8,14}$"
                  autocomplete="tel"
                  title="{{- 'customer.register.phone_error' | t -}}"
                  aria-label="{{ 'customer.register.phone' | t }}"
                  placeholder="{{ 'customer.register.phone' | t }}"
                  {% if block.settings.input_required %}
                    required
                  {% endif %}
                >
                <label class="input__label">{{ 'customer.register.phone' | t }}</label>
              </div>
            </div>
          {% endif %}
          {% if block.settings.phone_subtitle != blank %}
            <div class="form__phone-subtitle">
              <span>{{ block.settings.phone_subtitle }}</span>
            </div>
          {% endif %}
        </form-phone>

      {%- when 'newsletter' -%}
        {% case block.settings.display_type %}
          {% when 'dropdown' %}
            <div class="input input--newsletter input--newsletter-dropdown">
              <label for="dropdown-{{ block.id }}]" class="input__block-label">
                {{- block.settings.title | escape -}}
              </label>
              <div class="select-wrapper">
                <select
                  id="dropdown-{{ block.id }}"
                  class="select"
                  name="customer[accepts_marketing]"
                  title="{{ block.settings.title | escape }}"
                >
                  <option value="" disabled selected></option>
                  <option value="1">{{ block.settings.label_yes }}</option>
                  <option value="0">{{ block.settings.label_no }}</option>
                </select>
                {%- render 'icon' with 'chevron' -%}
              </div>
            </div>
          {% else %}
            <div class="input input--checkbox">
              <div class="checkbox-container accepts-marketing">
                <input
                  type="checkbox"
                  class="checkbox"
                  name="customer[accepts_marketing]"
                  id="checkbox-{{ block.id }}"
                >
                <label for="checkbox-{{ block.id }}" class="text--subdued">
                  {{- block.settings.title -}}
                </label>
              </div>
            </div>
        {% endcase %}
      {%- when 'dropdown' -%}
        {%- assign values = block.settings.values | split: ',' -%}

        {%- if values == empty -%}
          {%- continue -%}
        {%- endif -%}

        <div class="input{% if block.settings.custom_class != blank -%} {{ block.settings.custom_class }}{%- endif -%}">
          {% if block.settings.label_outside %}
            <label for="dropdown-{{ block.id }}]" class="input__block-label">
              {{- block.settings.title | escape -}}
            </label>
          {% endif %}
          <div class="select-wrapper">
            <select
              id="dropdown-{{ block.id }}"
              class="select"
              name="{{ field_name }}"
              title="{{ block.settings.title | escape }}"
              {% if block.settings.input_required %}
                required
              {% endif %}
            >
              <option value="" disabled selected></option>

              {%- for value in values -%}
                {%- assign trim_value = value | strip -%}

                {%- assign select_option_name = trim_value -%}
                {%- assign select_value = trim_value -%}

                {% if trim_value contains '::' %}
                  {%- assign select_option_name = trim_value | split: '::' | first | strip -%}
                  {%- assign select_value = trim_value | split: '::' | last | strip -%}
                {% endif %}

                {%- if block.settings.input_type == 'tags' -%}
                  <option value="{{ tagTitle }}{{ tag_value_separator }}{{ select_value }}">
                    {{ select_option_name }}
                  </option>
                {%- endif -%}
                {%- if block.settings.input_type == 'note' -%}
                  <option value="{{ select_value }}">{{ select_option_name }}</option>
                {%- endif -%}
              {%- endfor -%}
            </select>

            {%- render 'icon' with 'chevron' -%}
            {% unless block.settings.label_outside %}
              <label for="dropdown-{{ block.id }}]" class="input__label">
                {{- block.settings.title | escape -}}
              </label>
            {% endunless %}
          </div>
        </div>

      {%- when 'checkbox' -%}
        <div class="input input--checkbox">
          <div class="checkbox-container">
            <input
              type="checkbox"
              class="checkbox"
              name="{{ field_name }}"
              id="checkbox-{{ block.id }}"

              {%- if block.settings.input_type == 'tags' -%}
                value="{{ tagTitle }}"
              {%- endif -%}
            >
            <label for="checkbox-{{ block.id }}" class="text--subdued">
              {{- block.settings.title -}}
            </label>
          </div>
        </div>

      {%- when 'birthdate' -%}
        <form-birthdate
          id="form-birthdate"
          input-name="customer[tags][Birthday]"
          tag-value-separator="{{ tag_value_separator }}"
          {% if block.settings.use_uniformized_tag_value_format %}
            use-uniformized-tag-value-format
          {% endif %}
        >
          <div class="input-group birthdate-input-container">
            <input
              type="hidden"
              id="birthday"
              name=""
              value=""
            >
            {% unless block.settings.birth_select_style == 'calendar' %}
              <label class="form__label form__label--required text--subdued">
                {{ block.settings.title }}
              </label>
            {% endunless %}

            {% if block.settings.birth_select_style == 'calendar' %}
              {% assign current_year = 'now' | date: '%Y' %}
              {% assign current_month_day = 'now' | date: '%m-%d' %}
              {% assign min_customer_age = block.settings.min_customer_age %}
              {% assign year_birth_start = block.settings.year_birth_start %}
              {% assign year_birth_end = current_year | minus: min_customer_age %}
              <div class="input">
                <input
                  type="date"
                  class="input__field is-filled"
                  id="date_of_birth"
                  name="date_of_birth"
                  value=""
                  min="{{ year_birth_start }}-01-01"
                  max="{{ year_birth_end }}-{{ current_month_day }}"
                >
                <label for="date_of_birth" class="input__label">
                  {{- 'customer.register.date_of_birth' | t -}}
                </label>
              </div>
            {% else %}
              {% capture day %}
                {% if block.settings.birth_select_style == "input" %}
                  <div class="input">
                    <input
                      type="text"
                      inputmode="numeric"
                      pattern="0[1-9]|[12][0-9]|3[01]"
                      id="day_of_birth"
                      class="input__field"
                      name="day_of_birth"
                      {% if block.settings.input_required %}
                        required
                      {% endif %}
                      autocomplete="off"
                      maxlength="2"
                    >
                    <label for="day_of_birth" class="input__label input__label--hide-required">
                      {{- 'customer.register.birth_day' | t -}}
                    </label>
                  </div>
                {% elsif block.settings.birth_select_style == "dropdown" %}
                  <div class="input">
                    <label for="day_of_birth" class="input__label input__label--hide-required">
                      {{- 'customer.register.birth_day' | t -}}
                    </label>
                    <select
                      id="day_of_birth"
                      class="input__field"
                      name="birth_day"
                      {% if block.settings.input_required %}
                        required
                      {% endif %}
                    >
                      <option value="">{{- 'customer.register.birth_day' | t -}}</option>
                      {%- for day in (1..31) -%}
                        {%- capture formated_day -%}
                          {%- if day < 10 %}0{{ day }}{% else %}{{ day }}{% endif -%}
                        {%- endcapture -%}
                        <option value="{{- formated_day -}}">{{- formated_day -}}</option>
                      {%- endfor -%}
                    </select>
                  </div>
                {% endif %}

              {% endcapture %}

              {% capture month %}
                {% if block.settings.birth_select_style == "input" %}
                  <div class="input">
                    <input
                      type="text"
                      inputmode="numeric"
                      pattern="0[1-9]|1[012]"
                      id="month_of_birth"
                      class="input__field"
                      name="month_of_birth"
                      {% if block.settings.input_required %}
                        required
                      {% endif %}
                      autocomplete="off"
                      maxlength="2"
                    >
                    <label for="month_of_birth" class="input__label input__label--hide-required">
                      {{- 'customer.register.birth_month' | t -}}
                    </label>
                  </div>
                {% elsif block.settings.birth_select_style == "dropdown" %}
                  <div class="input">
                    <label for="month_of_birth" class="input__label input__label--hide-required">
                      {{- 'customer.register.birth_month' | t -}}
                    </label>
                    <select
                      id="month_of_birth"
                      class="input__field"
                      name="birth_month"
                      {% if block.settings.input_required %}
                        required
                      {% endif %}
                    >
                      <option value="">{{- 'customer.register.birth_month' | t -}}</option>
                      {%- for month in (1..12) -%}
                        {%- capture formated_month -%}
                          {%- if month < 10 %}0{{ month }}{% else %}{{ month }}{% endif -%}
                        {%- endcapture -%}
                        <option value="{{- formated_month -}}">{{- formated_month -}}</option>
                      {%- endfor -%}
                    </select>
                  </div>
                {% endif %}
              {% endcapture %}

              {% capture year %}
                {% if block.settings.birth_select_style == "input" %}
                  <div class="input">
                    <input
                      type="text"
                      inputmode="numeric"
                      pattern="(19|20)\d\d"
                      id="year_of_birth"
                      class="input__field"
                      name="year_of_birth"
                      {% if block.settings.input_required %}
                        required
                      {% endif %}
                      autocomplete="off"
                      maxlength="4"
                    >
                    <label for="year_of_birth" class="input__label input__label--hide-required">
                      {{- 'customer.register.birth_year' | t -}}
                    </label>
                  </div>
                {% elsif block.settings.birth_select_style == "dropdown" %}
                  <div class="input">
                    <label for="year_of_birth" class="input__label input__label--hide-required">
                      {{- 'customer.register.birth_year' | t -}}
                    </label>
                    <select
                      id="year_of_birth"
                      class="input__field"
                      name="birth_year"
                      {% if block.settings.input_required %}
                        required
                      {% endif %}
                    >
                      <option value=""> {{- 'customer.register.birth_year' | t -}}</option>
                      {% assign current_year = 'now' | date: "%Y" %}
                      {% assign min_customer_age = block.settings.min_customer_age %}
                      {% assign year_birth_start = block.settings.year_birth_start %}
                      {% assign year_birth_end = current_year | minus: min_customer_age %}
                      {% for year in (year_birth_start..year_birth_end) %}
                        <option value="{{ year }}">{{ year }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endif %}

              {% endcapture %}

              <div class="input-row">
                {% if request.locale.iso_code == 'en' %}
                  {{ month }}
                  {{ day }}
                  {{ year }}
                {% endif %}
                {% if request.locale.iso_code == 'fr' %}
                  {{ day }}
                  {{ month }}
                  {{ year }}
                {% endif %}
              </div>
            {% endif %}
          </div>

          {% if block.settings.birthdate_subtitle != blank %}
            <div class="form__birthdate-subtitle">
              <span>{{ block.settings.birthdate_subtitle }}</span>
            </div>
          {% endif %}
        </form-birthdate>

      {%- when 'input' -%}
        {%- if block.settings.input_type == 'note' -%}
          <div class="input">
            <input
              type="text"
              class="input__field"
              {% if block.settings.input_required %}
                required
              {% endif %}
              id="customer-{{ block.id }}"
              name="{{ field_name }}"
              {% if block.settings.validation_pattern != blank %}
                pattern="{{ block.settings.validation_pattern }}"
              {% endif %}
            >
            <label for="customer-{{ block.id }}" class="input__label">
              {{- block.settings.title -}}
            </label>
          </div>
        {%- endif -%}
        {%- if block.settings.input_type == 'tags' -%}
          <register-input
            tag-title="{{ tagTitle }}"
            class="input"
            tag-value-separator="{{ tag_value_separator }}"
          >
            <input
              type="text"
              class="input__field"
              {% if block.settings.input_required %}
                required
              {% endif %}
              id="customer-{{ block.id }}"
              {% if block.settings.validation_pattern != blank %}
                pattern="{{ block.settings.validation_pattern }}"
              {% endif %}
            >
            <input
              type="hidden"
              id="customer-{{ block.id }}-hidden"
              name="{{ field_name }}"
            >
            <label for="customer-{{ block.id }}" class="input__label">
              {{- block.settings.title -}}
            </label>
          </register-input>
        {%- endif -%}
      {%- when 'hidden-language' -%}
        {% liquid
          if block.settings.use_language_code
            assign language = localization.language.iso_code | upcase
          else
            assign language = localization.language.name
          endif
        %}
        <div class="input hidden">
          <input
            type="hidden"
            id="customer-{{ block.id }}-hidden"
            name="{{ field_name }}"
            value="{{ tagTitle }}{{ tag_value_separator }}{{ language }}"
          >
        </div>
    {% endcase %}
  {% endfor %}

  <ajax-registering
    form="register-customer"
    page="register"
  ></ajax-registering>

  <button
    type="submit"
    is="loader-button"
    class="form__submit button button--{{ section.settings.link_style }} button--full"
  >
    {{ 'customer.register.submit' | t }}
  </button>

  {% comment %}
    <span class="form__secondary-action text--subdued">
      {{- 'customer.register.already_have_account' | t -}}
      <a href="{{ routes.account_login_url }}" class="link">{{ 'customer.register.login' | t }}</a>
    </span>
  {% endcomment %}
{%- endform -%}
<div class="register-block__bottom">
  <div class="required-block">
    {{ 'customer.register.required' | t }}
  </div>
  {% if section.settings.policy == true %}
    <div class="policy-block">
      {{ section.settings.policy_text }}
    </div>
  {% endif %}
</div>
