{% liquid
  if request.design_mode == true
    assign hidden_type = 'text'
  else
    assign hidden_type = 'hidden'
  endif
%}

{% capture section_style %}
  {%- if section.settings.button_background == 'rgba(0,0,0,0)' -%}
    {%- assign button_background = settings.primary_button_background -%}
  {%- else -%}
    {%- assign button_background = section.settings.button_background -%}
  {%- endif -%}

  {%- if section.settings.button_text_color == 'rgba(0,0,0,0)' -%}
    {%- assign button_text_color = settings.primary_button_text_color -%}
  {%- else -%}
    {%- assign button_text_color = section.settings.button_text_color -%}
  {%- endif -%}

  --primary-button-background: {{ button_background.red }}, {{ button_background.green }}, {{ button_background.blue }};
  --primary-button-text-color: {{ button_text_color.red }}, {{ button_text_color.green }}, {{ button_text_color.blue }};
{% endcapture %}

{% capture extra_style %}
  {%- if section.settings.image_position == "right"-%}

    @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} .contact {
    flex-direction: row;
    }

    #shopify-section-{{ section.id }} .contact__aside {
    margin-right: 0;
    margin-left: 40px;
    }
    }

  {%- endif -%}
{% endcapture %}

{% capture content %}
  <div class="contact">
    {%- capture aside_content -%}
      {%- if section.settings.image != blank -%}
        {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: '(max-width: 740px) calc(100vw - 24px * 2), 530px', widths: '200,300,400,500,600,800,1000,1200,1400', class: 'contact__image' -}}
      {%- endif -%}

      {%- capture aside_text_1 -%}
        {%- if section.settings.text_1_heading != blank or section.settings.text_1_text != blank -%}
          {%- if section.settings.text_1_heading != blank -%}
            <p class="heading heading--small">{{ section.settings.text_1_heading | escape }}</p>
          {%- endif -%}

          {%- if section.settings.text_1_text != blank -%}
            <div class="rte">
              {{- section.settings.text_1_text -}}
            </div>
          {%- endif -%}
        {%- endif -%}
      {%- endcapture -%}

      {%- capture aside_text_2 -%}
        {%- if section.settings.text_2_heading != blank or section.settings.text_2_text != blank -%}
          {%- if section.settings.text_2_heading != blank -%}
            <p class="heading heading--small">{{ section.settings.text_2_heading | escape }}</p>
          {%- endif -%}

          {%- if section.settings.text_2_text != blank -%}
            <div class="rte">
              {{- section.settings.text_2_text -}}
            </div>
          {%- endif -%}
        {%- endif -%}
      {%- endcapture -%}

      {%- if aside_text_1 != blank or aside_text_2 != blank -%}
        <div class="contact__text-list">
          {%- if aside_text_1 != blank -%}
            <div class="contact__text-item text-container">
              {{- aside_text_1 -}}
            </div>
          {%- endif -%}

          {%- if aside_text_2 != blank -%}
            <div class="contact__text-item text-container">
              {{- aside_text_2 -}}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endcapture -%}

    <div class="contact__main">
      {% render 'heading' %}

      {%- if section.settings.use_webhook -%}
        {% render 'vite-tag' with '@modules/sections/webhook-form' %}
      {%- endif -%}
       {% assign goback =  'general.accessibility.previous' | t  %}
      {%- form 'contact',
        class: 'contact__form form' ,
        is: 'webhook-form',
        data-webhook : section.settings.webhook_url,
        data-secret : section.settings.webhook_secret,
        data-goback : goback
      -%}

        <template class="success-banner">
          <div class="banner banner--success form__banner">
            <span class="banner__ribbon">{% render 'icon' with 'form-success' %}</span>
            <p class="banner__content">#message#</p>
          </div>
        </template>
        <template class="error-banner">
          <div class="form__banner banner banner--error">
            <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>
            <div class="banner__content">#message# </div>
          </div>
        </template>

        {%- if form.posted_successfully? -%}
          <div class="banner banner--success form__banner">
            <span class="banner__ribbon">{% render 'icon' with 'form-success' %}</span>
            <p class="banner__content">{{ 'contact.form.successfully_sent' | t }}</p>
          </div>
        {%- endif -%}

        {%- if form.errors -%}
          <div class="form__banner banner banner--error">
            <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>

            <div class="banner__content">
              {{- form.errors | default_errors -}}
            </div>
          </div>
        {%- endif -%}

        {%  if section.settings.split_name %}
            <div class="input">
          <input
            id="contact-form-first_name"
            type="text"
            class="input__field {% if customer.first_name != blank %}is-filled{% endif %}"
            name="contact[first_name]"
            aria-label="{{ 'contact.form.first_name' | t }}"
            required
            {% if customer %}
              value="{{ customer.first_name }}"
            {% endif %}
          >
          <label for="contact-form-first_name" class="input__label">{{ 'contact.form.first_name' | t }}</label>
        </div>
          <div class="input">
            <input
              id="contact-form-last_name"
              type="text"
              class="input__field {% if customer.last_name != blank %}is-filled{% endif %}"
              name="contact[last_name]"
              aria-label="{{ 'contact.form.last_name' | t }}"
              required
              {% if customer %}
                value="{{ customer.last_name }}"
              {% endif %}
            >
            <label for="contact-form-last_name" class="input__label">{{ 'contact.form.last_name' | t }}</label>
          </div>
{% else %}
        <div class="input">
          <input
            id="contact-form-name"
            type="text"
            class="input__field {% if customer.name != blank %}is-filled{% endif %}"
            name="contact[name]"
            aria-label="{{ 'contact.form.name' | t }}"
            required
            {% if customer %}
              value="{{ customer.name }}"
            {% endif %}
          >
          <label for="contact-form-name" class="input__label">{{ 'contact.form.name' | t }}</label>
        </div>

{% endif %}
        <div class="input">
          <input
            id="contact-form-email"
            type="email"
            class="input__field {% if customer.email != blank %}is-filled{% endif %}"
            name="contact[email]"
            aria-label="{{ 'contact.form.email' | t }}"
            required
            {% if customer %}
              value="{{ customer.email }}"
            {% endif %}
          >
          <label for="contact-form-email" class="input__label">{{ 'contact.form.email' | t }}</label>
        </div>

        {%- for block in section.blocks -%}
          {%- assign field_title = block.settings.title -%}

          {%- if field_title == blank -%}
            {%- capture field_title -%}Custom field {% increment custom_field %}{%- endcapture -%}
          {%- endif -%}
          {% assign field_name = block.settings.field_name | default: field_title | escape %}

            {%- if block.type == 'hidden-language' -%}

                  {% liquid

                    if block.settings.use_language_code
                      assign language = localization.language.iso_code | upcase
                      else
                      assign language = localization.language.name
                    endif
                  %}
              <div class="input">

                  <input
                  id="contact-form-language"
                  type="{{ hidden_type }}"
                  readonly
                  class="input__field"
                  name="contact[language]"
                  value="{{ language }}"
                >
                {% if hidden_type == "text" %}
                  <label for="contact-form-hidden-country" class="input__label">
                    Language (will be hidden)
                  </label>
                {% endif %}
              </div>

            {%- endif -%}

          {%- if block.type == 'hidden-market' -%}
            <div class="input">

              <input
                id="contact-form-market"
                type="{{ hidden_type }}"
                readonly
                class="input__field"
                name="contact[market]"
                value="{{ localization.market.handle }}"
              >
                {% if hidden_type == "text" %}
                  <label for="contact-form-hidden-country" class="input__label">
                    Market (will be hidden)
                  </label>
                {% endif %}
          </div>

          {%- endif -%}

          {%- if block.type == 'hidden-country' -%}

            {% liquid
              if block.settings.use_country_code
                assign country = localization.country.iso_code | upcase
              else
                assign country = localization.country.name
              endif
            %}
            <div class="input">

                <input
                  id="contact-form-hidden-country"
                  type="{{ hidden_type }}"
                  readonly
                  class="input__field"
                  name="contact[country]"
                  value="{{ country }}"
                >
                {% if hidden_type == "text" %}
                  <label for="contact-form-hidden-country" class="input__label">
                    Country (will be hidden)
                  </label>
                {% endif %}
          </div>

          {%- endif -%}

          {%- if block.type == 'text' -%}

            <div class="input">
              {%- if block.settings.use_long_text -%}
                <textarea
                  id="contact-form-{{ field_title | handle }}"
                  name="contact[{{ field_name }}]"
                  rows="4"
                  class="input__field input__field--textarea"
                  aria-label="{{ block.settings.title | escape }}"
                      {% if block.settings.is_required %}
                        required
                      {% endif -%}
                    ></textarea>
                <label for="contact-form-{{ field_title | handle }}" class="input__label">
                  {{- block.settings.title | escape -}}
                </label>
              {%- else -%}
                <input
                  id="contact-form-{{ field_title | handle }}"
                  type="text"
                  class="input__field"
                  name="contact[{{field_name }}]"
                  aria-label="{{ block.settings.title | escape }}"
                  {% if block.settings.is_required %}
                    required
                  {% endif %}
                >
                <label for="contact-form-{{ field_title | handle }}" class="input__label">
                  {{- block.settings.title | escape -}}
                </label>
              {%- endif -%}
            </div>
          {%- elsif block.type == 'dropdown' -%}

            {%- assign values = block.settings.values | split: ',' -%}

            {%- if values == empty -%}
              {%- continue -%}
            {%- endif -%}

            <div class="input">
              <div class="select-wrapper">
                <select
                  id="contact-form-{{ field_title | handle }}"
                  class="select"
                  name="contact[{{ field_name }}]"
                  title="{{ block.settings.title | escape }}"
                  required
                >
                  <option value="" disabled selected></option>

                  {%- for value in values -%}
                    {%- assign trim_value = value | strip -%}

                    <option value="{{ trim_value | escape }}">{{ trim_value | escape }}</option>
                  {%- endfor -%}
                </select>

                {%- render 'icon' with 'chevron' -%}
              </div>

              <label for="contact-form-{{ field_title | handle }}" class="input__label">
                {{- block.settings.title | escape -}}
              </label>
            </div>
          {%- endif -%}
        {%- endfor -%}

        <div class="input">
              <textarea
                id="contact-form-message"
                name="contact[body]"
                rows="4"
                class="input__field input__field--textarea"
                aria-label="{{ 'contact.form.message' | t }}"
                required
              ></textarea>
          <label for="contact-form-message" class="input__label">{{ 'contact.form.message' | t }}</label>
        </div>

        <button is="loader-button" type="submit" class="form__submit button button--primary button--full">
          {{ 'contact.form.submit' | t }}
        </button>
      {%- endform -%}
    </div>

    {%- if aside_content != blank -%}
      <aside class="contact__aside">
        {{- aside_content -}}
      </aside>
    {%- endif -%}
  </div>
{% endcapture %}

{% render 'section-layout',
  content: content,
  extra_section_style: section_style,
  extra_style: extra_style,
  hide_headings: true
%}
