{%- comment -%}
  ------------------------------------------------------------------------------------
  FILTER SERVER / AJAX
  ------------------------------------------------------------------------------------
{%- endcomment -%}

{%- liquid
  assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first
  assign page_url = page_url | replace: '\/', '/' | replace: '%20', ' '
  assign page_url = page_url | split: '?'
  assign page_url = page_url[1]
  assign page_url = page_url | split: '\u0026'

  assign is_ajax = false

  for param in page_url
    assign pair = param | split: '='
    if pair[0] == 'sections%5B%5D'
      assign is_ajax = true
    endif
    if pair[0] == 'sections'
      assign is_ajax = true
    endif
  endfor
%}

{% comment %}
  ************** Appel section normal*********
{% endcomment %}
{%- if is_ajax == false -%}
  <cart-drawer section="{{ section.id }}" id="mini-cart" class="mini-cart drawer drawer--large">
    <simple-notification
      notification-name="mini-cart-notification"
      hidden
      class="simple-notification simple-notification-mini-cart simple-notification--drawer"
    ></simple-notification>

    {% if section.settings.recommendations_type == 'nosto' %}
      {% render 'vite-tag' with '@modules/sections/nosto-recommandations' %}
    {% endif %}
    <span class="drawer__overlay"></span>

    <header class="drawer__header">
      <p class="drawer__title heading h6">
        {%- case settings.cart_icon -%}
          {%- when 'shopping_bag' -%}
            {%- render 'icon' with 'header-cart' -%}
          {%- when 'shopping_cart' -%}
            {%- render 'icon' with 'header-shopping-cart' -%}
          {%- when 'tote_bag' -%}
            {%- render 'icon' with 'header-tote-bag' -%}
        {%- endcase -%}
        <cart-count
          sentence-if-one="{{- 'cart.general.item_count.one' | t }}"
          sentence-if-several="{{- 'cart.general.item_count.other' | t }}"
          sentence-if-null="{{- 'cart.general.title' | t -}}"
        >
          {%- if cart.item_count == 0 -%}
            {{- 'cart.general.title' | t -}}
          {%- else -%}
            {{- 'cart.general.item_count' | t: count: cart.item_count -}}
          {%- endif -%}
        </cart-count>
      </p>

      <button
        type="button"
        class="drawer__close-button tap-area"
        data-action="close"
        title="{{ 'general.accessibility.close' | t | escape }}"
      >
        {%- render 'icon' with 'close' -%}
      </button>
    </header>

    <div cart-loader-spinner class="spinner">
      <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
        <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
      </svg>
    </div>
    <div cart-loader-target class="mini-cart__sub-container"></div>
  </cart-drawer>

  {% comment %}
    ************** Appel section ajax mode *********
  {% endcomment %}
{%- else -%}
  {%- if cart.item_count == 0 -%}
    <div class="drawer__content drawer__content--center">
      <p>{{ 'cart.general.empty' | t }}</p>

      <div class="button-wrapper">
        <a href="{{ section.settings.empty_button_link }}" class="button button--primary">
          {{- 'cart.general.start_shopping' | t -}}
        </a>
      </div>
    </div>
  {%- else -%}
    <div class="drawer__content">
      {% render 'f_render_free_shipping_bar' %}

      <form id="mini-cart-form" action="{{ routes.cart_url }}" novalidate method="post" is="cancellable-form">
        <input type="hidden" name="checkout">

        <table class="line-item-table table table--loose">
          <thead class="line-item-table__header-group hidden-phone">
            <tr>
              <th>
                <span class="heading heading--xsmall text--subdued">{{ 'cart.general.product' | t }}</span>
              </th>
              <th>
                <span class="heading heading--xsmall text--subdued text--center">
                  {{- 'cart.general.quantity' | t -}}
                </span>
              </th>
              <th>
                <span class="heading heading--xsmall text--subdued text--right">
                  {{- 'cart.general.total' | t -}}
                </span>
              </th>
            </tr>
          </thead>

          <tbody class="line-item-table__list" is="cart-custom-items">
            {%- for line_item in cart.items -%}
              {% render 'cart-line-item',
                line_item: line_item,
                position: forloop.index,
                packshot_first_image: section.settings.enable_packshot_drawer
              %}
            {%- endfor -%}
          </tbody>
        </table>
      </form>

      {%- if section.settings.show_recommendations -%}
        {% capture related_products %}
          <cart-drawer-recommendations
                  section-id="mini-cart-recommendations"
                  product-id="{{ cart.items.first.product_id }}"
                  class="mini-cart__recommendations"
          >
            <div recommendations-target class="mini-cart__recommendations-inner">
              <div class="spinner">
                {%- render 'icon' with 'spinner', stroke_width: 3, width: 40, height: 40 -%}
              </div>
            </div>
          </cart-drawer-recommendations>
        {% endcapture %}

        {% if section.settings.recommendations_type == 'complementary' %}
          {% for item in cart.items %}
            {% for item_complementary in item.product.metafields['shopify--discovery--product_recommendation'].complementary_products.value %}
              {% comment %}apply complementary limitations https://shopify.dev/docs/themes/product-merchandising/recommendations/related-products#limitations{% endcomment %}
              {% if item_complementary.price > 0
                and item_complementary.available
                and item_complementary.gift_card? != true
              %}
                {% assign all_complementary = all_complementary | append: item_complementary.handle | append: '[]' %}
              {% endif %}
            {% endfor %}
          {% endfor %}

          {% assign all_complementary_arr = all_complementary | split: '[]' %}
          {% assign limit_complementary = section.settings.recommendations_limit %}

          {% for item_handle in all_complementary_arr %}
            {% assign exist_in_cart = false %}
            {% for cart_item in cart.items %}
              {% if item_handle == cart_item.product.handle %}
                {% assign exist_in_cart = true %}
                {% break %}
              {% endif %}
            {% endfor %}
            {% unless exist_in_cart %}
              {% assign cart_complementary = cart_complementary | append: item_handle | append: '[]' %}
              {% assign cart_complementary_counter = cart_complementary_counter | plus: 1 %}
            {% endunless %}
            {% if cart_complementary_counter == limit_complementary %}
              {% break %}
            {% endif %}
          {% endfor %}

          {% assign cart_complementary_arr = cart_complementary | split: '[]' | uniq %}
          {% assign cart_item_ids = cart.items | map: 'product_id' | join: ',' %}
          {% if cart_complementary_arr.size > 0 %}
            <cart-complementary-recommendations cart-product-ids="{{ cart_item_ids }}">
              {% render 'mini-cart-recommendations',
                product_handles: cart_complementary_arr,
                packshot_first_image: section.settings.enable_packshot_recommendations
              %}
            </cart-complementary-recommendations>
          {% else %}
            {{ related_products }}
          {% endif %}
        {% elsif section.settings.recommendations_type == 'related' %}
          {{ related_products }}
        {% elsif section.settings.recommendations_type == 'nosto' %}
          <nosto-wrapper render-section-id="ajax-mini-cart-recommendations">
            <div class="nosto_element" id="{{ section.settings.nosto_id }}" nosto-initial-content hidden></div>
            <template>
              <div product-list></div>
            </template>
          </nosto-wrapper>
        {% endif %}
      {%- endif -%}
    </div>

    <footer class="mini-cart__drawer-footer drawer__footer drawer__footer--tight drawer__footer--bordered">
      {%- capture shipping_tax_note -%}{{ 'cart.general.shipping_tax_note' | t }}{%- endcapture -%}

      {% unless settings.cart_product_discounts_position == 'hide' %}
        <cart-level-discounts
          component="mini-cart"
        >
          <template discount-badge>
            {% render 'icon' with 'discount-badge' %}
          </template>
        </cart-level-discounts>
      {% endunless %}

      {%- if section.settings.show_order_note or shipping_tax_note != '' -%}
        <div class="mini-cart__actions text--subdued text--xsmall">
          {%- if section.settings.show_order_note -%}
            <button
              type="button"
              is="toggle-button"
              id="order-note-toggle"
              class="link"
              data-action="toggle-order-note"
              aria-controls="mini-cart-note"
              aria-expanded="false"
            >
              {%- if cart.note == blank -%}
                {{- 'cart.general.add_order_note' | t -}}
              {%- else -%}
                {{- 'cart.general.edit_order_note' | t -}}
              {%- endif -%}
            </button>
          {%- endif -%}

          {%- if shipping_tax_note != '' -%}
            <span>{{ shipping_tax_note }}</span>
          {%- endif -%}
        </div>
      {%- endif -%}

      {% if settings.enable_aki_discounts %}
        {% render 'aki-coupon' %}
      {% endif %}

      {%- if section.settings.show_checkout_button -%}
        {% if settings.cart_gift_wrap_checkbox and settings.cart_gift_wrap %}
          {% render 'cart-gift-wrap-form' %}
          {% render 'cart-gift-wrap-checkbox' %}
        {% endif %}

        {% render 'cart-terms-conditions-checkbox', form: 'mini-cart-form' %}
        <button
          form="mini-cart-form"
          type="submit"
          class="checkout-button button button--primary button--full"
          name="checkout"
          {%- if settings.enable_aki_discounts != blank -%}
            disabled
            is="aki-validation"
            translation-need-login="{{  'aki_discount.validation.need_login' | t | escape  }} "
            {%- if settings.enable_aki_functions != blank -%}
              aki-functions
            {% endif %}
          {% endif %}
        >
          <span class="checkout-button__lock">{%- render 'icon' with 'lock' -%}</span>
          <span class="checkout-button__text">
            {{- 'cart.general.checkout' | t -}}
          </span>
          <span class="square-separator"></span>
          <span class="checkout-button__total">
            <cart-total>
              {% if settings.activate_price_placeholder %}
                <place-holder width="100" height="30" />
              {% else %}
                {% render 'f_format_money' with cart.total_price %}
              {% endif %}
            </cart-total>
            <cart-original-total class="price price--compare price--line-discount">
              {% unless settings.activate_price_placeholder == true
                or cart.original_total_price == cart.total_price
                or cart.original_total_price == 0
              %}
                {% render 'f_format_money' with cart.total_price %}
              {% endunless %}
            </cart-original-total>
          </span>
          <!-- Remove comment if you want to display cart total discount -->
          <!-- cart-total-discount class="label label--highlight"></cart-total-discount -->
        </button>
      {%- else -%}
        <a href="{{ routes.cart_url }}" class="button button--primary button--full" data-no-instant>
          {{- 'cart.general.go_to_cart' | t -}}
        </a>
      {%- endif -%}
    </footer>
  {%- endif -%}

  {%- if section.settings.show_order_note -%}
    <openable-element id="mini-cart-note" class="mini-cart__order-note">
      <span class="openable__overlay"></span>
      <label for="cart[note]" class="mini-cart__order-note-title heading heading--xsmall">
        {{- 'cart.general.add_order_note' | t -}}
      </label>
      <textarea
        is="cart-note"
        name="note"
        id="cart[note]"
        rows="3"
        aria-owns="order-note-toggle"
        class="input__field input__field--textarea"
        placeholder="{{ 'cart.general.order_note_placeholder' | t }}"
      >{{ cart.note }}</textarea>
      <button type="button" data-action="close" class="form__submit form__submit--closer button button--secondary">
        {{ 'cart.general.order_note_save' | t }}
      </button>
    </openable-element>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "Cart drawer",
  "class": "shopify-section--mini-cart",
  "settings": [
    {
      "type": "paragraph",
      "content": "Free shipping notice can be configured in global cart settings."
    },
    {
      "type": "checkbox",
      "id": "show_order_note",
      "label": "Show order note",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_checkout_button",
      "label": "Show checkout button",
      "default": true
    },
    {
      "type": "url",
      "id": "empty_button_link",
      "label": "Empty button link",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Cross-sell",
      "info": "Dynamic recommendations are based on the items in your cart. They change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)"
    },
    {
      "type": "checkbox",
      "id": "show_recommendations",
      "label": "Show cart recommendations",
      "default": true
    },
    {
      "type": "select",
      "id": "recommendations_type",
      "label": "Recommendations type",
      "options": [
        {
          "value": "related",
          "label": "Related"
        },
        {
          "value": "complementary",
          "label": "Complementary"
        },
        {
          "value": "nosto",
          "label": "Nosto"
        }
      ],
      "default": "related"
    },
    {
      "type": "text",
      "id": "nosto_id",
      "label": "Nosto id",
      "default": "cart-drawer-nosto-1"
    },
    {
      "type": "number",
      "id": "recommendations_limit",
      "label": "Recommendations limit",
      "default": 10
    },
    {
      "type": "header",
      "content": "Packshot Image"
    },
    {
      "type": "checkbox",
      "id": "enable_packshot_drawer",
      "label": "Enable packshot image in drawer",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_packshot_recommendations",
      "label": "Enable packshot image in recommendations",
      "default": false,
      "info": "Works only for complementary products"
    }
  ]
}
{% endschema %}
