{% if section.settings.enable_toggle_visibility and section.settings.toggle_visibility == blank %}
  {% break %}
{% endif %}
{%- capture style -%}
  <style>
    #shopify-section-{{ section.id }} {
      --section-columns: {{ section.settings.section_columns_mobile }};

      {% if section.settings.dots_nav_color != blank %}
	      --dots-nav-color: {{ section.settings.dots_nav_color.red }}, {{ section.settings.dots_nav_color.green }}, {{ section.settings.dots_nav_color.blue }};
	    {% endif %}
	  }

    @media screen and (max-width: 740px) {
			#shopify-section-{{ section.id }} {
        {% if section.settings.blocks_spacing_custom_mobile != blank %}
          --custom-container-gutter-mobile: {{section.settings.blocks_spacing_custom_mobile}};
        {% endif %}
			}
		}

		@media screen and (min-width: 741px) and (max-width: 999px) {
			#shopify-section-{{ section.id }} {
        --section-columns: {{ section.settings.section_columns_desktop }};
        {% if section.settings.blocks_spacing_custom_desk != blank %}
          --custom-container-gutter-desk: {{section.settings.blocks_spacing_custom_desk}};
        {% endif %}
			}
		}

		@media screen and (min-width: 1000px) {
			#shopify-section-{{ section.id }} {
				--section-columns: {{ section.settings.section_columns_desktop}};
        {% if section.settings.blocks_spacing_custom_desk != blank %}
          --custom-container-gutter-desk: {{section.settings.blocks_spacing_custom_desk}};
        {% endif %}
			}
		}

    {%- for block in section.blocks -%}
    {%- if block.type == 'media' -%}
    {% continue %}
    {% endif %}
		#block-{{ section.id }}-{{ block.id }} {
    {%- unless block.type == 'video' -%}
    {%- if block.settings.text_color == 'rgba(0,0,0,0)' -%}
    {%- assign heading_color = settings.heading_color -%}
    {%- assign text_color = settings.text_color -%}
    {%- else -%}
    {%- assign heading_color = block.settings.text_color -%}
    {%- assign text_color = block.settings.text_color -%}
    {%- endif -%}

			--heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
			--text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    {% if block.settings.background != 'rgba(0,0,0,0)' and  block.settings.background != blank %}
			--section-block-background: {{ block.settings.background.red }}, {{ block.settings.background.green }}, {{ block.settings.background.blue }};
    {% endif %}

    {%- if block.type == 'image' or block.type == 'newsletter' or block.type == 'collection' -%}
			--primary-button-background: {{ block.settings.button_background.red }}, {{ block.settings.button_background.green }}, {{ block.settings.button_background.blue }};
			--primary-button-text-color: {{ block.settings.button_text_color.red }}, {{ block.settings.button_text_color.green }}, {{ block.settings.button_text_color.blue }};

    {%- assign text_position = block.settings.text_position | split: '_' | first -%}

    {%- case text_position -%}
    {%- when 'top' -%}
    {%- assign section_items_alignment = 'flex-start' -%}
    {%- when 'middle' -%}
    {%- assign section_items_alignment = 'center' -%}
    {%- when 'bottom' -%}
    {%- assign section_items_alignment = 'flex-end' -%}
    {%- endcase -%}

			--section-blocks-alignment: {{ section_items_alignment }};
    {%- endif -%}

    {%- if block.type == 'featured_products' -%}
			--prev-next-button-background: var(--section-block-background);
			--prev-next-button-color: var(--text-color);
    {%- endif -%}
    {%- endunless -%}
		}
    {%- endfor -%}

    {%- for block in section.blocks -%}
		#block-{{ section.id }}-{{ block.id }} .video-wrapper__poster-image {
			object-position: {{ block.settings.image_position }};
		}
      {% if block.settings.col_size != blank or block.settings.row_size != blank %}
        #block-{{ section.id }}-{{ block.id }}{
          {% if block.settings.col_size != blank %}
            --block-col-size: {{ block.settings.col_size }};
          {% endif %}
          {% if block.settings.row_size != blank %}
            --block-row-size: {{ block.settings.row_size }};
          {% endif %}
        }
      {% endif %}

      {% if block.settings.col_size_mobile != blank or block.settings.row_size_mobile != blank %}
        @media screen and (max-width: 740px) {
          #block-{{ section.id }}-{{ block.id }}{
          {% if block.settings.col_size_mobile != blank %}
            --block-col-size: {{ block.settings.col_size_mobile }};
          {% endif %}
          {% if block.settings.row_size_mobile != blank %}
            --block-row-size: {{ block.settings.row_size_mobile }};
          {% endif %}
          }
        }
      {% endif %}
    {%- endfor -%}
  </style>
{%- endcapture -%}
{%- capture section_content -%}
  {% assign block_html_tag = 'div' %}
  {% unless section.settings.stack_on_mobile %}
    {% assign isCarouselItem = true %}
    {% assign block_html_tag = 'native-carousel-item' %}
  {% endunless %}
  {% capture promotion_blocks_list_classes %}
    promotion-block-list
    promotion-block-list--{{ section.settings.section_layout }}
    {% if section.settings.blocks_spacing != blank and section.settings.blocks_spacing != 'default' %}
      promotion-block-list--spacing-{{ section.settings.blocks_spacing }}
    {% endif %}
    {% if section.settings.blocks_spacing_custom_mobile != blank %}
      promotion-block-list--spacing-custom-mobile
    {% endif %}
    {% if section.settings.blocks_spacing_custom_desk != blank %}
      promotion-block-list--spacing-custom-desk
    {% endif %}
    {% unless section.settings.stack_on_mobile %}
      promotion-block-list--scrollable
      {% if section.settings.carousel_item_fullwidth %}
        promotion-block-list--scrollable-fullwidth
      {% endif %}
    {% endunless %}
  {% endcapture %}
  <div class="{% render 'f_format_css_class' with promotion_blocks_list_classes %}">
    {%- for block in section.blocks -%}
      {%- capture block_id -%}block-{{ section.id }}-{{ block.id }}{%- endcapture -%}
      {%- capture block_classes -%}promotion-block-list__item promotion-block{%- endcapture -%}

      {% comment %}Automatic media sizes{% endcomment %}
      {% case section.settings.section_layout %}
        {% when 'flex_grid' %}
          {% capture media_sizes_mobile %}
            100vw
          {% endcapture %}
          {%- capture media_sizes_desktop -%}
            {% if section.settings.section_columns_desktop == 1 or block.settings.afp_primary_block or block.settings.highlight or section.blocks.size == 1  %}
              100vw
            {% else %}
              50vw
            {% endif %}
          {%- endcapture -%}
        {% when 'grid' %}
          {% assign block_size = block.settings.col_size %}
          {% if block.settings.highlight %}
            {% assign block_size = 2 %}
          {% endif %}
          {% assign block_size = block_size | times: block.settings.row_size %}
          {% capture media_sizes_mobile %}
            {% if block.settings.highlight or section.blocks.size == 1 or block.settings.col_size > 1 or section.settings.stack_on_mobile != true %}
              100vw
            {% elsif section.settings.section_columns_mobile == '2' %}
              50vw
            {% else %}
              100vw
            {% endif %}
          {% endcapture %}
          {%- capture media_sizes_desktop -%}
            {% if block.settings.afp_primary_block %}
              100vw
            {% else %}
              calc((100vw / {{ section.settings.section_columns_desktop }}) * {{ block_size }})
            {% endif %}
          {%- endcapture -%}
        {% when 'columns' %}
          {% capture media_sizes_mobile %}
            {% if section.blocks.size == 1 or section.settings.stack_on_mobile != true %}
              100vw
            {% elsif section.settings.section_columns_mobile == '2' %}
              50vw
            {% else %}
              100vw
            {% endif %}
          {% endcapture %}
          {%- capture media_sizes_desktop -%}
            calc(100vw / {{ section.settings.section_columns_desktop }})
          {%- endcapture -%}
      {% endcase %}
      {% comment %}Override media sizes{% endcomment %}
      {% assign media_sizes_desktop = block.settings.media_sizes_desktop | default: media_sizes_desktop %}
      {% assign media_sizes_mobile = block.settings.media_sizes_mobile | default: media_sizes_mobile %}
      {% capture media_sizes %}
        (max-width: 740px) {{ media_sizes_mobile }}, {{ media_sizes_desktop }}
      {% endcapture %}
      {%- capture media_sizes -%}{%- render 'f_minify-style' with media_sizes -%}{%- endcapture -%}

      {%- case block.type -%}
        {%- when 'media' -%}
          {% render 'promotion-block' with block, class: 'promotion-block-list__item', size: section.settings.section_size, isCarouselItem: isCarouselItem, media_sizes: media_sizes %}

        {%- when 'basic_media' -%}
          {% render 'promotion-block' with block, class: 'promotion-block-list__item promotion-block-list__item--basic', size: section.settings.section_size, isCarouselItem: isCarouselItem, media_sizes: media_sizes, image_zoom_effect_disabled: true %}

        {%- when 'quote' -%}

          {% assign block_classes = block_classes | append: ' promotion-block--quote' %}
          {% if block.settings.highlight %}
            {% assign block_classes = block_classes | append: ' promotion-block--highlight' %}
          {% endif %}
          {% if section.blocks.size == 3 %}
            {% assign block_classes = block_classes | append: ' promotion-block--compact' %}
          {% endif %}
          {% if section.settings.section_size != blank %}
            {% assign block_classes = block_classes | append: ' promotion-block--' | append: section.settings.section_size %}
          {% endif %}

          <{{ block_html_tag }} id="{{ block_id }}" class="{{ block_classes }}" {{ block.shopify_attributes }} {% if isCarouselItem %}is="native-carousel-item"{% endif %}>
            <div class="promotion-block__content-wrapper text-container">
              <div class="promotion-block__content-inner">
                {%- if block.settings.subheading != blank -%}
                  <h4 class="heading heading--small">{{ block.settings.subheading | escape }}</h4>
                {%- endif -%}

                {%- if block.settings.content != blank -%}
                  <h5 class="heading {% if block.settings.highlight or section.blocks.size < 3 %}h4{% else %}h5{% endif %}">{{ block.settings.content | escape }}</h5>
                {%- endif -%}

                {%- if block.settings.author != blank -%}
                  <p>{{ block.settings.author | escape }}</p>
                {%- endif -%}
              </div>
            </div>
          </{{ block_html_tag }}>

        {%- when 'newsletter' -%}

          {% if block.settings.highlight %}
            {% assign block_classes = block_classes | append: ' promotion-block--highlight' %}
          {% endif %}
          {% if section.blocks.size == 3 %}
            {% assign block_classes = block_classes | append: ' promotion-block--compact' %}
          {% endif %}
          {% if section.settings.section_size != blank %}
            {% assign block_classes = block_classes | append: ' promotion-block--' | append: section.settings.section_size %}
          {% endif %}

          <{{ block_html_tag }} id="{{ block_id }}" class="{{ block_classes }}" {{ block.shopify_attributes }} {% if isCarouselItem %}is="native-carousel-item"{% endif %}>
            <div class="promotion-block__content-wrapper text-container" style="{% if block.settings.text_position contains 'center' %}text-align: center{% elsif block.settings.text_position contains 'right' %}text-align: end{% endif %}">
              <div class="promotion-block__content-inner">
                {%- if block.settings.title != blank -%}
                  <h4 class="heading h4">{{ block.settings.title | escape }}</h4>
                {%- endif -%}

                {%- if block.settings.content != blank -%}
                  {{- block.settings.content -}}
                {%- endif -%}

                {% render 'newsletter-form', source: 'promotion-block-newsletter' %}
              </div>
            </div>
          </{{ block_html_tag }}>

        {%- when 'featured_products' or 'basic_featured_products' -%}

          {%- assign shown_products = 0 -%}

          {%- capture product_items -%}
              {%- for i in (1..4) -%}
                {%- assign option_setting = 'product_' | append: i -%}

                {%- assign option_product_override_image = 'product_image_' | append: i -%}
                {%- assign option_product_full_content = 'product_full_content_' | append: i -%}
                {%- assign product = block.settings[option_setting] -%}
                {%- assign override_product_image = block.settings[option_product_override_image] -%}
                {%- assign show_reduced_content = true -%}
                {% assign product_img_sizes_attribute = '400px' %}

                {% if block.settings[option_product_full_content] == true %}
                  {%- assign show_reduced_content = false -%}
                {% endif %}

                {% unless override_product_image == blank %}
                  {% assign product_img_sizes_attribute = override_product_image.width | append: 'px' %}

                  {% comment %}
                    Transform override_media into array to handle cases
                    when we initialize override_media variable with an image/video object
                  {% endcomment %}

                  {% assign empty_array = '' | split: ',' %}
                  {% assign override_product_image = override_product_image | concat: empty_array %}
                {% endunless %}

                {%- if product != blank -%}
                  {% assign product_classes = '' %}
                  {%- assign option_product_image_ratio_desk = 'product_image_desk_ratio_' | append: i -%}
                  {%- assign option_product_image_ratio_mobile = 'product_image_mobile_ratio_' | append: i -%}

                  {% if block.settings[option_product_image_ratio_desk] != blank %}
                    {% assign product_classes = product_classes | append: ' product-image-custom-ratio-desk-' | append: i %}
                  {% endif %}
                  {% if block.settings[option_product_image_ratio_mobile] != blank %}
                    {% assign product_classes = product_classes | append: ' product-image-custom-ratio-mobile-' | append: i %}
                  {% endif %}

                  <native-carousel-item {% if shown_products > 0 %}hidden{% endif %} class="promotion-block__product-list-item">
                    {% liquid
                      assign enable_media_in_slider = false
                      if show_reduced_content and settings.enable_media_in_slider_reduced
                        assign enable_media_in_slider = true
                      elsif show_reduced_content != true and settings.enable_media_in_slider_sections
                        assign enable_media_in_slider = true
                      endif
                    %}
                    {%- render 'product-item',
                      product: product,
                      reduced_content: show_reduced_content,
                      sizes_attribute: product_img_sizes_attribute,
                      list:'block:promotion_block',
                      position: forloop.index,
                      override_media: override_product_image,
                      class: product_classes,
                      enable_media_in_slider: enable_media_in_slider
                    -%}
                    {%- assign shown_products = shown_products | plus: 1 -%}
                  </native-carousel-item>
                {%- endif -%}
              {%- endfor -%}
            {%- endcapture -%}

            {%- if shown_products == 0 -%}
              {%- comment -%}In production, jump to the next block if we have not shown anything{%- endcomment -%}
              {%- if request.design_mode != true -%}
                {%- continue -%}
              {%- endif -%}
              {%- comment -%}Display placeholder if we have not shown anything{%- endcomment -%}
              {%- capture product_items -%}
                {%- for i in (1..4) -%}
                  <native-carousel-item {% if shown_products > 0 %}hidden{% endif %} class="promotion-block__product-list-item">
                    {%- capture product_image -%}product-{% cycle '1', '2', '3', '4', '5' %}{%- endcapture -%}
                    {%- render 'product-item-placeholder', product_image: product_image, reduced_content: true -%}
                    {%- assign shown_products = shown_products | plus: 1 -%}
                  </native-carousel-item>
                {%- endfor -%}
              {%- endcapture -%}
          {%- endif -%}


          {% assign block_classes = block_classes | append: ' promotion-block--products' %}
          {% if block.settings.highlight %}
            {% assign block_classes = block_classes | append: ' promotion-block--highlight' %}
          {% endif %}
          {% if section.settings.section_size != blank %}
            {% assign block_classes = block_classes | append: ' promotion-block--' | append: section.settings.section_size %}
          {% endif %}
          {% if block.settings.afp_detached_block == true %}
            {% assign block_classes = block_classes | append: ' promotion-block--position-afp is-detached-block' %}
          {% endif %}
          {% if block.settings.afp_primary_block == true %}
            {% assign block_classes = block_classes | append: ' promotion-block--position-afp is-primary-block' %}
          {% endif %}
          {% if block.settings.full_width == true %}
            {% assign block_classes = block_classes | append: ' promotion-block--products-full-width' %}
          {% endif %}
          {% if block.settings.info_inside == true %}
            {% assign block_classes = block_classes | append: ' promotion-block--products-info-inside' %}
          {% endif %}

          <{{ block_html_tag }} id="{{ block_id }}" class="{{ block_classes }}" {{ block.shopify_attributes }} {% if isCarouselItem %}is="native-carousel-item"{% endif %}>
            {% assign products_desk_vars = '' %}
            {% assign products_mobile_vars = '' %}
            {%- for i in (1..4) -%}
              {%- assign option_product_image_ratio_desk = 'product_image_desk_ratio_' | append: i -%}
              {%- assign option_product_image_ratio_mobile = 'product_image_mobile_ratio_' | append: i -%}
              {% if block.settings[option_product_image_ratio_desk] != blank %}
                {% capture desk_variable %}
                  --promotion-block-product-image-ratio-desk-{{i}}: {{block.settings[option_product_image_ratio_desk]}};
                {% endcapture %}
                {% assign products_desk_vars = products_desk_vars | append: ' ' | append: desk_variable %}
              {% endif %}
              {% if block.settings[option_product_image_ratio_mobile] != blank %}
                {% capture mobile_variable %}
                  --promotion-block-product-image-ratio-mobile-{{i}}: {{block.settings[option_product_image_ratio_mobile]}};
                {% endcapture %}
                {% assign products_mobile_vars = products_mobile_vars | append: ' ' | append: mobile_variable %}
              {% endif %}
            {%- endfor -%}
            {% assign products_desk_vars = products_desk_vars | strip %}
            {% assign products_mobile_vars = products_mobile_vars | strip %}
            <style>
              #{{ block_id }} {
                --promotion-block-product-info-padding-left: {{ block.settings.info_side_padding | default: 0 }};
                --promotion-block-product-info-padding-right: {{ block.settings.info_side_padding | default: 0 }};
                --promotion-block-product-info-padding-bottom: {{ block.settings.info_bottom_padding | default: 0 }};
              }
              @media screen and (max-width: 740px) {
                #{{ block_id }} {
                  --promotion-block-product-info-padding-left: {{ block.settings.mob_info_side_padding | default: 0 }};
                  --promotion-block-product-info-padding-right: {{ block.settings.mob_info_side_padding | default: 0 }};
                  --promotion-block-product-info-padding-bottom: {{ block.settings.mob_info_bottom_padding | default: 0 }};
                  {{products_mobile_vars}}
                }
              }
              {% if products_desk_vars != blank %}
                @media screen and (min-width: 741px) {
                  #{{ block_id }} {
                    {{products_desk_vars}}
                  }
                }
              {% endif %}
            </style>
            {% render 'advanced-position-promotion-block-css-vars', id: block_id, block_settings: block.settings %}
            <div class="promotion-block__content-wrapper">
              <div class="promotion-block__content-inner">
                {%- if block.settings.subheading != blank -%}
                  <h4 class="heading heading--small">{{ block.settings.subheading | escape }}</h4>
                {%- endif -%}

                <native-carousel class="promotion-block__product-list-wrapper">
                  <div class="promotion-block__product-list hide-scrollbar">
                    {{- product_items -}}
                  </div>

                  {%- if shown_products > 1 -%}
                    <prev-next-buttons class="promotion-block__product-list-prev-next">
                      <button class="prev-next-button prev-next-button--small" disabled>
                        <span class="visually-hidden">{{ 'general.accessibility.previous' | t }}</span>
                        {%- include 'icon' with 'nav-arrow-left', width: 18, height: 10, direction_aware: true -%}
                      </button>

                      <button class="prev-next-button prev-next-button--small">
                        <span class="visually-hidden">{{ 'general.accessibility.next' | t }}</span>
                        {%- include 'icon' with 'nav-arrow-right', width: 18, height: 10, direction_aware: true -%}
                      </button>
                    </prev-next-buttons>
                  {%- endif -%}
                </native-carousel>
              </div>
            </div>
          </{{ block_html_tag }}>
        {%- when 'look' -%}
          {% capture block_class %}promotion-block-list__item promotion-block promotion-block--look{% if block.settings.highlight %} promotion-block--highlight{% endif %}{% endcapture %}
          {% render 'shop-the-look-item' with block, class: block_class %}
      {%- endcase -%}
    {%- endfor -%}
  </div>
{%- endcapture -%}

{%- capture content -%}
  {%- if section.settings.stack_on_mobile -%}
    {{- section_content -}}
  {%- else -%}
    <native-carousel class="promotion-block-carousel" scroller-selector=".scroller">
      <div class="scroller">
        <div class="scroller__inner">
          {{- section_content -}}
        </div>
      </div>
      {%- if section.blocks.size > 1 and section.settings.show_dots_nav -%}
        <page-dots class="promotion-block-carousel__dots-nav promotion-block-carousel__dots-nav--{{ section.settings.dots_nav_position }} dots-nav dots-nav--centered hidden-tablet-and-up">
          {%- for block in section.blocks -%}
            <button
              class="dots-nav__item tap-area"
              {% if forloop.first %}
                aria-current="true"
              {% endif %}
            >
              <span class="visually-hidden">{{ 'general.accessibility.go_to_slide' | t: num: forloop.index }}</span>
            </button>
          {%- endfor -%}
        </page-dots>
      {%- endif -%}
    </native-carousel>
  {%- endif -%}
{%- endcapture -%}

{%- capture before_content -%}
	{% render 'f_minify-style' with style %}
{%- endcapture -%}

{% render 'section-layout', content: content, before_content: before_content %}
