{% capture extra_section_style %}
  --vertical-breather: 40px; /* Inner spacing is smaller on this section */
{% endcapture %}

{% capture extra_style %}

  {%- if section.settings.item_alignment == "row"-%}

    #shopify-section-{{ section.id }} .text-with-icons__link {
    display: flex;
    justify-content: center;
    align-items: center;
    }


    #shopify-section-{{ section.id }} .text-with-icons__content-wrapper {
    text-align: left;
    margin-left: 10px;
    }

    #shopify-section-{{ section.id }} .text-with-icons__content-wrapper p {
    margin: 0;
    }

    #shopify-section-{{ section.id }} .text-with-icons__icon-wrapper {
    margin-bottom: 0;
    align-self: {{ section.settings.image_alignment }};
    }

    #shopify-section-{{ section.id }} .text-with-icons__item {
    display: flex;
    align-items: center;
    justify-content: center;
    }

    {%- if section.settings.item_alignment == "row" and section.settings.image_alignment == "flex-start" -%}
      #shopify-section-{{ section.id }} .text-with-icons__item {
      align-items: baseline;
      }
    {%- endif -%}

    @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} .text-with-icons__list {
    gap: 0;
    }
    }
  {%- endif -%}

  {%- if section.settings.stack_mobile == true-%}
    #shopify-section-{{ section.id }} .text-with-icons__list--stack {
    {% if section.settings.stack_mobile_columns == '1' %}
      --template-columns: 1fr;
    {% else %}
      --template-columns: 1fr 1fr;
    {% endif %}
    }

    @media screen and (max-width: 1000px) {
    #shopify-section-{{ section.id }} .text-with-icons__link {
    display: initial;
    }

    #shopify-section-{{ section.id }} .text-with-icons__content-wrapper {
    text-align: inherit;
    margin-left: 0;
    }

    #shopify-section-{{ section.id }} .text-with-icons__item {
    display: initial;
    }

    #shopify-section-{{ section.id }} .text-with-icons__icon-wrapper {
    margin-bottom: 16px;
    }

    #shopify-section-{{ section.id }} .text-with-icons__content-wrapper p {
    margin-top: 16px;
    }
    }

  {% endif %}

  {%- for block in section.blocks -%}
    #block-{{ section.id }}-{{ block.id }} .text-with-icons__icon-wrapper svg {
    height: {{ block.settings.icon_width }}px;
    width: {{ block.settings.icon_width }}px;
    }
  {%- endfor -%}
{% endcapture %}

{% capture content %}
  <native-carousel class="text-with-icons">
    <div class="text-with-icons__list {% if section.settings.stack_mobile %}text-with-icons__list--stack{% endif %} hide-scrollbar">
      {%- for block in section.blocks -%}
      <native-carousel-item
        {% unless forloop.first %}
          hidden
        {% endunless %}
        id="block-{{ section.id }}-{{ block.id }}"
        class="text-with-icons__item"
        {{ block.shopify_attributes }}
      >
        {% capture item_content %}
          <div class="text-with-icons__icon-wrapper">
            {%- if block.settings.custom_icon != blank -%}
              {% capture custom_icon_width %}{{ block.settings.custom_icon_width | times: 2 }}x{% endcapture %}
              <img
                class="text-with-icons__custom-icon"
                style="max-width: {{ block.settings.custom_icon_width }}px"
                width="{{ block.settings.custom_icon.width }}"
                height="{{ block.settings.custom_icon.height }}"
                src="{{ block.settings.custom_icon | img_url: custom_icon_width }}"
                alt="{{ block.settings.custom_icon.alt | escape }}"
              >
            {%- else -%}
              {%- render 'icon' with block.settings.icon -%}
            {%- endif -%}
          </div>

          {%- if block.settings.title != blank or block.settings.content != blank -%}
            <div class="text-with-icons__content-wrapper">
              {%- if block.settings.title != blank -%}
                <p class="heading heading--small">{{ block.settings.title }}</p>
              {%- endif -%}

              {%- if block.settings.content != blank -%}
                {{- block.settings.content -}}
              {%- endif -%}
            </div>
          {%- endif -%}
        {% endcapture %}

        {% assign is_toggle = block.settings.drawer_content_toggle %}

        {%- capture item_tag -%}
          {% if is_toggle == true -%}
            button
          {%- elsif block.settings.link != blank -%}
            a
          {%- else -%}
            div
          {%- endif %}
        {%- endcapture %}

        <{{ item_tag }}
        {% if block.settings.link != blank %}
          href="{{ block.settings.link }}"
        {% endif %}
        class="text-with-icons__link hidden-phone"
        is="toggle-button"
        aria-controls="product-{{ section.id }}-{{ block.id }}-trust-{{ block.id }}-drawer"
        aria-expanded="false"
        >
        {{ item_content }}
      </{{ item_tag }}>

      <{{ item_tag }}
      href="{{ block.settings.link }}"
      class="text-with-icons__link hidden-tablet-and-up"
      is="toggle-button"
      aria-controls="product-{{ section.id }}-{{ block.id }}-trust-{{ block.id }}-popover"
      aria-expanded="false"
      >
      {{ item_content }}
    </{{ item_tag }}>

    {%- comment -%}Drawer is for tablet and desktop{%- endcomment -%}
    <drawer-content
      id="product-{{ section.id }}-{{ block.id }}-trust-{{ block.id }}-drawer"
      class="drawer drawer--large hidden-phone"
    ><span class="drawer__overlay"></span>
      <header class="drawer__header">
        <p class="drawer__title heading h6">
          {%- render 'icon' with block.settings.icon -%}
          {{- block.settings.title | escape -}}
        </p>

        <button
          type="button"
          class="drawer__close-button tap-area"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="drawer__content drawer__content--padded-start">
        <div class="rte">
          {{ block.settings.drawer_content }}
        </div>
      </div>
    </drawer-content>

    {%- comment -%}Popover is for mobile{%- endcomment -%}
    <popover-content
      id="product-{{ section.id }}-{{ block.id }}-trust-{{ block.id }}-popover"
      class="popover hidden-tablet-and-up"
    >
      <span class="popover__overlay"></span>

      <header class="popover__header">
        <p class="popover__title heading h6">
          {%- render 'icon' with block.settings.icon -%}
          {{- block.settings.title | escape -}}
        </p>

        <button
          type="button"
          class="popover__close-button tap-area tap-area--large"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="popover__content">
        <div class="rte">
          {{- block.settings.drawer_content -}}
        </div>
      </div>
    </popover-content>
    </native-carousel-item>
    {%- endfor -%}
    </div>

    {% if section.settings.stack_mobile == false %}
      {%- if section.blocks.size > 1 -%}
        <page-dots class="text-with-icons__dots dots-nav dots-nav--centered hidden-lap-and-up">
          {%- for block in section.blocks -%}
            <button
              class="dots-nav__item tap-area"
              {% if forloop.first %}
                aria-current="true"
              {% endif %}
            >
              <span class="visually-hidden">{{ 'general.accessibility.go_to_slide' | t: num: forloop.index }}</span>
            </button>
          {%- endfor -%}
        </page-dots>
      {%- endif -%}
    {% endif %}
  </native-carousel>
{% endcapture %}

{% render 'section-layout', content: content, extra_section_style: extra_section_style, extra_style: extra_style %}
