{% comment %}extra css var for the section{% endcomment %}
{%- capture extra_section_style -%}
    .collection-description__inner {
        --extra-content-position: {{ section.settings.extra_content_position }}
    }
    .collection-description__spacer {
    --collection-description-spacer: {{ section.settings.collection_description_spacer }}px
    }
{%- endcapture -%}

{% comment %}extra style like media queries or other specific selectors{% endcomment %}
{%- capture extra_style -%}
{%- endcapture -%}

{% comment %}Content placed before the section{% endcomment %}
{%- capture before_content -%}
{%- endcapture -%}

{% comment %}Content of the section{% endcomment %}
{%- capture content -%}
    <div class="collection-description__container">
        <div class="collection-description__inner text--{{ section.settings.description_alignment }}">
            {% if collection.description %}
                <div class="collection-description__content">
                    {{ collection.description }}
                </div>
            {% endif %}
            {% if section.settings.extra_content != blank %}
                <div class="collection-description__spacer"></div>
                <div class="collection-description__extra-content">
                    {{ section.settings.extra_content }}
                </div>
            {% endif %}
        </div>
    </div>
{%- endcapture -%}

{% render 'section-layout',
  content: content,
  before_content: before_content,
  extra_section_style: extra_section_style,
  extra_style: extra_style
%}
