<section>
  <div class="customer-account-panel container">
    <div class="account-sidebar">
      {% render 'account-sidebar' %}
    </div>
    <div class="account account--addresses account--info-block">
      <div class="container">
        <div class="page-header page-header--small">
          <div class="page-header__text-wrapper text-container">
            <h1 class="heading h4">
              {{ 'customer.address.title' | t }}
            </h1>
          </div>
        </div>

        <div class="page-content">
          <div class="account__block-list">
            {%- for block in section.blocks -%}
              {% case block.type %}
                {%- when '@app' -%}
                  {%- render block -%}

                {%- when 'liquid' -%}
                  {{- block.settings.liquid -}}

                {% when 'informations' %}
                  <div class="account__block-item" {{ block.shopify_attributes }}>
                    <span class="account__address-title heading heading--small">
                      {{- 'customer.general.title' | t -}}
                    </span>
                    <div class="account__address-info">
                      {{- 'customer.addresses.first_name' | t -}}
                      : <strong>{{ customer.first_name -}}</strong>
                    </div>
                    <div class="account__address-info">
                      {{- 'customer.addresses.last_name' | t -}}
                      : <strong>{{ customer.last_name -}}</strong>
                    </div>
                    <div class="account__address-info">
                      {{- 'customer.register.email' | t -}}
                      : <strong>{{ customer.email -}}</strong>
                    </div>
                    {%- if customer.phone -%}
                      <div class="account__address-info">
                        {{- 'customer.addresses.phone' | t -}}
                        : <strong>{{ customer.phone -}}</strong>
                      </div>
                    {%- endif -%}

                    {% for tag in customer.tags %}
                      {% assign tagPair = tag | split: ':' %}
                      {% assign firstLetter = tagPair[0] | slice: 0 %}
                      {% unless firstLetter == '_' %}
                        <div class="account__address-info">
                          {{- tag | split: ':' | first | capitalize -}}
                          :<strong>
                            {{ tag | split: ':' | last | capitalize }}
                          </strong>
                        </div>
                      {% endunless %}
                    {% endfor %}

                    <div class="account__address-text">
                      <p>
                        Si vous souhaitez modifier une information liée à votre compte client, écrivez-nous :
                        <a
                          href="mailto:{{ shop.email }}"
                          target="_blank"
                          title="mailto:{{ shop.email }}"
                          aria-describedby="a11y-new-window-external-message"
                          rel="null noopener"
                        >
                          {{- shop.email -}}
                        </a>
                      </p>
                    </div>
                  </div>
                {% when 'reset_password' %}
                  <div class="account__block-item" {{ block.shopify_attributes }}>
                    <span class="account__address-title heading heading--small">
                      {{- 'customer.reset_password.title' | t -}}
                    </span>
                    <div class="account__address-text">
                      <p>
                        Vous souhaitez réinitialiser votre mot de passe ? Cliquez sur le bouton ci-après. Pour des
                        raisons de sécurité vous serez automatiquement déconnecté de votre compte client et redirigé
                        vers la page de réinitialisation de mot de passe.
                      </p>
                    </div>
                    <a href="{{ routes.account_login_url }}#recover" class=" button button--primary">
                      {{- 'customer.recover_password.submit' | t -}}
                    </a>
                  </div>
                {% when 'addresses' %}
                  <div class="account__block-item" {{ block.shopify_attributes }}>
                    {%- if customer.addresses_count == 0 -%}
                      <p class="text--subdued">{{ 'customer.addresses.no_address' | t }}</p>
                    {%- endif -%}
                    {%- paginate customer.addresses by 8 -%}
                      <div class="account__addresses-list">
                        {% if block.settings.default_address_first and paginate.current_page == 1 %}
                          {% render 'customer-address', address: customer.default_address %}
                        {% endif %}

                        {%- assign address_index = paginate.current_offset | plus: 1 -%}
                        {% if block.settings.default_address_first %}
                          {%- assign address_index = address_index | plus: 1 -%}
                        {% endif %}

                        {%- for address in customer.addresses -%}
                          {% if block.settings.default_address_first and address.id == customer.default_address.id %}
                            {% continue %}
                          {% endif %}

                          {% render 'customer-address',
                            address: address,
                            address_index: address_index,
                            paginate: paginate
                          %}
                          {% assign address_index = address_index | plus: 1 %}
                        {%- endfor -%}
                        <button
                          is="toggle-button"
                          class="button button--primary"
                          aria-controls="drawer-new-address"
                          aria-expanded="false"
                        >
                          {{- 'customer.addresses.add_new' | t -}}
                        </button>
                      </div>

                      {%- render 'pagination', paginate: paginate -%}
                    {%- endpaginate -%}
                  </div>
              {% endcase %}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>

    {%- comment -%}We render all the offscreen elements used to create and edit the addresses{%- endcomment -%}

    <drawer-content
      id="drawer-new-address"
      class="drawer drawer--large"
      initial-focus-selector="[type='text']:first-child"
    >
      <span class="drawer__overlay"></span>

      <header class="drawer__header">
        <h3 class="drawer__title heading h6">{{ 'customer.addresses.add_new' | t }}</h3>

        <button
          type="button"
          class="drawer__close-button tap-area"
          data-action="close"
          title="{{ 'general.accessibility.close' | t | escape }}"
        >
          {%- render 'icon' with 'close' -%}
        </button>
      </header>

      <div class="drawer__content drawer__content--padded-start">
        {%- form 'customer_address', customer.new_address, class: 'form' -%}
          {%- if form.errors -%}
            <script type="text/javascript">
              document.addEventListener('DOMContentLoaded', () => {
                document.getElementById('drawer-new-address').open = true;
              });
            </script>

            <div class="form__banner banner banner--error">
              <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>
              <div class="banner__content">
                {{- form.errors | default_errors -}}
              </div>
            </div>
          {%- else -%}
            <p class="form__info">{{ 'customer.addresses.fill_address' | t }}</p>
          {%- endif -%}

          {%- if request.locale.iso_code == 'ja' -%}
            <div class="input-row">
              <div class="input">
                <input
                  id="address-new[last_name]"
                  type="text"
                  class="input__field input__field--text {% if form.last_name != blank %}is-filled{% endif %}"
                  name="address[last_name]"
                  value="{{ form.last_name }}"
                >
                <label for="address-new[last_name]" class="input__label">
                  {{- 'customer.addresses.last_name' | t -}}
                </label>
              </div>

              <div class="input">
                <input
                  id="address-new[first_name]"
                  type="text"
                  class="input__field input__field--text {% if form.first_name != blank %}is-filled{% endif %}"
                  name="address[first_name]"
                  value="{{ form.first_name }}"
                >
                <label for="address-new[first_name]" class="input__label">
                  {{- 'customer.addresses.first_name' | t -}}
                </label>
              </div>
            </div>

            <div class="input">
              <input
                id="address-new[zip]"
                type="text"
                class="input__field input__field--text {% if form.zip != blank %}is-filled{% endif %}"
                name="address[zip]"
                value="{{ form.zip }}"
              >
              <label for="address-new[zip]" class="input__label">{{ 'customer.addresses.zip' | t }}</label>
            </div>

            <div class="input">
              <div class="select-wrapper is-filled">
                <select
                  is="country-selector"
                  class="select"
                  name="address[country]"
                  id="address-new[country]"
                  aria-owns="address-new-province-container"
                >
                  {{ all_country_option_tags }}
                </select>
                {%- render 'icon', icon: 'chevron' -%}
              </div>

              <label for="address-new[country]" class="input__label">{{ 'customer.addresses.country' | t }}</label>
            </div>

            <div id="address-new-province-container" class="input" hidden>
              <div class="select-wrapper is-filled">
                <select class="select" name="address[province]" id="address-new[province]"></select>
                {%- render 'icon', icon: 'chevron' -%}
              </div>

              <label for="address-new[province]" class="input__label">{{ 'customer.addresses.province' | t }}</label>
            </div>

            <div class="input">
              <input
                id="address-new[city]"
                type="text"
                class="input__field input__field--text {% if form.city != blank %}is-filled{% endif %}"
                name="address[city]"
                value="{{ form.city }}"
              >
              <label for="address-new[city]" class="input__label">{{ 'customer.addresses.city' | t }}</label>
            </div>

            <div class="input">
              <input
                id="address-new[address1]"
                type="text"
                class="input__field input__field--text {% if form.address1 != blank %}is-filled{% endif %}"
                name="address[address1]"
                value="{{ form.address1 }}"
              >
              <label for="address-new[address1]" class="input__label">{{ 'customer.addresses.address1' | t }}</label>
            </div>

            <div class="input">
              <input
                id="address-new[address2]"
                type="text"
                class="input__field input__field--text {% if form.address2 != blank %}is-filled{% endif %}"
                name="address[address2]"
                value="{{ form.address2 }}"
              >
              <label for="address-new[address2]" class="input__label">{{ 'customer.addresses.address2' | t }}</label>
            </div>

            <div class="input">
              <input
                id="address-new[company]"
                type="text"
                class="input__field input__field--text {% if form.company != blank %}is-filled{% endif %}"
                name="address[company]"
                value="{{ form.company }}"
              >
              <label for="address-new[company]" class="input__label">{{ 'customer.addresses.company' | t }}</label>
            </div>

            <div class="input">
              <input
                id="address-new[phone]"
                type="text"
                class="input__field input__field--text {% if form.phone != blank %}is-filled{% endif %}"
                name="address[phone]"
                value="{{ form.phone }}"
              >
              <label for="address-new[phone]" class="input__label">{{ 'customer.addresses.phone' | t }}</label>
            </div>
          {%- else -%}
            <div class="input-row">
              <div class="input">
                <input
                  id="address-new[first_name]"
                  type="text"
                  class="input__field input__field--text {% if form.first_name != blank %}is-filled{% endif %}"
                  name="address[first_name]"
                  value="{{ form.first_name }}"
                >
                <label for="address-new[first_name]" class="input__label">
                  {{- 'customer.addresses.first_name' | t -}}
                </label>
              </div>

              <div class="input">
                <input
                  id="address-new[last_name]"
                  type="text"
                  class="input__field input__field--text {% if form.last_name != blank %}is-filled{% endif %}"
                  name="address[last_name]"
                  value="{{ form.last_name }}"
                >
                <label for="address-new[last_name]" class="input__label">
                  {{- 'customer.addresses.last_name' | t -}}
                </label>
              </div>
            </div>

            <div class="input">
              <input
                id="address-new[company]"
                type="text"
                class="input__field input__field--text {% if form.company != blank %}is-filled{% endif %}"
                name="address[company]"
                value="{{ form.company }}"
              >
              <label for="address-new[company]" class="input__label">{{ 'customer.addresses.company' | t }}</label>
            </div>

            <div class="input">
              <input
                id="address-new[phone]"
                type="text"
                class="input__field input__field--text {% if form.phone != blank %}is-filled{% endif %}"
                name="address[phone]"
                value="{{ form.phone }}"
              >
              <label for="address-new[phone]" class="input__label">{{ 'customer.addresses.phone' | t }}</label>
            </div>

            <div class="input">
              <input
                id="address-new[address1]"
                type="text"
                class="input__field input__field--text {% if form.address1 != blank %}is-filled{% endif %}"
                name="address[address1]"
                value="{{ form.address1 }}"
              >
              <label for="address-new[address1]" class="input__label">{{ 'customer.addresses.address1' | t }}</label>
            </div>

            <div class="input">
              <input
                id="address-new[address2]"
                type="text"
                class="input__field input__field--text {% if form.address2 != blank %}is-filled{% endif %}"
                name="address[address2]"
                value="{{ form.address2 }}"
              >
              <label for="address-new[address2]" class="input__label">{{ 'customer.addresses.address2' | t }}</label>
            </div>

            <div class="input-row">
              <div class="input">
                <input
                  id="address-new[city]"
                  type="text"
                  class="input__field input__field--text {% if form.city != blank %}is-filled{% endif %}"
                  name="address[city]"
                  value="{{ form.city }}"
                >
                <label for="address-new[city]" class="input__label">{{ 'customer.addresses.city' | t }}</label>
              </div>

              <div class="input">
                <input
                  id="address-new[zip]"
                  type="text"
                  class="input__field input__field--text {% if form.zip != blank %}is-filled{% endif %}"
                  name="address[zip]"
                  value="{{ form.zip }}"
                >
                <label for="address-new[zip]" class="input__label">{{ 'customer.addresses.zip' | t }}</label>
              </div>
            </div>

            <div class="input">
              <div class="select-wrapper is-filled">
                <select
                  is="country-selector"
                  class="select"
                  name="address[country]"
                  id="address-new[country]"
                  aria-owns="address-new-province-container"
                >
                  {{ all_country_option_tags }}
                </select>
                {%- render 'icon' with 'chevron' -%}
              </div>

              <label for="address-new[country]" class="input__label">{{ 'customer.addresses.country' | t }}</label>
            </div>

            <div id="address-new-province-container" class="input" hidden>
              <div class="select-wrapper is-filled">
                <select class="select" name="address[province]" id="address-new[province]"></select>
                {%- render 'icon' with 'chevron' -%}
              </div>

              <label for="address-new[province]" class="input__label">{{ 'customer.addresses.province' | t }}</label>
            </div>
          {%- endif -%}

          <div class="input input--checkbox">
            <div class="checkbox-container">
              <input type="checkbox" class="checkbox" name="address[default]" id="address-new[default]" value="0">
              <label for="address-new[default]" class="text--subdued">{{ 'customer.addresses.set_default' | t }}</label>
            </div>
          </div>

          <button type="submit" is="loader-button" class="form__submit button button--primary button--full">
            {{ 'customer.addresses.add_new' | t }}
          </button>
        {%- endform -%}
      </div>
    </drawer-content>

    {%- paginate customer.addresses by 8 -%}
      {%- for address in customer.addresses -%}
        <drawer-content id="drawer-address-{{ address.id }}" class="drawer drawer--large">
          <span class="drawer__overlay"></span>

          <header class="drawer__header">
            <h3 class="drawer__title heading h6">{{ 'customer.addresses.edit' | t }}</h3>

            <button
              type="button"
              class="drawer__close-button tap-area"
              data-action="close"
              title="{{ 'general.accessibility.close' | t | escape }}"
            >
              {%- render 'icon' with 'close' -%}
            </button>
          </header>

          <div class="drawer__content drawer__content--padded-start">
            {% form 'customer_address', address, class: 'form' %}
              <p class="form__info">{{ 'customer.addresses.fill_address' | t }}</p>

              {%- if request.locale.iso_code == 'ja' -%}
                <div class="input-row">
                  <div class="input">
                    <input
                      id="address-{{ address.id }}[last_name]"
                      type="text"
                      class="input__field input__field--text {% if form.last_name != blank %}is-filled{% endif %}"
                      name="address[last_name]"
                      value="{{ form.last_name }}"
                    >
                    <label for="address-{{ address.id }}[last_name]" class="input__label">
                      {{- 'customer.addresses.last_name' | t -}}
                    </label>
                  </div>

                  <div class="input">
                    <input
                      id="address-{{ address.id }}[first_name]"
                      type="text"
                      class="input__field input__field--text {% if form.first_name != blank %}is-filled{% endif %}"
                      name="address[first_name]"
                      value="{{ form.first_name }}"
                    >
                    <label for="address-{{ address.id }}[first_name]" class="input__label">
                      {{- 'customer.addresses.first_name' | t -}}
                    </label>
                  </div>
                </div>

                <div class="input">
                  <input
                    id="address-{{ address.id }}[zip]"
                    type="text"
                    class="input__field input__field--text {% if form.zip != blank %}is-filled{% endif %}"
                    name="address[zip]"
                    value="{{ form.zip }}"
                  >
                  <label for="address-{{ address.id }}[zip]" class="input__label">
                    {{- 'customer.addresses.zip' | t -}}
                  </label>
                </div>

                <div class="input">
                  <div class="select-wrapper is-filled">
                    <select
                      is="country-selector"
                      class="select"
                      name="address[country]"
                      id="address-{{ address.id }}[country]"
                      data-default="{{ form.country }}"
                      aria-owns="address-{{ address.id }}-province-container"
                    >
                      {{ all_country_option_tags }}
                    </select>
                    {%- render 'icon', icon: 'chevron' -%}
                  </div>

                  <label for="address-{{ address.id }}[country]" class="input__label">
                    {{- 'customer.addresses.country' | t -}}
                  </label>
                </div>

                <div id="address-{{ address.id }}-province-container" class="input" hidden>
                  <div class="select-wrapper is-filled">
                    <select
                      class="select"
                      name="address[province]"
                      id="address-{{ address.id }}[province]"
                      data-default="{{ form.province }}"
                    ></select>
                    {%- render 'icon', icon: 'chevron' -%}
                  </div>

                  <label for="address-{{ address.id }}[province]" class="input__label">
                    {{- 'customer.addresses.province' | t -}}
                  </label>
                </div>

                <div class="input">
                  <input
                    id="address-{{ address.id }}[city]"
                    type="text"
                    class="input__field input__field--text {% if form.city != blank %}is-filled{% endif %}"
                    name="address[city]"
                    value="{{ form.city }}"
                  >
                  <label for="address-{{ address.id }}[city]" class="input__label">
                    {{- 'customer.addresses.city' | t -}}
                  </label>
                </div>

                <div class="input">
                  <input
                    id="address-{{ address.id }}[address1]"
                    type="text"
                    class="input__field input__field--text {% if form.address1 != blank %}is-filled{% endif %}"
                    name="address[address1]"
                    value="{{ form.address1 }}"
                  >
                  <label for="address-{{ address.id }}[address1]" class="input__label">
                    {{- 'customer.addresses.address1' | t -}}
                  </label>
                </div>

                <div class="input">
                  <input
                    id="address-{{ address.id }}[address2]"
                    type="text"
                    class="input__field input__field--text {% if form.address2 != blank %}is-filled{% endif %}"
                    name="address[address2]"
                    value="{{ form.address2 }}"
                  >
                  <label for="address-{{ address.id }}[address2]" class="input__label">
                    {{- 'customer.addresses.address2' | t -}}
                  </label>
                </div>

                <div class="input">
                  <input
                    id="address-{{ address.id }}[company]"
                    type="text"
                    class="input__field input__field--text {% if form.company != blank %}is-filled{% endif %}"
                    name="address[company]"
                    value="{{ form.company }}"
                  >
                  <label for="address-{{ address.id }}[company]" class="input__label">
                    {{- 'customer.addresses.company' | t -}}
                  </label>
                </div>

                <div class="input">
                  <input
                    id="address-{{ address.id }}[phone]"
                    type="text"
                    class="input__field input__field--text {% if form.phone != blank %}is-filled{% endif %}"
                    name="address[phone]"
                    value="{{ form.phone }}"
                  >
                  <label for="address-{{ address.id }}[phone]" class="input__label">
                    {{- 'customer.addresses.phone' | t -}}
                  </label>
                </div>
              {%- else -%}
                <div class="input-row">
                  <div class="input">
                    <input
                      id="address-{{ address.id }}[first_name]"
                      type="text"
                      class="input__field input__field--text {% if form.first_name != blank %}is-filled{% endif %}"
                      name="address[first_name]"
                      value="{{ form.first_name }}"
                    >
                    <label for="address-{{ address.id }}[first_name]" class="input__label">
                      {{- 'customer.addresses.first_name' | t -}}
                    </label>
                  </div>

                  <div class="input">
                    <input
                      id="address-{{ address.id }}[last_name]"
                      type="text"
                      class="input__field input__field--text {% if form.last_name != blank %}is-filled{% endif %}"
                      name="address[last_name]"
                      value="{{ form.last_name }}"
                    >
                    <label for="address-{{ address.id }}[last_name]" class="input__label">
                      {{- 'customer.addresses.last_name' | t -}}
                    </label>
                  </div>
                </div>

                <div class="input">
                  <input
                    id="address-{{ address.id }}[company]"
                    type="text"
                    class="input__field input__field--text {% if form.company != blank %}is-filled{% endif %}"
                    name="address[company]"
                    value="{{ form.company }}"
                  >
                  <label for="address-{{ address.id }}[company]" class="input__label">
                    {{- 'customer.addresses.company' | t -}}
                  </label>
                </div>

                <div class="input">
                  <input
                    id="address-{{ address.id }}[phone]"
                    type="text"
                    class="input__field input__field--text {% if form.phone != blank %}is-filled{% endif %}"
                    name="address[phone]"
                    value="{{ form.phone }}"
                  >
                  <label for="address-{{ address.id }}[phone]" class="input__label">
                    {{- 'customer.addresses.phone' | t -}}
                  </label>
                </div>

                <div class="input">
                  <input
                    id="address-{{ address.id }}[address1]"
                    type="text"
                    class="input__field input__field--text {% if form.address1 != blank %}is-filled{% endif %}"
                    name="address[address1]"
                    value="{{ form.address1 }}"
                  >
                  <label for="address-{{ address.id }}[address1]" class="input__label">
                    {{- 'customer.addresses.address1' | t -}}
                  </label>
                </div>

                <div class="input">
                  <input
                    id="address-{{ address.id }}[address2]"
                    type="text"
                    class="input__field input__field--text {% if form.address2 != blank %}is-filled{% endif %}"
                    name="address[address2]"
                    value="{{ form.address2 }}"
                  >
                  <label for="address-{{ address.id }}[address2]" class="input__label">
                    {{- 'customer.addresses.address2' | t -}}
                  </label>
                </div>

                <div class="input-row">
                  <div class="input">
                    <input
                      id="address-{{ address.id }}[city]"
                      type="text"
                      class="input__field input__field--text {% if form.city != blank %}is-filled{% endif %}"
                      name="address[city]"
                      value="{{ form.city }}"
                    >
                    <label for="address-{{ address.id }}[city]" class="input__label">
                      {{- 'customer.addresses.city' | t -}}
                    </label>
                  </div>

                  <div class="input">
                    <input
                      id="address-{{ address.id }}[zip]"
                      type="text"
                      class="input__field input__field--text {% if form.zip != blank %}is-filled{% endif %}"
                      name="address[zip]"
                      value="{{ form.zip }}"
                    >
                    <label for="address-{{ address.id }}[zip]" class="input__label">
                      {{- 'customer.addresses.zip' | t -}}
                    </label>
                  </div>
                </div>

                <div class="input">
                  <div class="select-wrapper is-filled">
                    <select
                      is="country-selector"
                      class="select"
                      name="address[country]"
                      id="address-{{ address.id }}[country]"
                      data-default="{{ form.country }}"
                      aria-owns="address-{{ address.id }}-province-container"
                    >
                      {{ all_country_option_tags }}
                    </select>
                    {%- render 'icon', icon: 'chevron' -%}
                  </div>

                  <label for="address-{{ address.id }}[country]" class="input__label">
                    {{- 'customer.addresses.country' | t -}}
                  </label>
                </div>

                <div id="address-{{ address.id }}-province-container" class="input" hidden>
                  <div class="select-wrapper is-filled">
                    <select
                      class="select"
                      name="address[province]"
                      id="address-{{ address.id }}[province]"
                      data-default="{{ form.province }}"
                    ></select>
                    {%- render 'icon', icon: 'chevron' -%}
                  </div>

                  <label for="address-{{ address.id }}[province]" class="input__label">
                    {{- 'customer.addresses.province' | t -}}
                  </label>
                </div>
              {%- endif -%}

              <div class="input input--checkbox">
                <div class="checkbox-container">
                  <input
                    type="checkbox"
                    class="checkbox"
                    id="address-{{ address.id }}[default]"
                    name="address[default]"
                    {% if address.id == customer.default_address.id %}
                      value="1" checked
                    {% endif %}
                  >
                  <label for="address-{{ address.id }}[default]" class="text--subdued">
                    {{- 'customer.addresses.set_default' | t -}}
                  </label>
                </div>
              </div>

              <button type="submit" is="loader-button" class="form__submit button button--primary button--full">
                {{ 'customer.addresses.save' | t }}
              </button>
            {% endform %}
          </div>
        </drawer-content>
      {%- endfor -%}
    {%- endpaginate -%}
  </div>
</section>

{% schema %}
{
  "name": "Customer addresses",
  "class": "shopify-section--main-customers-addresses",
  "settings": [
    {
      "type": "header",
      "content": "Customer addresses"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "liquid",
      "name": "Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "addresses",
      "name": "Address list",
      "settings": [
        {
          "type": "checkbox",
          "id": "default_address_first",
          "label": "Show default address first",
          "default": true
        }
      ],
      "limit": 1
    },
    {
      "type": "informations",
      "name": "Informations",
      "limit": 1
    },
    {
      "type": "reset_password",
      "name": "Reset password",
      "limit": 1
    }
  ]
}
{% endschema %}
