<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.text_background == 'rgba(0,0,0,0)' -%}
      {%- assign section_block_background = settings.background -%}
    {%- else -%}
      {%- assign section_block_background = section.settings.text_background -%}
    {%- endif -%}

    {% if section.settings.use_transparent_text_background == true %}
      {%- assign section_block_background = 'rgba(0,0,0,0)' -%}
    {% endif %}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.text_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    {%- if section.settings.button_background == 'rgba(0,0,0,0)' -%}
      {%- assign button_background = settings.primary_button_background -%}
    {%- else -%}
      {%- assign button_background = section.settings.button_background -%}
    {%- endif -%}

    {%- if section.settings.button_text_color == 'rgba(0,0,0,0)' -%}
      {%- assign button_text_color = settings.primary_button_text_color -%}
    {%- else -%}
      {%- assign button_text_color = section.settings.button_text_color -%}
    {%- endif -%}

    --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --primary-button-background: {{ button_background.red }}, {{ button_background.green }}, {{ button_background.blue }};
    --primary-button-text-color: {{ button_text_color.red }}, {{ button_text_color.green }}, {{ button_text_color.blue }};
    --section-block-background: {{ section_block_background.red }}, {{ section_block_background.green }}, {{ section_block_background.blue }};
  }
</style>

<section class="{{ section.settings.block_space }}">
  <image-with-text-block
    {% if section.settings.reveal_on_scroll %}
      reveal-on-scroll
    {% endif %}
    class="image-with-text-block image-with-text-block--small image-with-text-block--cover"
  >
    <div class="image-with-text-block__image-wrapper">
      {%- if section.settings.image != blank -%}
        {%- if section.settings.reveal_on_scroll -%}
          {{-
            section.settings.image
            | image_url: width: section.settings.image.width
            | image_tag:
              reveal: true,
              loading: 'lazy',
              widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000',
              class: 'image-with-text-block__image'
          -}}
        {%- else -%}
          {{-
            section.settings.image
            | image_url: width: section.settings.image.width
            | image_tag:
              loading: 'lazy',
              widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000',
              class: 'image-with-text-block__image'
          -}}
        {%- endif -%}
      {%- else -%}
        {%- capture image_classes -%}image-with-text-block__image image-with-text-block__image--placeholder placeholder-background{%- endcapture -%}

        {%- if section.settings.reveal_on_scroll -%}
          {{- 'lifestyle-1' | placeholder_svg_tag: image_classes | replace: '<svg', '<svg reveal' -}}
        {%- else -%}
          {{- 'lifestyle-1' | placeholder_svg_tag: image_classes -}}
        {%- endif -%}
      {%- endif -%}
    </div>

    <div class="container container--flush">
      {%- assign text_position = section.settings.text_position | split: '_' | last -%}

      <div
        {% if section.settings.reveal_on_scroll %}
          reveal
        {% endif %}
        class="image-with-text-block__content image-with-text-block__content--tight content-box content-box--small content-box--text-{{ section.settings.text_alignment}} content-box--{{ text_position }} text-container"
      >
        {%- if section.settings.subheading != blank -%}
          <{{ section.settings.subheading_tag }} class="heading heading--small {{ section.settings.subheading_size }}">
            {{- section.settings.subheading | escape -}}
          </{{ section.settings.subheading_tag }}>
        {%- endif -%}

        {%- if section.settings.content != blank -%}
          {{- section.settings.content -}}
        {%- endif -%}

        {% render 'newsletter-form', source: 'section-newsletter' %}
      </div>
    </div>
  </image-with-text-block>
</section>
