<cookie-bar section="{{ section.id }}" hidden class="cookie-bar text--xsmall">
  {%- if section.settings.cookie_bar_title != blank -%}
    <p class="heading heading--xsmall">{{ section.settings.cookie_bar_title }}</p>
  {%- endif -%}

  {%- if section.settings.cookie_bar_content != blank -%}
    {{- section.settings.cookie_bar_content -}}
  {%- endif -%}

  <div class="cookie-bar__actions">
    <button class="button button--text button--primary button--small text--xsmall" data-action="accept-policy">
      {{ 'footer.cookie_bar.accept' | t }}
    </button>
    <button class="button button--text button--ternary button--small text--xsmall" data-action="decline-policy">
      {{ 'footer.cookie_bar.decline' | t }}
    </button>
  </div>
</cookie-bar>
