{% comment %}extra css var for the section{% endcomment %}
{%- capture extra_section_style -%}
  {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
    {%- assign section_background = settings.background -%}
  {%- else -%}
    {%- assign section_background = section.settings.background -%}
  {%- endif -%}

  {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
    {%- assign heading_color = settings.heading_color -%}
    {%- assign text_color = settings.text_color -%}
  {%- else -%}
    {%- assign heading_color = section.settings.text_color -%}
    {%- assign text_color = section.settings.text_color -%}
  {%- endif -%}

  --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
  --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
  --prev-next-button-background: {{ settings.background.red }}, {{ settings.background.green }}, {{ settings.background.blue }};
  --prev-next-button-color: {{ settings.text_color.red }}, {{ settings.text_color.green }}, {{ settings.text_color.blue }};

  --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
  --section-products-per-row: 2;
{%- endcapture -%}

{% comment %}extra style like media queries or other specific selectors{% endcomment %}
{%- capture extra_style -%}
  @media screen and (min-width: 741px) {
  #shopify-section-{{ section.id }} {
  --section-products-per-row: 3;
    }
  }

  @media screen and (min-width: 1200px) {
  #shopify-section-{{ section.id }} {
  --section-products-per-row: 4;
   }
  }
{%- endcapture -%}

{%- capture content -%}
    <div class="product-recommendations__inner">
      {%- if recommendations.performed and recommendations.products.size > 0 -%}
          <product-list
                  {% if settings.stagger_products_apparition %}
                    stagger-apparition
                  {% endif %}
                  class="product-list product-list--center"
          >
            {%- assign smallest_image_aspect_ratio = 0 -%}

            <div class="scroller">
              <div class="product-list__inner product-list__inner--scroller hide-scrollbar">
                {%- for product in recommendations.products -%}
                  {% if product.type == 'static' %}
                    {% continue %}
                  {% endif %}
                  {%- assign smallest_image_aspect_ratio = smallest_image_aspect_ratio
                          | at_least: product.featured_media.aspect_ratio
                  -%}

                  {%- capture sizes_attribute -%}(max-width: 740px) 75vw, min({{ 100.0 | divided_by: 4 | ceil }}vw, {{ 1520.0 | divided_by: 4 | ceil }}px){%- endcapture -%}
                  {%- render 'product-item',
                          product: product,
                          sizes_attribute: sizes_attribute,
                          reveal: settings.stagger_products_apparition,
                          list: 'product:recommendations',
                          position: forloop.index,
                          enable_media_in_slider: settings.enable_media_in_slider_sections,
                          packshot_first_image: section.settings.enable_packshot_product_recommendations
                  -%}
                {%- endfor -%}
              </div>
            </div>

            {%- if recommendations.products_count > 4 -%}
              <prev-next-buttons
                      class="product-list__prev-next hidden-pocket"
                      style="--smallest-image-aspect-ratio: {{ smallest_image_aspect_ratio }}"
              >
                <button class="product-list__arrow prev-next-button prev-next-button--prev" disabled data-action="prev">
                  <span class="visually-hidden">{{ 'general.accessibility.previous' | t }}</span>
                  {%- include 'icon' with 'nav-arrow-left', block: true, direction_aware: true -%}
                </button>

                <button class="product-list__arrow prev-next-button prev-next-button--next" data-action="next">
                  <span class="visually-hidden">{{ 'general.accessibility.next' | t }}</span>
                  {%- include 'icon' with 'nav-arrow-right', block: true, direction_aware: true -%}
                </button>
              </prev-next-buttons>
            {%- endif -%}
          </product-list>
      {%- endif -%}
    </div>
{%- endcapture -%}

<product-recommendations
  section-id="{{ section.id }}"
  intent="{{ section.settings.recommendation_type }}"
  product-id="{{ product.id }}"
  recommendations-count="{{ section.settings.recommendations_count }}"
  hidden
>
  {% render 'section-layout', content: content, extra_section_style: extra_section_style, extra_style: extra_style %}
</product-recommendations>
