{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
    CSS
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}
    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
  }

  #shopify-section-{{ section.id }} {
    --spacer-height: {{ section.settings.mobile_height }}px;
  }

  @media screen and (min-width: 741px) {
    #shopify-section-{{ section.id }} {
      --spacer-height: {{ section.settings.desktop_height }}px;
    }
  }
</style>

<section class="oz-section">
  <div class="oz-section__wrapper section__color-wrapper spacer"></div>
</section>
