{%- if section.settings.background != settings.background and section.settings.background != 'rgba(0,0,0,0)' -%}
  {%- assign blends_with_background = false -%}
{%- else -%}
  {%- assign blends_with_background = true -%}
{%- endif -%}

{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
    CSS
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.text_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    {%- if section.settings.background_type == 'boxed' -%}
      {%- assign play_button_background = section_background -%}
      {%- assign play_button_arrow = text_color -%}
    {%- else -%}
      {%- assign play_button_background = text_color -%}
      {%- assign play_button_arrow = settings.heading_color -%}
    {%- endif -%}

  {%- liquid
    if section.settings.button_background == 'rgba(0,0,0,0)' or section.settings.button_background == blank
      assign button_background = settings.primary_button_background
      assign secondary_button_background = settings.secondary_button_background
    else
      assign button_background = section.settings.button_background
      assign secondary_button_background = section.settings.button_background
    endif

    if section.settings.button_text_color == 'rgba(0,0,0,0)' or section.settings.button_text_color == blank
      assign button_text_color = settings.primary_button_text_color
      assign secondary_button_text_color = settings.secondary_button_text_color
    else
      assign button_text_color = section.settings.button_text_color
      assign secondary_button_text_color = section.settings.button_text_color
    endif
  %}

    --heading-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --play-button-background: {{ play_button_background.red }}, {{ play_button_background.green }}, {{ play_button_background.blue }};
    --play-button-arrow: {{ play_button_arrow.red }}, {{ play_button_arrow.green }}, {{ play_button_arrow.blue }};

    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
    {%- if section.settings.background_gradiant != blank -%}
      --section-background-gradiant: {{ section.settings.background_gradiant }};
    {% endif %}

    --heading-shadow-color: {{ section.settings.text_shadow_color.red }}, {{ section.settings.text_shadow_color.green }}, {{ section.settings.text_shadow_color.blue }};
    --heading-shadow-color-opacity: {{ section.settings.text_shadow_color_opacity | divided_by: 100.0 }};

   --primary-button-background: {{ button_background.red }}, {{ button_background.green }}, {{ button_background.blue }};
   --primary-button-text-color: {{ button_text_color.red }}, {{ button_text_color.green }}, {{ button_text_color.blue }};

   --secondary-button-background: {{ secondary_button_background.red }}, {{ secondary_button_background.green }}, {{ secondary_button_background.blue }};
   --secondary-button-text-color: {{ secondary_button_text_color.red }}, {{ secondary_button_text_color.green }}, {{ secondary_button_text_color.blue }};
  }
</style>

{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
    JavaScript: This section composes the "external-video" element, but does not have dedicated custom element
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

{% capture section_class %}
  oz-section
  {{ section.settings.block_space }}
  {% if section.settings.extra_css_class != blank %}
    {{ section.settings.extra_css_class | strip }}
  {% endif %}
{% endcapture %}

<section class="{% render 'f_format_css_class' with section_class %}">
  {%- capture section_header -%}
    {%- capture bouton_header -%}
      {%- if section.settings.button_text != blank -%}
        {%- if section.settings.button_style == 'link' -%}
          <a href="{{ section.settings.button_link }}"
             class="multi-column__link heading heading--small link">{{ section.settings.button_text | escape }}</a>
        {%- else -%}
          <div class="button-wrapper">
            <a href="{{ section.settings.button_link }}"
               class="button button--{{ section.settings.button_style }}">{{ section.settings.button_text | escape }}</a>
          </div>
        {%- endif -%}
      {%- endif -%}
    {%- endcapture -%}

    {% render 'heading', extra_content: bouton_header %}
  {%- endcapture -%}

  {%- capture video_content -%}
    <div class="video-section video-section--{% if section.settings.background_type == 'boxed' %}boxed{% else %}full{% endif %} video-section--{{ section.settings.video_size }}">
      {%- capture video_poster -%}
        {%- assign text_position = section.settings.text_position | split: '_' | first -%}
        {%- assign text_alignment = section.settings.text_position | split: '_' | last -%}
        <div class="video-wrapper__poster {% if section.settings.background_type != 'boxed' %}video-wrapper__poster--text-position-{{ text_position }} video-wrapper__poster--text-alignment-{{ text_alignment }}{% endif %}">
          {%- unless section.settings.autoplay -%}
            {%- if section.settings.image != blank -%}
              {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: '(max-width: 740px) calc(100vw - 24px * 2), 1600px', widths: '400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800', class: 'video-wrapper__poster-image' -}}
            {%- elsif section.settings.video != blank -%}
              {{
              section.settings.video.preview_image
              | image_url: width: media.preview_image.width
              | image_tag:
              loading: 'lazy',
              sizes: '(max-width: 740px) calc(100vw - 24px * 2), 1600px',
              widths: '400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800',
              class: 'video-wrapper__poster-image'
              }}
            {% else %}
              {{- 'lifestyle-1' | placeholder_svg_tag: 'video-wrapper__poster-image placeholder-background' -}}
            {%- endif -%}
          {%- endunless -%}
          <div class="video-wrapper__poster-content {% if section.settings.background_type != 'boxed' %}content-box content-box--large content-box--text-{{ text_alignment }}{% endif %}">
            {%- unless section.settings.autoplay -%}
              <button type="button" class="video-wrapper__play-button video-wrapper__play-button--large video-wrapper__play-button--ripple" title="{{ 'general.accessibility.play_video' | t | escape }}">
                {%- render 'icon' with 'play', width: 72, height: 72 -%}
              </button>
            {%- endunless -%}

            {%- if section.settings.background_type != 'boxed' -%}
              {{- section_header -}}
            {%- endif -%}
          </div>
        </div>
      {%- endcapture -%}

      {%- if section.settings.video != blank -%}
        <native-video {% if section.settings.autoplay %}autoplay{% endif %} class="video-wrapper video-wrapper--native" {% if section.settings.video_size == 'auto' %}style="--aspect-ratio: {{ section.settings.video.aspect_ratio }}"{% endif %}>
          {{- video_poster -}}

          <template>
            {{- section.settings.video | video_tag: controls: section.settings.show_video_controls, autoplay: section.settings.autoplay, muted: section.settings.autoplay, playsinline: section.settings.autoplay, loop: section.settings.autoplay -}}
          </template>
        </native-video>
      {%- else -%}
        <external-video {% if section.settings.autoplay %}autoplay{% endif %} provider="{{ section.settings.video_url.type | escape }}" class="video-wrapper {% if section.settings.autoplay and section.settings.show_video_controls == false %}video-wrapper--inert{% endif %} {% if section.settings.background_type == 'full_width' and section.settings.video_size != 'auto' %}video-wrapper--cover{% endif %}">
          {{- video_poster -}}
          <template>
            {%- if section.settings.video_url.type == 'youtube' -%}
              <iframe title="{{ section.settings.title | escape }}" src="https://www.youtube{% if settings.video_no_cookie %}-nocookie{% endif %}.com/embed/{{ section.settings.video_url.id }}?playsinline=1&autoplay=1{% if section.settings.autoplay %}&controls={% if section.settings.show_video_controls %}1{% else %}0{% endif %}&mute=1&loop=1{% else %}&playlist={{ section.settings.video_url.id }}{% endif %}&enablejsapi=1&rel=0&modestbranding=1&origin={{ 'https://' | append: request.host | url_encode }}" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen" data-ot-ignore></iframe>
            {%- elsif section.settings.video_url.type == 'vimeo' -%}
              <iframe title="{{ section.settings.title | escape }}" src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1&autopause=1{% if section.settings.autoplay %}&background={% if section.settings.show_video_controls %}0{% else %}1{% endif %}&loop=1&muted=1{% endif %}&transparent=0&responsive=1&portrait=0&title=0&byline=0&color={{ settings.text_color | remove_first: '#' }}{% if settings.video_no_cookie %}&dnt=1{% endif %}" allow="autoplay; encrypted-media;" allowfullscreen="allowfullscreen" data-ot-ignore></iframe>
            {%- endif -%}
          </template>
        </external-video>
      {%- endif -%}
    </div>
  {%- endcapture -%}

  {%- if section.settings.background_type == 'boxed' -%}
    <div class="oz-section__wrapper {% if section.settings.background_gradiant != blank %}section__color-gradiant-wrapper{% else %}section__color-wrapper{% endif %}">
      <div class="oz-section__inner container {{ section.settings.internal_margin }}">
        {{- section_header -}}
        {{- video_content -}}
      </div>
    </div>
  {%- else -%}
    {{- video_content -}}
  {%- endif -%}
</section>
